.notfoundmain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
  font-size: 20px;
  font-family: "Roboto";
}

.notfoundimage {
  width: 180px;
}

.notfoundmain span {
  margin-bottom: 20px;
  margin-top: 20px;
}
