/* from Twitter Bootstrap */

.breadcrumb {
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: 0.25rem;
    background-color: transparent;
}

.breadcrumb::after {
    content: "";
    display: table;
    clear: both;
}

.breadcrumb-item {
    float: left;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    /*padding-right: 0.5rem;*/
    /*padding-left: 0.5rem;*/
    color: var(--grey-button-icons);
    content: "/";
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: none;
}

.breadcrumb-item.active {}


/*if you already use Twitter, you do not need these css lines above, cause they already in Twitter Bootstrap */


/* Additions: imgage integration */

.breadcrumbs {
    padding-left: 0;
    background-color: var(--body-text);
    border-radius: 0.25rem;
}

.breadcrumbs::after {
    content: "";
    display: table;
    clear: both;
}

.breadcrumbs .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    border: none;
    display: inline-block;
    float: left;
}

.breadcrumbs .breadcrumb-item {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--link-color);
}

.no-after {
    color: var(--body-text) !important;
}

.dark .breadcrumbs .breadcrumb-item {
    color: var(--link-color);
}

.breadcrumbs a.breadcrumb-item:after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\\";
    padding-right: 8px;
    padding-left: 8px;
    color: var(--body-text);
    text-decoration: none;
}

.breadcrumbs .icon:after {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: var(--body-text);
    content: "/";
}

.breadcrumbs .icon {
    display: inline-block;
}

.breadcrumbs .icon svg {
    height: 0.7rem;
    width: 0.7rem;
}