body {
  background-color: #ecf0f1;
}

.projectTitle{
  margin-top: 3px;
}

.navbar-inverse .navbar-nav > li > a {
  font-family: "Open Sans", serif;
}

/* banner home page */
.banner-container{
    width: 100%;
    background-color: #e4e9fa;
    height: 400px;
    margin-top: 10px;
}
.banner{
    width:100%;
    background-color: inherit;
}
.banner .text {
  color: #fff;
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
  margin-top: 52px;
}
.banner .text .first-line{
    font-size:3em;
    font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
}
.banner .text .second-line{
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  width: 650px;
  margin-bottom: 38px;
  margin-left: auto;
  margin-right: auto;
}

.banner-hr{
  background: #5f7ade;
  margin: 17px 0px 43px 0px;
  width: 53px;
  height: 6px;
  margin-left: auto;
  margin-right: auto;
}

.textcontainer{
  display: inline-block;
  float:none;
  width:100%;
  text-align:center;
}

.banner img{
    float:right;
    margin-top: 80px;
}

.home-first-line {
  width: 70%;
  margin: 50px auto;
}
.home-second-line {
  width: 55%;
  margin: 54px auto;
}
html body div.container div div.title{
    font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #162036;
}
html body div.container div.home-first-line div.text, html body div.container div.home-second-line div.text {
  color: #808080;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 0.8em;
  margin-bottom: 10px;
  max-width: 90%;
}
.header.homepage{
   max-width: 400px;
}

a.view-all-products {
  border: 2px solid #6d6d6d;
  border-radius: 50px;
  color: #162036;
  display: table;
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
  font-size: 1.2em;
  margin: 0 auto 50px;
  padding: 7px 28px;
  text-align: center;
  text-decoration: none;
}

a.view-all-products::after{
    content: '';
}

@media (max-width: 990px) {

    .home-first-line {
        margin-bottom:0px;
    }
    .home-second-line {
        width: 70%;
        margin-bottom: 16%;
        margin-top: 0px;
    }

}

.viewbutton{
  background-color: #ff720b;
  color: #fff;
  border: 2px solid #FF720B;
  font-size: 1em;
  float: left;
  margin-top: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 7%;
  padding-right: 7%;
  font-weight: bold;
}

.briefcase{
  display:none;
}

ul > .aa-input-container{
  display:none;
}

.aa-input-icon {
  fill: #7f7f7f;
}

.aa-input-container{
  margin-left: 164px;
  float:none;
  margin-bottom: 100px;
}

.navbarhome {
  background-color: #4c5883;
  border-color: #4c5883;
}

.section1 {
  background-color: #ecf0f1;
  margin-top: 323px;
}

.ourplatform {
  font-size: 3.333em;
  font-weight: bold;
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
}

.ourplatformdetails{
  float:left;
  font-size: 1.3em;
  width: 250px;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  line-height: 1.6em;
  margin-top: 10px;
}

.section1 .row {
  float: right;
  width: 280px;
  margin-top: 140px;
  margin-right:50px;
}

img.mockup {
  margin-top: 100px;
  width: 900px;
}

.bannerbot {
  background: linear-gradient(rgba(56, 55, 54, 0.8), rgba(56, 55, 54, 0.8)) center center / cover, url("https://s3-eu-west-1.amazonaws.com/ce-sr/Product+Marketing+images/Develop_your_bot_Image+(1).png");
  background-size: cover;
  background-position: center center;
}

.bannermessaging {
  background: linear-gradient(rgba(56, 55, 54, 0.8), rgba(56, 55, 54, 0.8)) center center / cover, url("https://s3-eu-west-1.amazonaws.com/ce-sr/Product+Marketing+images/Messaging_Image+(1).png");
  background-size: cover;
  background-position: center center;

}

.bannerchat {
  background: linear-gradient(rgba(56, 55, 54, 0.8), rgba(56, 55, 54, 0.8)) center center / cover, url("https://s3-eu-west-1.amazonaws.com/ce-sr/Product+Marketing+images/Developing_Image+(1).png");
  background-size: cover;
  background-position: center center;
}

.sectionbot{
  color: #fff;
  height: 250px;
  margin-top: 170px;
  margin-bottom: 180px;
  height: 564px;
  background-color: rgba(20, 32, 54, 0.80);
}

.sectionmessaging{
  background-color: rgba(255, 113, 19, 0.80);
  color: #fff;
  margin-top: 170px;
  margin-bottom: 180px;
  height: 534px;

}

.sectionchat{
  background-color: rgba(88, 121, 218, 0.80);
  color: #fff;
  height: 250px;
  margin-top: 170px;
  margin-bottom: 180px;
  height: 564px;
}

.bottitle{
  float: right;
  font-size: 2.6em;
  margin-top: 150px;
  line-height: 1.2em;
  width: 420px;
  font-weight: 100;
  margin-left: 100px;
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
  margin-right: 232px;
}

.botdetail{
  float: left;
  width: 370px;
  margin-right: 100px;
  background-color: #fff;
  color: black;
  padding: 30px 61px 40px 40px;
  margin-top: 40px;
  margin-left: 50px;
  -webkit-box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
  box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
}

.messagingtitle{
  float:right;
  font-size: 3em;
  margin-top: 50px;
  line-height: 1.2em;
  width:260px;
  font-weight:bold;
  margin-right: 170px;
}

.messagingdetail{
  float:left;
  width:330px;
  margin-right: 100px;
  background-color: #fff;
  color: black;
  padding: 30px;
  margin-top: 30px;
}

.chattitle{
  float:left;
  font-size: 3em;
  margin-top: 50px;
  line-height: 1.2em;
  width:200px;
  font-weight:bold;
  margin-left:80px;
}

.chatdetail{
  float:right;
  width:330px;
  margin-right: 100px;
  background-color: #fff;
  color: black;
  padding: 30px;
  margin-top: 30px;
}

.learnmore{
  margin-top: 10px;
  display: block;
  text-align: center;
  border-radius: 4px;
  font-size: 1.2em;
  width: 178px;
  padding: 10px 40px 10px 40px;
  background-color: #5f7ade;
  color: #fff;
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

.messagingdetail > .learnmore{
  margin-top: 58px;
}

.chatdetail > .learnmore{
margin-top: 58px;
}

.botdetailtitle {
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #0c1320;
  font-size: 1.5em;
  display: block;
  margin-bottom: 10px;
}

.botdetailtext{
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #333333;
  font-size: 1.200em;
}

.topbox{
  margin-top: -120px;
}

.sectionchat .topbox {
  margin-top: -120px;
}

.sectionbot .topbox {
  margin-top: -120px;
}


.navbar {
  max-height: 60px;
  border-color: transparent;
}

.upperbox{
  width:413px;
  height: 340px;
  background-color: #fff;
  color: black;
  margin-top: 30px;
  -webkit-box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
  box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
}

.right {
  float: right;
}

.middle {
  float: right;
  margin-right: 18px;
}

.left {
  float: left;
  margin-left: 5px;
}

.upperboxcontainer{
  width: 100%;
  text-align: center;
}

.upperboxtitle{
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: #0c1320;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 45px;
  display:block;
}

.upperboxdetails{
  font-size: 1.200em;
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 275px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom:34px;
  line-height: 1.6;
}

@media (max-width: 425px) {

  .banner .text .second-line {
    width: 400px;
  }

  .upperboxcontainer {
    width: 98.5%;
  }

  .middle {
    float:right;
    margin-right: 0;
  }

  .left {
    float:right;
  }

  .right {
    margin-top: 50px;
  }

  .banner-container{
    margin-top: 9px;
  }

  .sectionbot{
    margin-bottom: 321px;
  }

  .sectionmessaging{
    margin-bottom: 240px;
    height: 720px;
  }

.sectionbot .row {
  display: none;
}

.sectionmessaging .row {
  display:none;
}

.sectionchat .row{
  display: none;
}

.section1{
  display: none;
}

}
