body {
  background-color: #ecf0f1;
}

/* banner home page */
.banner-container{
    width: 100%;
    background-color: #4c5883;
}
.banner{
    width:100%;
    background-color: inherit;
}
.banner .text {
  color: #fff;
  font-family: "Roboto Slab",serif;
  margin-top: 90px;
}
.banner .text .first-line{
    font-size: 1.066em;
}
.banner .text .second-line{
    font-size:1.866em;
    /*max-width: 400px;*/
}

.textcontainer{
  display: inline-block;
  float:none;
  width:100%;
  text-align:center;
}

.banner img{
    float:right;
    margin-top: 80px;
}

.home-first-line {
  width: 70%;
  margin: 50px auto;
}
.home-second-line {
  width: 55%;
  margin: 54px auto;
}
html body div.container div div.title{
    font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #162036;
}
html body div.container div.home-first-line div.text, html body div.container div.home-second-line div.text {
  color: #808080;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 0.8em;
  margin-bottom: 10px;
  max-width: 90%;
}
.header.homepage{
   max-width: 400px;
}

a.view-all-products {
  border: 2px solid #6d6d6d;
  border-radius: 50px;
  color: #162036;
  display: table;
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
  font-size: 1.2em;
  margin: 0 auto 50px;
  padding: 7px 28px;
  text-align: center;
  text-decoration: none;
}

a.view-all-products::after{
    content: '';
}

@media (max-width: 990px) {

    .home-first-line {
        margin-bottom:0px;
    }
    .home-second-line {
        width: 70%;
        margin-bottom: 16%;
        margin-top: 0px;
    }

}

.viewbutton{
  background-color: #ff720b;
  color: #fff;
  border: 2px solid #FF720B;
  font-size: 1em;
  float: left;
  margin-top: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 7%;
  padding-right: 7%;
  font-weight: bold;
}

.briefcase{
  display:none;
}

ul > .aa-input-container{
  display:none;
}

.aa-input-icon {
  fill: #7f7f7f;
}

.aa-input-search{
  background-color: #fff !important;
  border-color: #fff;
  padding: 12px 800px 12px 12px;
  border-radius: 0;
}

.aa-input-container{
  margin-left: 164px;
  float:none;
  margin-bottom: 100px;
}

.navbarhome {
  background-color: #4c5883;
  border-color: #4c5883;
}

.section1 {
  background-color: #ecf0f1;
}

.ourplatform {
  font-size: 3em;
  font-weight: bold;
}

.ourplatformdetails{
  float:left;
  font-size: 1.2em;
  width: 230px;
}

.section1 .row {
  float: right;
  width: 280px;
  margin-top: 140px;
  margin-right:50px;
}

img.mockup {
  margin-top: 100px;
  width: 900px;
}

.sectionbot{
  background-color: #162036;
  color: #fff;
  height: 250px;
  margin-top: 80px;
}

.sectionmessaging{
  background-color: #FF720B;
  color: #fff;
  height: 250px;
  margin-top: 80px;
}

.sectionchat{
  background-color: #00ccff;
  color: #fff;
  height: 250px;
  margin-top: 80px;
  margin-bottom: 200px;
}

.bottitle{
  float:left;
  font-size: 3em;
  margin-top: 50px;
  line-height: 1.2em;
  width:100px;
  font-weight:bold;
  margin-left: 100px;
}

.botdetail{
  float:right;
  width:330px;
  margin-right: 100px;
  background-color: #fff;
  color: black;
  padding: 30px;
  margin-top: 30px;
}

.messagingtitle{
  float:right;
  font-size: 3em;
  margin-top: 50px;
  line-height: 1.2em;
  width:260px;
  font-weight:bold;
  margin-right: 170px;
}

.messagingdetail{
  float:left;
  width:330px;
  margin-right: 100px;
  background-color: #fff;
  color: black;
  padding: 30px;
  margin-top: 30px;
}

.chattitle{
  float:left;
  font-size: 3em;
  margin-top: 50px;
  line-height: 1.2em;
  width:200px;
  font-weight:bold;
  margin-left:80px;
}

.chatdetail{
  float:right;
  width:330px;
  margin-right: 100px;
  background-color: #fff;
  color: black;
  padding: 30px;
  margin-top: 30px;
}

.learnmore{
  margin-top: 10px;
  display: block;
  border: 1px solid black;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  width: 110px;
  padding: 5px 10px 5px 10px;
}

.messagingdetail > .learnmore{
  margin-top: 58px;
}

.chatdetail > .learnmore{
margin-top: 58px;
}
