:root {
  --primary-black: #15161f;
  --secondary-black: #2a2c3d;

  --darker-gray: #463e36;
  --dark-gray: #675d55;
  --gray: #847970;
  --mid-gray: #a39c96;
  --light-gray: #d9d4d0;
  --lighter-gray: #f8f5f3;
  --lightest-gray: #f5f5fa;

  --white: #ffffff;
  --orange: #fe5e00;
  --hover-orange: #b84400;
  --red: #eb5757;
  --lighter-red: #fff5f5;

  --electric-blue: #005ef4;
  --hover-electric-blue: #003fa3;
  --sky-blue: #2d9cdb;
  --lighter-sky-blue: #edf5fa;

  --grey-button-icons: #4e5066;

  --navy: #090c43;
  --dark-navy: #03041a;
  --navy-lightest-gray: #f5f5fa;
  --navy-lighter-gray: #dadbe5;
  --navy-light-gray: #818299;
  --navy-mid-gray: #5f617a;
  --navy-gray: #2d2f52;

  --primary: #03011d;
  --primary-focus: #0d0480;
  --primary-content: #03011d;
  --secondary-background: #005ef4;
  --secondary-text: #fcfcfd;
  --link-color: #675d55;
  --link-color-hover: var(--post-link-hover);
  --post-link: var(--secondary-background);
  --post-link-hover: #003fa3;
  --post-link-visited: #3100f4;
  --body-background: #ffffff;
  --body-text: #292b33;
  --title-text: #292b33;
  --footer-background: #f8f5f3;
  --footer-text: #000000;
  --card-background: #ffffff;
  --card-text: #0f0943;
  --card-border: rgba(0, 0, 0, 0.12);
  --cta-background: #0f0943;
  --cta-text: var(--button-text);
  --button-background: #005ef4;
  --button-text: #fcfcfd;
  --button-background-secondary: transparent;
  --button-text-secondary: #005ef4;
  --box-shadow: #dadbe5e0;
  --widget-text: #090c43;
  --important-background: #f0f6fa;
  --important-border: #006bb2;
  --error-background: #f8f1f2;
  --error-border: #b00020;
  --success-background: #f3f5f1;
  --success-border: #008738;
  --breadcrumbs-background: #e7e8ec;
  --breadcrumbs-text: #5a5f72;
  --input-search: #a39c96;
  --side-border-color: #282422;
  --input-search-background: #eeeff1;
  --input-search-text: #292b33;
  --text-invert: #fff;
}
.dark {
  --primary: #03041a;
  --primary-focus: #0d0480;
  --primary-content: #03011d;
  --secondary-background: #005ef4;
  --secondary-text: #fcfcfd;
  --link-color: #5d80ea;
  --link-color-hover: var(--post-link-hover);
  --post-link: #5ed7fb;
  --post-link-hover: #86e1fc;
  --post-link-visited: #47a2c3;
  --body-background: #121316;
  --body-text: #afb3c0;
  --title-text: #afb3c0;
  --footer-background: #090c43;
  --footer-text: #a2a3b8;
  --card-background: #03041a;
  --card-text: #f7f7f9;
  --card-border: #2d2f52;
  --cta-background: #005ef4;
  --cta-text: var(--button-text);
  --button-background: #005ef4;
  --button-background-hover: #091043;
  --button-text: #fff;
  --button-background-secondary: transparent;
  --button-text-secondary: #5ed7fb;
  --box-shadow: #000000d6;
  --widget-text: #dadbe5;
  --important-background: #101c25;
  --important-border: #429bd7;
  --error-background: #221117;
  --error-border: #ea405f;
  --success-background: #101e1f;
  --success-border: #3f9f66;
  --breadcrumbs-background: #363944;
  --breadcrumbs-text: #c6c9d2;
  --input-search: #818299;
  --side-border-color: #bcc9f0;
  --input-search-background: #24262e;
  --input-search-text: #81899c;
  --text-invert: #000;
}
