* {
  margin: 0;
}

html body {
  height: 100%;
}

body {
  padding-top: 0 !important;
}

.defaultwrapper {
  height: 100vh;
}

/* CSS-Grid Begins */

@supports (display: grid) {

  .defaultwrapper {
    display: grid;
    grid-template-columns: 2fr 0.37fr 8fr;
    grid-template-rows: auto 1fr 1fr auto;
  }

  .defaultheader {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    background-color: #fff;
    border-bottom: solid 1px #dedddd;
    padding: 42px 0 42px 70px;
  }

  .defaultsidebar {
    grid-column: 1 / span 1;
    grid-row: 1 / span 11;
    background-color: rgba(222, 221, 221, 0.5);
  }

  .defaultcontent {
    grid-column: 3 / span 1;
    display: flex;
  }

  .defaultfooter {
    grid-row: 11 / span 1;
    grid-column: 1 / span 3;
    background-color: #4a4a4a;
  }
}

/* CSS-Grid Ends */

/* Algolia Styling Begins */

#aa-search-input {
  background-color: none !important;
  border: none;
  width: 100%;
  font-size: 18px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#aa-search-input:focus {
  outline: none;
}

#aa-search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b5b5b5 !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px
}
.homesearch #aa-search-input::-moz-placeholder { /* Firefox 19+ */
  color: #b5b5b5 !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px
}

.homesearch #aa-search-input:-ms-input-placeholder { /* IE 10+ */
  color: #b5b5b5 !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px
}

.homesearch #aa-search-input:-moz-placeholder { /* Firefox 18- */
  color: #b5b5b5 !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px
}

.algolia-autocomplete {
  width: 12%;
}

.aa-input-search {
  width: 100%;
}

/* Algolia Styling Ends */

table {
  table-layout: fixed;
  margin-bottom: 15px;
}

.important {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}
