* {
  margin: 0;
}

html body {
  height: 100%;
}

body {
  padding-top: 0 !important;
}

b, strong {
  font-weight: 500 !important;
}

a:hover, a:focus {
  text-decoration: none !important;
}

.nav > li {
  display: flex !important;
  flex-wrap: wrap;
}

code pre {
  font-family: "Roboto Mono", Monaco, courier, monospace !important;
}


.defaultwrapper {
  height: 100vh;
}

.defaultfooter {
  padding: 19px 0px;
}

.defaultfooter span {
  color: #8b8b8b;
  font-size: 14px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 19px 0px 19px 88px;
}

.defaultfooter span a {
  color: #8b8b8b;
}

/* CSS-Grid Begins */

@supports (display: grid) {

  .defaultwrapper {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr 5fr 3fr 1fr 1fr;
    grid-template-rows: 92px 92px 1fr 1fr auto;
  }

  .defaultheader {
    display: grid;
    grid-template-columns:  20px auto;
    grid-template-rows: 1fr 2fr 1fr;
    grid-column: 4 / span 4;
    grid-row: 1 / span 1;
    background-color: #fff;
    padding: 40px 0 42px 0px;
    height: 82px;
    align-items: center;
    margin-right: 30px;
  }

  .defaultheader img {
      width: 22px;
  }

  .documenttitlecontainer {
    grid-column: 4 / span 2;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }

  .searchimage {
    background-color: #f2f2f2;
    grid-column: 1;
    grid-row: 1 / span 1;
    z-index: 1;
    height: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }

  .sidebartop {
    display: flex;
    height: 184px;
    width: 19.2%;
    background-color: #162036;
    position: fixed;
  }

  .defaultsidebar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 11;
    background-color: #3d4558;
    display:flex;
    flex-direction: column;
  }

  .defaultcontent {
    grid-column: 4 / span 1;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    margin-top: 16px;
  }

  .defaultbutton {
    grid-column: 7 / span 1;
    grid-row: 2;
    height: 44px;
    background-color: #e9e9e9;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 12px 12px;
    margin-right: 30px;
    margin-top: 42px;
    text-align: center;
  }

  .defaultbutton a {
    color: #5879DA;
  }

  .defaultfooter {
    grid-row: 11 / span 1;
    grid-column: 3 / span 6;
    background-color: #e9e9e9;
  }
}


/* CSS-Grid Ends */

.post-content img {
  width: 100%;
}

.codebtn {
  user-select: none;
  order: 1;
  align-self: flex-end;
  width: 15px;
  margin-top: 1px;
  order: 1;
  margin-right: 7%;
}

.codebtn img {
  width: inherit;
}

.copybefore {
  display: block;
  margin-top: 3px;
}

.copyafter {
  display: none;
}

.bluehighlight {
  color: #5879DA;
}

.breadhidden {
  display: none;
}

/* Algolia Styling Begins */

#aa-search-input {
  background-color: none !important;
  border: none;
  width: 100%;
  font-size: 18px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #f2f2f2 !important;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 25px;
}

#aa-search-input:focus {
  outline: none;
}

#aa-search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a2a2a2 !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px
}
.homesearch #aa-search-input::-moz-placeholder { /* Firefox 19+ */
  color: #a2a2a2 !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px
}

.homesearch #aa-search-input:-ms-input-placeholder { /* IE 10+ */
  color: #a2a2a2 !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px
}

.homesearch #aa-search-input:-moz-placeholder { /* Firefox 18- */
  color: #a2a2a2 !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px
}

.algolia-autocomplete {
  width: 100%;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.aa-input-search {
  width: 100%;
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
  font-weight: 400;
}

/* Algolia Styling Ends */

table {
  table-layout: fixed;
  margin-bottom: 20px;
}

.important {
  border-left-color: #f66;
  padding: 12px 24px 12px 30px;
  margin: 2em 0;
  border-left-width: 4px;
  border-left-style: solid;
  background-color: #f8f8f8;
  font-size: 14px;
  line-height: 1.71;
  color: #4a4a4a;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding-left: 15px;
}

.important::before {
  content: "\f06a";
  color: #f88181;
  font-family: "FontAwesome";
  font-size: 18px;
  font-weight: 900;
  margin-right: 5px;
}

.important p:not(:first-child) {
  margin-left: -25px;
}

/* Sidebar Styling Begins */

.solutionslist {
  display: none;
}

.sidebarbuttons {
  display: flex;
  align-self: center;
  position: fixed;
  top: 145px;
  left: 38px;
}

.documentsbutton {
  flex: 1;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  font-weight: 300;
}

.documentsbutton a {
  color: #f2f1f2;
}

.documentsbuttonimage {
  margin-right: 16px;
}

.solutionsbutton {
  flex: 1;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: 300;
}

.solutionsbutton a {
  color: #f2f1f2;
}

.solutionsbuttonimage {
  margin-right: 16px;
}

.underline:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 0;
  height: 2px;
  background: #f2f1f2;
  -webkit-transition: width 250ms ease-in-out;
  -moz-transition: width 250ms ease-in-out;
  -o-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
}

.underline.lined:after {
  width: 45%;
}

.solutionsunderline:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 180px;
  width: 0;
  height: 2px;
  background: #f2f1f2;
  -webkit-transition: width 250ms ease-in-out;
  -moz-transition: width 250ms ease-in-out;
  -o-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
}

.solutionsunderline.lined:after {
  width: 42%;
}

.topfolder {
  line-height: 3.3;
  margin-left: 34px;
}

.topfolder > ul {
  padding-left: 0px;
}

.topfolder > ul > li {
  margin-bottom: 3px;
}

.innerfolder > ul {
  padding-left: 0px;

}

.innerfolder > li {
  padding-left: 0px;
}

.subfolder > ul {
  padding-left: 0px;

}

.subfolder > li {
  padding-left: 0px;
}

.subfolder > a > .expand {
  margin-right: 10px !important;
}

.innerfolder > a {
  color: #f2f1f2 !important;
  font-size: 13px !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
  display: flex;
  margin-left: -4px;
}

.innerfolder > a > span {
  margin-left: 14px;
}

.innerfolder > a > .expand {
  float: none;
  margin-right: 20px;
  margin-top: 0px;
  align-self: center;
}

.topfolder > ul > li:first-child{
  margin-top: 2px;
}

.innerfolder > ul > li:first-child {
  margin-top: 2px;
}

.subfolder > ul > li:first-child {
  margin-top: 2px;
}

.innerfolder > ul > li:last-child .innerlink {
  margin-bottom: 2px;
}

.subfolder > ul > li:last-child .innerlink {
  margin-bottom: 2px;
}

.documentslist, .solutionslist .innerlink {
  font-size: 14px !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
  padding-left: 19px;
  margin-bottom: 2px;
}

.topfolder img {
  float: left;
  margin-right: 10px;
}

.sidebarimage {
  align-self: center;
}

.subfolder {
  margin-bottom: 0;
  padding-left: 19px !important;
}

.subfolder > a {
  color: #f2f1f2 !important;
  font-size: 13px !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
}

.nav > li > a:focus {
  background-color: inherit !important;
  outline: inherit;
}


.homeitem > a {
  font-family: "Roboto";
  font-size: 16px;
  color: #f2f1f2 !important;
}

.homeitem > a:hover {
  color: #f2f1f2 !important;
}

.sitelogo {
  margin-top: 21px;
  margin-left: 32px;
  position: fixed;
}


/* Sidebar Styling Ends */

.language-json, .language-swift, .language-html, .language-java, .language-javascript, .language-sh, .language-ruby, .language-xml {
  display: flex;
  flex-direction: column;
}

.language-json:before, .language-swift:before, .language-html:before, .language-java:before, .language-javascript:before, .language-sh:before, .language-ruby:before, .language-xml:before {
  position: absolute;
  color: #a2a2a2;
  text-align: right;
  font-size: 0.75em;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  line-height: 15px;
  height: 15px;
  font-weight: 500;
  margin-top: 2px;
  align-self: flex-end;
}

li .language-json:before, li .language-swift:before, li .language-html:before, li .language-java:before, li .language-javascript:before, li .language-sh:before, li .language-ruby:before {
  margin-left: 654px;
}

.language-swift:before{
  content: "SWIFT";
}

.language-json:before{
  content: "JSON";
}

.language-html:before {
  content: "HTML";
}

.language-java:before {
  content: "JAVA";
}

.language-javascript:before {
  content: "JS";
  padding-left: 22px;
}

.language-sh:before {
  content: "SH";
  padding-left: 22px;
}

.language-ruby:before {
  content: "RUBY";
}

.documenttitle {
  display: flex;
  margin-top: 25px;
}

.documenttitle .h1{
  align-self: center;
}

.pagehr {
  margin-top: 24px;
  border: 0;
  border-top: 1px solid #dedddd;;
}

.sidebarhr {
  margin-left: 20.5px;
  margin-right: 20.5px;
  height: 2px;
  background-color: #616d8a;
  border-top: none;
}

.supportbutton {
  padding: 10px 41px;
  border: solid 1px #f2f1f2;
  margin-right: 67px;
  margin-left: 67px;
}

.supportbutton span {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #f2f1f2;
}

.anchorlist {
  background-color: #f2f2f2;
  padding: 6px 10px 6px 10px;
  align-self: flex-end;
  width: 20%;
  z-index: 1000;
}

.anchorlist ul {
  list-style: none;
  display: none;
  padding-left: 0;
  background-color: #f2f2f2;
  margin-left: -10px;
  padding: 10px;
  margin-bottom: 0px;
}

.anchorlist a {
  color: #4a4a4a;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: flex;
}

.anchorlist .fa {
  font-size: 16px;
  margin-left: 10px;
  align-self: flex-end;
  flex: 1;
  text-align: right;
}

.anchorlist li {
  margin-bottom: 10px;
}

.anchorlist li:last-of-type {
  margin-bottom: 0;
}

.anchorlist li a {
  color: #248ec2 !important;
}

a.anchoritem {
  width: 100%;
  word-break: break-word;
}

button {
  color: #f2f2f2;
  background: inherit;
  width: 20px;
  height: 20px;
  border: 0;
  font-size: 1.5em;
  position: relative;
  align-self: center;
}

button:focus {
  outline: none;
}

button span {
  position: absolute;
  transition: .3s;
  background: #b1b5bc;
}

button span:first-of-type {
  top: 25%;
  bottom: 25%;
  width: 10%;
  left: 45%;
}

button span:last-of-type {
  left: 25%;
  right: 25%;
  height: 10%;
  top: 45%;
}

.clicked span:first-of-type, .clicked span:last-of-type {
  transform: rotate(90deg);
}

.clicked span:last-of-type {
  left: 50%;
  right: 50%;
}

.highlighter-rouge {
  background-color: #f5f5f5;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 10px;
}

@media screen and (max-width:1440px){
  .defaultheader {
    grid-column: 4 / span 4;
    margin-left: 70px;
  }

  .defaultsidebar {
    grid-column: 1 / span 3;
  }

  .defaultfooter {
    grid-column: 4 / span 6;
  }

  ul.mysidebar {
    width: 22.4%;
    margin-left: 0px;
  }

  .documenttitlecontainer {
    margin-left: 70px;
  }

  .defaultcontent {
    margin-left: 70px;
    grid-column: 4 / span 2;
  }

  .defaultbutton {
    width: 120px;
    padding: 12px 13px;
    margin-top: 12px;
  }

  .sidebartop {
    width: 22.3%;
  }

  .sidebarbuttons {
    left: 20px;
  }

  .documentsbutton {
    margin-right: 20px;
  }

  .underline.lined:after {
    width: 51%;
  }

  .solutionsunderline.lined:after {
    width: 45%;
    left: 148px;
  }

  .topfolder {
    margin-right: 17px;
  }

  .supportbutton {
    padding: 10px 18px;
  }

  .anchorlist {
    margin-right: -227px;
  }
}

@media screen and (max-width:1024px){

  .sitelogo {
    margin-top: 15px;
    margin-left: 18px;
  }

  .sidebarbuttons {
    flex-direction: column;
    top: 85px;
  }

  .documentsbutton {
    margin-bottom: 34px;
  }

  .underline:after {
    bottom: 52px;
  }

  .underline.lined:after {
    width: 91%;
  }

  .solutionsunderline.lined:after {
    width: 91%;
    left: 0;
  }

  .sidebartop {
    width: 21.3%;
  }

  ul.mysidebar {
    width: 21.3%;
  }

  .mysidebar.nav li.folder > a {
    font-size: 11px !important;
  }

  .innerfolder > a > span {
    font-size: 11px !important;
  }

  .innerlink {
    font-size: 10px !important;
  }

  .topfolder {
    margin-left: 10px;
    margin-right: 5px;
  }

  .supportbutton {
    padding: 10px 22px;
    margin-right: 27px;
    margin-left: 27px;
  }
}
