* {
  margin: 0;
}

html body {
  height: 100%;
}

body {
  padding-top: 0 !important;
}

.defaultwrapper {
  height: 100vh;
}

.defaultfooter {
  padding: 19px 0px;
}

.defaultfooter span {
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 19px 0px 19px 88px;
}

.defaultfooter span a {
  color: #fff;
}

/* CSS-Grid Begins */

@supports (display: grid) {

  .defaultwrapper {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr 8fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
  }

  .defaultheader {
    grid-column: 3 / span 4;
    grid-row: 1 / span 1;
    background-color: #fff;
    border-bottom: solid 1px #dedddd;
    padding: 42px 0 42px 70px;
    height: 82px;
    display: flex;
    align-items: center;
  }

  .defaultsidebar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 11;
    background-color: rgba(222, 221, 221, 0.5);
    display:flex;
    flex-direction: column;
  }

  .defaultcontent {
    grid-column: 4 / span 1;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
  }

  .defaultbutton {
    grid-column: 6 / span 1;
    height: 44px;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 12px 19px;
    margin-right: 15px;
    margin-top: 29px;
  }

  .defaultbutton a {
    color: #5879DA;
  }

  .defaultfooter {
    grid-row: 11 / span 1;
    grid-column: 1 / span 6;
    background-color: #4a4a4a;
  }



/* CSS-Grid Ends */

.post-content img {
  width: 100%;
}

/* Algolia Styling Begins */

#aa-search-input {
  background-color: none !important;
  border: none;
  width: 100%;
  font-size: 18px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#aa-search-input:focus {
  outline: none;
}

#aa-search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b5b5b5 !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px
}
.homesearch #aa-search-input::-moz-placeholder { /* Firefox 19+ */
  color: #b5b5b5 !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px
}

.homesearch #aa-search-input:-ms-input-placeholder { /* IE 10+ */
  color: #b5b5b5 !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px
}

.homesearch #aa-search-input:-moz-placeholder { /* Firefox 18- */
  color: #b5b5b5 !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px
}

.algolia-autocomplete {
  width: 100%;
}

.aa-input-search {
  width: 100%;
}

/* Algolia Styling Ends */

table {
  table-layout: fixed;
  margin-bottom: 15px;
}

.important {
  border-left-color: #f66;
  padding: 12px 24px 12px 30px;
  margin: 2em 0;
  border-left-width: 4px;
  border-left-style: solid;
  background-color: #f8f8f8;
  font-size: 14px;
  line-height: 1.71;
  color: #4a4a4a;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding-left: 45px;
}

.important:before {
  content: "!";
  background-color: #f88181;
  position: absolute;
  left: 480px;
  color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  text-align: center;
  line-height: 18px;
  font-weight: bold;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 900;
  margin-top: 3px;
  margin-left: -25px;
}

.important p:not(:first-child) {
  margin-left: -25px;
}

/* Sidebar Styling Begins */

.solutionslist {
  display: none;
}

.sidebarbuttons {
  display: flex;
  align-self: center;
  position: fixed;
  top: 125px;
  left: 38px;
}

.documentsbutton {
  flex: 1;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-right: 50px;
  display: flex;
}

.documentsbutton a {
  color: #4a4a4a;
}

.documentsbuttonimage {
  margin-right: 16px;
  height: 20px;
}

.solutionsbutton {
  flex: 1;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: flex;
}

.solutionsbutton a {
  color: #4a4a4a;
}

.solutionsbuttonimage {
  margin-right: 16px;
  height: 20px;
}

.underline:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 1px;
  background: #4a4a4a;
  -webkit-transition: width 250ms ease-in-out;
  -moz-transition: width 250ms ease-in-out;
  -o-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
}

.underline.lined:after {
  width: 45%;
}

.solutionsunderline:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 168px;
  width: 0;
  height: 1px;
  background: #4a4a4a;
  -webkit-transition: width 250ms ease-in-out;
  -moz-transition: width 250ms ease-in-out;
  -o-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
}

.solutionsunderline.lined:after {
  width: 42%;
}

.topfolder {
  line-height: 2.3;
}

.topfolder > ul {
  padding-left: 0px;
}

.topfolder > ul > li {
  margin-bottom: 3px;
}

.innerfolder > ul {
  padding-left: 0px;

}

.innerfolder > li {
  padding-left: 0px;
}

.subfolder > ul {
  padding-left: 0px;

}

.subfolder > li {
  padding-left: 0px;
}

.innerfolder > a {
  color: #4a4a4a !important;
  font-size: 14px !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
}

.topfolder > ul > li:first-child{
  margin-top: 2px;
}

.innerfolder > ul > li:first-child {
  margin-top: 2px;
}

.subfolder > ul > li:first-child {
  margin-top: 2px;
}

.innerfolder > ul > li:last-child .innerlink {
  margin-bottom: 2px;
}

.subfolder > ul > li:last-child .innerlink {
  margin-bottom: 2px;
}

.documentslist, .solutionslist .innerlink {
  color: #4a4a4a !important;
  font-size: 14px !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
  padding-left: 19px;
  margin-bottom: 2px;
}

.subfolder {
  margin-bottom: 0;
}

.subfolder > a {
  color: #4a4a4a !important;
  font-size: 14px !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
}

.nav > li > a:focus {
  background-color: inherit !important;
  outline: inherit;
}

.homeitem {
  margin-left: 5px;
}

.homeitem a {
  font-family: "Roboto";
  font-size: 16px;
  color: #8c909c;
  margin-bottom: 20px;
  font-weight: bold;
  color: #5879da;
}

.homeitem a:hover {
  color: #5879da !important;
}

.sitelogo {
  width: 188px;
  margin-top: 21px;
  margin-left: 32px;
  position: fixed;
}


/* Sidebar Styling Ends */

.highlighter-rouge {
  width: 150%;
}

.language-json:before, .language-swift:before, .language-html:before, .language-java:before, .language-javascript:before, .language-sh:before, .language-ruby:before {
  position: absolute;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  line-height: 15px;
  height: 15px;
  font-weight: 300;
  margin-left: 695px;
  margin-top: 2px;
}

.language-swift:before{
  content: "SWIFT";
}

.language-json:before{
  content: "JSON";
}

.language-html:before {
  content: "HTML";
}

.language-java:before {
  content: "JAVA";
}

.language-javascript:before {
  content: "JS";
  padding-left: 22px;
}

.language-sh:before {
  content: "SH";
  padding-left: 22px;
}

.language-ruby:before {
  content: "RUBY";
}

.pagehr {
  margin-top: 0px;
  margin-bottom: 35px;
  border: 0;
  border-top: 1px solid #dedddd;;
}

@media screen and (max-width:1440px){
  .defaultheader {
    grid-column: 4 / span 4;
  }

  .defaultsidebar {
    grid-column: 1 / span 3;
  }

  .defaultcontent {
    margin-left: 70px;
  }

  .defaultbutton {
    width: 120px;
    padding: 12px 13px;
  }
}

@media screen and (max-width:1440px){

}
