* {
  margin: 0;
}

html body {
  height: 100%;
}

body {
  padding-top: 0 !important;
}

.defaultwrapper {
  height: 100vh;
}

/* CSS-Grid Begins */

@supports (display: grid) {

  .defaultwrapper {
    display: grid;
    grid-template-columns: 2fr 0.37fr 8fr;
    grid-template-rows: auto 1fr 1fr auto;
  }

  .defaultheader {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    background-color: #fff;
    border-bottom: solid 1px #dedddd;
    padding: 42px 0 42px 70px;
  }

  .defaultsidebar {
    grid-column: 1 / span 1;
    grid-row: 1 / span 11;
    background-color: rgba(222, 221, 221, 0.5);
    display:flex;
    flex-direction: column;
  }

  .defaultcontent {
    grid-column: 3 / span 1;
    display: flex;
  }

  .defaultfooter {
    grid-row: 11 / span 1;
    grid-column: 1 / span 3;
    background-color: #4a4a4a;
  }
}

/* CSS-Grid Ends */

/* Algolia Styling Begins */

#aa-search-input {
  background-color: none !important;
  border: none;
  width: 100%;
  font-size: 18px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#aa-search-input:focus {
  outline: none;
}

#aa-search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b5b5b5 !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px
}
.homesearch #aa-search-input::-moz-placeholder { /* Firefox 19+ */
  color: #b5b5b5 !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px
}

.homesearch #aa-search-input:-ms-input-placeholder { /* IE 10+ */
  color: #b5b5b5 !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px
}

.homesearch #aa-search-input:-moz-placeholder { /* Firefox 18- */
  color: #b5b5b5 !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px
}

.algolia-autocomplete {
  width: 12%;
}

.aa-input-search {
  width: 100%;
}

/* Algolia Styling Ends */

table {
  table-layout: fixed;
  margin-bottom: 15px;
}

.important {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Sidebar Styling Begins */

.solutionslist {
  display: none;
}

.sidebarbuttons {
  display: flex;
  align-self: center;
  position: fixed;
  top: 125px;
}

.documentsbutton {
  flex: 1;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-right: 50px;
}

.documentsbutton a {
  color: #4a4a4a;
}

.solutionsbutton {
  flex: 1;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.solutionsbutton a {
  color: #4a4a4a;
}

.topfolder {
  line-height: 2.3;
}

.topfolder > ul {
  padding-left: 0px;
}

.topfolder > ul > li {
  margin-bottom: 3px;
}

.innerfolder > ul {
  padding-left: 0px;

}

.innerfolder > li {
  padding-left: 0px;
}

.subfolder > ul {
  padding-left: 0px;

}

.subfolder > li {
  padding-left: 0px;
}

.innerfolder > a {
  color: #4a4a4a !important;
  font-size: 14px !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
}

.topfolder > ul > li:first-child{
  margin-top: 2px;
}

.innerfolder > ul > li:first-child {
  margin-top: 2px;
}

.subfolder > ul > li:first-child {
  margin-top: 2px;
}

.innerfolder > ul > li:last-child .innerlink {
  margin-bottom: 2px;
}

.subfolder > ul > li:last-child .innerlink {
  margin-bottom: 2px;
}

.documentslist .innerlink {
  color: #4a4a4a !important;
  font-size: 14px !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
  padding-left: 19px;
  margin-bottom: 2px;
}

.subfolder {
  margin-bottom: 0;
}

.subfolder > a {
  color: #4a4a4a !important;
  font-size: 14px !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
}

.nav > li > a:focus {
  background-color: none !important;
}




/* Sidebar Styling Ends */
