:root {
    --max-width: 1616px;
    /*  1616px */
    --header-padding: 0;
    /*  size */
    --space-unit: 4px;
    /*  4px */
    --space2: calc(2 * var(--space-unit));
    /*  8px */
    --space3: calc(3 * var(--space-unit));
    /*  14px */
    --space4: calc(4 * var(--space-unit));
    /*  16px */
    --space6: calc(6 * var(--space-unit));
    /*  24px */
    --space8: calc(8 * var(--space-unit));
    /*  32px */
    --space10: calc(10 * var(--space-unit));
    /*  40px */
    --space12: calc(12 * var(--space-unit));
    /*  48px */
    --space16: calc(16 * var(--space-unit));
    /*  64px */
    --space175: calc(17.5 * var(--space-unit));
    /*  70px */
    --space25: calc(25 * var(--space-unit));
    /*  100px */
    --navbar-padding: 24px 0;
}

*,
* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

html body {
    height: 100%;
}

body {
    padding-top: 0 !important;
    font-family: "Inter", sans-serif;
}

b,
strong {
    font-weight: bold;
}

p {
    margin: 0 0 16px;
}

.termsUseHighlight {
    color: currentColor !important;
    cursor: pointer;
}

.nav>li {
    display: flex !important;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.gap-32 {
    gap: 32px;
}

.side-width {
    width: 320px;
}

#mainHeader {
    top: 0;
    min-height: 96px;
    z-index: 100;
    background-color: var(--body-background);
    border-bottom: 1px solid var(--card-border);
    position: fixed;
    width: 100%;
}

#mainHeader>.max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
}

.scroll {
    box-shadow: 0px 4px 8px var(--box-shadow);
}

#logoHeader {
    display: flex;
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
}

.sitelogo {
    margin: 0;
}

svg.sitelogo {
    width: 100%;
    max-width: 100%;
}

.devLabel {
    flex-shrink: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.008em;
    color: var(--link-color);
}

#logoImg {
    padding-left: 22px;
}

#searchHeader {
    position: relative;
    flex: 3;
    -ms-flex: 3;
    /* IE 10 */
    align-items: center;
    width: 100%;
}

#loginHeader {
    display: flex;
    justify-content: flex-end;
}

a #loginHeader {
    flex: 1;
}

code pre {
    font-family: "Roboto Mono", Monaco, courier, monospace !important;
}

.far {
    font-size: 15px;
}

.indicator-container {
    display: flex;
    gap: 4px;
    padding-bottom: var(--space8);
}

.documenttitlecontainer {
    display: flex;
    flex-direction: column;
    padding-top: var(--space8);
}

.titlecontainer {
    display: flex;
    flex: 1;
}

.fa-pencil-alt {
    margin-right: 5px;
    color: var(--link-color-hover);
}

.indicator-container {
    gap: 8px;
}

.suggestbutton {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
}

.suggestbutton a {
    color: var(--post-link);
}

.suggestbutton i {
    color: var(--post-link);
    margin-right: 8px;
}

.suggesthidden {
    display: none;
}

.defaultfooter {
    padding: 19px 0;
    display: flex;
    min-width: 100%;
    width: 100%;
    color: var(--footer-text);
    margin-bottom: -25px;
}

.defaultfooter span {
    display: flex;
}

.defaultfooter span a {
    color: currentColor;
}

.defaultwrapper {
    padding-top: 96px;
    min-height: calc(100vh - 58px);
    display: flex;
    min-width: 100%;
    gap: 32px;
}

.searchimage {
    z-index: 1;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    right: 16px;
}


/* .searchimage img {
  height: 24px;
  right: -35px;
  position: relative;
  top: -12px;
} */

.searchimage svg {
    right: 0;
    position: relative;
}

.sidebartop {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100%;
    background-color: var(--body-background);
}

.defaultsidebar {
    background-color: var(--body-background);
    display: flex;
    padding-top: var(--space8);
    margin-right: 0% !important;
    min-width: 310px;
    padding-bottom: var(--space8);
    flex-direction: column;
}

.defaultcontent {
    display: flex;
    margin-bottom: var(--space8);
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    flex: 3;
}

.searchHighlight {
    background: rgba(0, 119, 255, 0.1);
}

.metricHighlight {
    background: rgba(0, 119, 255, 0.1);
}

.activepage {
    color: var(--side-border-color) !important;
    font-weight: bold;
}

.activepage:hover {
    color: var(--side-border-color) !important;
}

.codebtn {
    user-select: none;
    order: 1;
    align-self: flex-end;
    width: 35px;
    padding-top: 9px;
    order: 1;
    border: 0;
    color: var(--grey-button-icons);
    background-color: transparent;
    position: absolute;
    z-index: 10;
}

.nightbtn {
    user-select: none;
    order: 1;
    align-self: flex-end;
    width: 85px;
    padding-top: 10px;
    order: 1;
    color: var(--grey-button-icons);
    border: 0;
    background-color: transparent;
    position: absolute;
}

.darken {
    background-color: var(--primary-black);
}

.darken::before {
    background-color: var(--footer-background);
    color: var(--footer-text);
}

.darken .highlight {
    background-color: var(--footer-background);
}

.darken button {
    background-color: transparent !important;
    color: var(--button-text-secondary);
}


/* 
.darken code {
  filter: brightness(280%);
} */

.darken code span::selection {
    background-color: var(--sky-blue);
}

.darken .nightbtn {
    opacity: 1;
}

.darken .daybtn {
    opacity: 0.4;
}

.darken .codebtn {
    color: #f2f1f2;
}

.daybtn:focus {
    outline: 0;
}

.nightbtn:focus {
    outline: 0;
}

.codebtn:focus {
    outline: 0;
}

.codebtn img {
    width: inherit;
}

.copybefore {
    display: block;
    margin-top: 3px;
}

.copyafter {
    display: none;
}

.bluehighlight {
    color: var(--link-color-hover);
}

.breadhidden {
    display: none;
}

#aa-search-input {
    border-radius: 25px;
    background-color: var(--input-search-background) !important;
    width: 100%;
    min-width: 250px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 20px;
    border: none;
}

#aa-search-input:focus {
    outline: 0;
}

#aa-search-input::-webkit-input-placeholder {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

#aa-search-input::-moz-placeholder {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--input-search-text);
}

#aa-search-input:-ms-input-placeholder {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--input-search);
}

#aa-search-input:-moz-placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--input-search);
}

.algolia-autocomplete {
    height: auto;
    flex: 1;
    display: flex !important;
}

.algolia-autocomplete .ds-dropdown-menu {
    z-index: 1001;
}

.aa-input-search {
    width: 100%;
}

input.aa-input-search.aa-hint {
    background: none 0% 0% / auto repeat scroll padding-box border-box var(--body-background) !important;
}

input#aa-search-input {
    color: var(--title-text);
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
    font-weight: 400;
}

.sidebyside {
    display: flex;
    margin-right: 25px;
}

.showcase img {
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.1);
}

table {
    table-layout: fixed;
    margin-bottom: 20px;
}

table tbody td img {
    width: 100%;
}

.mobilefeaturestable {
    display: none;
}

.max-width {
    max-width: var(--max-width);
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .home-container {
        flex-direction: column;
    }
    .home-container .welcome-card {
        width: 100%;
    }
    .welcome-card {
        width: 100%;
    }
    #free-trial {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .max-width {
        max-width: 100%;
        margin: inherit;
    }
}

@media (min-width: 769px) and (max-width: 1680px) {
    .max-width {
        padding-left: var(--space8);
        padding-right: var(--space8);
    }
}

@media (max-width: 768px) {
    .max-width {
        padding-left: 0;
        padding-right: 0;
        word-break: break-word;
    }
    .side-width:not(.logoHeader) {
        width: 100%;
    }
}

#featurestable {
    width: 100%;
    max-width: none;
}

#featurestable thead>tr>th {
    padding: 14px 10px;
    text-align: center;
}

#featurestable thead>tr>th:first-child {
    width: 13%;
}

#featurestable tr td {
    vertical-align: middle;
}

#featurestable .green {
    color: green;
}

#featurestable .yellow {
    color: yellow;
}

#featurestable .red {
    color: red;
}

.tooltipicon {
    font-size: 8px;
    color: #666;
    position: absolute;
    margin-left: 2px;
}

.tooltipicon:hover .tooltipinfo {
    display: flex;
}

.tooltipinfo {
    display: none;
    background-color: #162036;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    border-radius: 3px;
    font-family: "Inter", sans-serif;
    margin-top: 9px;
    margin-left: -8.1px;
}

.tooltipinfo::before {
    content: " ";
    position: absolute;
    bottom: 65%;
    left: -9px;
    margin-left: 5.4px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

#capabilitiesSearch {
    width: 25.5%;
    padding: 5px;
    padding-left: 10px;
}

.categoryrow {
    background-color: #162036 !important;
}

.categoryrow td {
    border-right: solid 0 #fff !important;
    color: #fff !important;
}

.categoryrow td:first-child {
    padding: 12px 25.5px 10px 23px;
}

.tableIcon {
    width: 24px;
    margin: 0 20px 0 24px;
}

#metricsSearch {
    width: 30.5%;
    padding: 5px;
    padding-left: 10px;
}

.important {
    border-left-color: var(--important-border);
    padding: 16px;
    margin: 0 0 24px 0;
    border-radius: 4px;
    border-left-width: 4px;
    border-left-style: solid;
    background-color: var(--important-background);
    color: var(--widget-text);
}

.beforeImportant {
    content: "\\f05a";
    border-radius: 4px 0px 0px 4px;
    color: var(--important-border);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    font-weight: 900;
    margin: 0px 10px 10px 0px;
    position: relative;
    top: 2px;
}

.innerWrapperAlertIcons {
    float: left;
    height: 16px;
}

.beforeNotice {
    content: "\\f06a";
    border-radius: 4px 0px 0px 4px;
    color: var(--error-border) !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    font-weight: 900;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.important p:not(:first-child) {
    margin-left: -25px;
}

.notice {
    border-left-color: var(--error-border);
    border-radius: 4px;
    padding: 16px;
    margin: 24px 0;
    border-left-width: 4px;
    border-left-style: solid;
    background-color: var(--error-background);
    color: var(--widget-text);
    padding-left: 15px;
}

.notice p:not(:first-child) {
    margin-left: -25px;
}

.deprecated {
    border-left-color: #000;
    padding: 12px 24px 12px 30px;
    margin: 2em 0;
    border-left-width: 4px;
    border-left-style: solid;
    background-color: #f8f8f8;
    font-size: 14px;
    line-height: 1.71;
    color: #4a4a4a;
    font-family: "Inter", sans-serif;
    padding-left: 15px;
}

.deprecated::before {
    content: "\f071";
    color: #000;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    font-weight: 900;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.important p:not(:first-child) {
    margin-left: -25px;
}

.solutionslist {
    display: none;
}

.sidebarbuttons {
    flex: 1;
    align-self: flex-start;
    margin-top: 24px;
    margin-left: 30px;
    color: #fff;
    display: flex;
}

.sidebarbuttons div {
    border-radius: 25px;
    padding: 7px 25px;
    font-size: 12px;
    height: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.sidebarbuttons a {
    color: #fff;
    text-decoration: none;
}

a.loginText {
    display: flex;
}

.loginButton {
    color: var(--button-text-secondary);
    border: none;
    background-color: var(--button-background-secondary);
}

.loginButton:hover {
    color: var(--link-color-hover);
}

.trialButton:hover {
    background-color: var(--hover-electric-blue);
}

.trialButton {
    background-color: var(--secondary-background);
    color: var(--button-text);
    border: 0px;
}

#loginHeader {
    gap: 24px;
}

.trialButton {
    padding: 12px 32px;
}

.loginButton,
.trialButton {
    text-align: center;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-radius: 24px;
}

.documentsbutton {
    flex: 1;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    font-weight: 300;
}

.documentsbutton a {
    color: #f2f1f2;
}

.documentsbuttonimage {
    margin-right: 16px;
}

.solutionsbutton {
    flex: 1;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 300;
}

.solutionsbutton a {
    color: #f2f1f2;
}

.solutionsbuttonimage {
    margin-right: 16px;
}

.underline:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #f2f1f2;
    -webkit-transition: width 250ms ease-in-out;
    -moz-transition: width 250ms ease-in-out;
    -o-transition: width 250ms ease-in-out;
    transition: width 250ms ease-in-out;
}

.underline.lined:after {
    width: 37%;
}

.solutionsunderline:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 180px;
    width: 0;
    height: 2px;
    background: #f2f1f2;
    -webkit-transition: width 250ms ease-in-out;
    -moz-transition: width 250ms ease-in-out;
    -o-transition: width 250ms ease-in-out;
    transition: width 250ms ease-in-out;
}

.solutionsunderline.lined:after {
    width: 32%;
}

.topfolder {
    line-height: 1.5em;
    padding: 0 0 12px 0;
}

.topfolder>ul {
    padding-left: 0;
}

.topfolder>ul>li {
    margin-bottom: 3px;
}

.innerfolder>ul {
    padding-left: 0;
}

.innerfolder>li {
    padding-left: 0;
}

.subfolder>ul {
    padding-left: 0;
}

.subfolder>li {
    padding-left: 0;
}

.subfolder>a>.expand {
    margin-right: 10px !important;
}

.innerfolder>a {
    display: flex;
}

.innerfolder>a>.expand {
    float: none;
    margin-right: 20px;
    margin-top: 0;
    align-self: center;
}

.topfolder>ul>li:first-child {
    margin-top: 2px;
}

.innerfolder>ul>li:first-child {
    margin-top: 2px;
}

.subfolder>ul>li:first-child {
    margin-top: 2px;
}

.innerfolder>ul>li:last-child .innerlink {
    margin-bottom: 2px;
}

.subfolder>ul>li:last-child .innerlink {
    margin-bottom: 2px;
}

.documentslist,
.solutionslist .innerlink {
    font-family: "Inter", sans-serif;
    padding-left: 19px;
    margin-bottom: 2px;
    list-style: none;
}

.sololink {
    margin-left: 24px;
}

.topfolder img {
    margin-right: 10px;
}

.lowerimage img {
    width: 25px;
    height: 47px;
}

.sidebarimage {
    align-self: center;
}

.subfolder {
    margin-bottom: 0;
    padding-left: 24px !important;
}

.subfolder>a {
    color: var(--link-color) !important;
}

.nav>li>a:focus {
    background-color: inherit !important;
    outline: inherit;
}

.homeitem>a {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: var(--body-text) !important;
}

.homeitem>a:hover {
    color: var(--darker-gray) !important;
}

.language-json,
.language-json-doc,
.language-swift,
.language-html,
.language-java,
.language-javascript,
.language-sh,
.language-ruby,
.language-xml,
.language-bash,
.language-http,
.language-gradle,
.language-css,
.language-objc {
    display: flex;
    flex-direction: column;
}

.language-json:before,
.language-json-doc:before,
.language-swift:before,
.language-html:before,
.language-java:before,
.language-javascript:before,
.language-sh:before,
.language-ruby:before,
.language-xml:before,
.language-bash:before,
.language-http:before,
.language-gradle:before,
.language-css:before,
.language-objc:before {
    color: var(--secondary-black);
    text-align: right;
    font-size: 14px;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    line-height: 15px;
    height: 40px;
    font-weight: bold;
    align-self: flex-end;
    width: 100%;
    position: relative;
    background-color: var(--light-gray);
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.language-objc:before {
    content: "OBJECTIVE-C";
}

.language-swift:before {
    content: "SWIFT";
}

.language-css:before {
    content: "CSS";
}

.language-json:before,
.language-json-doc:before {
    content: "JSON";
}

.language-html:before {
    content: "HTML";
}

.language-http:before {
    content: "HTTP";
}

.language-java:before {
    content: "JAVA";
}

.language-gradle:before {
    content: "GRADLE";
}

.language-javascript:before {
    content: "JavaScript";
}

.language-sh:before {
    content: "SH";
}

.language-ruby:before {
    content: "RUBY";
}

.language-xml:before {
    content: "XML";
}

.language-bash:before {
    content: "Bash";
}

.documenttitle {
    display: flex;
}

.documenttitle .h1 {
    align-self: center;
}

.pagehr {
    border: 0;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

.sidebarhr {
    margin-left: 20.5px;
    margin-right: 20.5px;
    height: 2px;
    background-color: #616d8a;
    border-top: 0;
}

.sidebarbuttoncontainer {
    display: flex;
    flex-direction: column;
}

.sidebarbuttoncontainer:not(:last-child) {
    margin-top: 28px;
}

.supportbutton {
    padding: 10px;
    margin-left: 39px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    margin-right: 39px;
    border: solid 1px #f2f1f2;
    text-align: center;
}

.supportbutton span {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #f2f1f2;
}

.defaultbutton {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    margin-left: 39px;
    margin-right: 39px;
    text-align: center;
    margin-top: 20px;
    background-color: #a9acb4;
}

.defaultbutton:hover {
    background-color: #162036;
}

.defaultbutton a {
    color: var(--link-color);
}

.defaultbutton div {
    padding: 10px;
    color: var(--darker-gray);
    width: 100%;
}

.defaultbutton div:hover {
    color: #fff;
}

#jumpto {
    flex: 1;
}

#anchorlist {
    margin-top: 90px;
    text-align: left;
    position: fixed;
    max-height: 360px;
    overflow-wrap: anywhere;
    overflow-y: scroll;
}

#anchorlist a {
    /* color: var(--secondary-black); */
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

#anchorlist::-webkit-scrollbar {
    width: 8px;
}

#anchorlist::-webkit-scrollbar-track {
    color: var(--card-background);
}

#anchorlist::-webkit-scrollbar-thumb {
    background-color: var(--mid-gray);
    border-radius: 100px;
}

.jumpToAnchor {
    text-align: right;
    font-family: Inter;
    margin-bottom: 12px;
    color: var(--link-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

.jump-top-title {
    display: none;
}


/*
 make sure background is white */

.highlightlink {
    background-color: var(--body-background) !important;
    color: var(--link-color) !important;
    font-weight: bold;
}

.repositionSafariSidebar {
    color: var(--body-text);
    background-color: var(--body-background);
    width: 20px;
    height: 20px;
    border: 0;
    display: inline-flex;
    font-size: 1.5em;
    position: relative;
    align-self: center;
    top: -2 !important;
}

.externalIconImage {
    margin: 0px;
    margin-bottom: 4px;
    padding-right: 5px;
}

.sidebarbutton {
    color: var(--body-text);
    background-color: var(--body-background);
    width: 16px;
    height: 16px;
    border: 0;
    display: inline-flex;
    font-size: 1.5em;
    display: flex;
    margin-top: 8px;
    padding: 0;
}

.sidebarbutton:focus {
    outline: 0;
}

.sidebarbutton span {
    transition: 0.3s;
    background: #b1b5bc;
}

.sidebarbutton span:first-of-type {
    border-top: 7px solid transparent;
    background: var(--body-background);
    border-left: 7px solid var(--link-color);
    transform: rotate(-135deg);
    top: 4px;
}

.clicked span:first-of-type {
    transform: rotate(-45deg);
    border-top: 7px solid transparent;
    background: var(--body-background);
    border-left: 7px solid var(--side-border-color);
    top: 2px;
}

.highlighter-rouge {
    background-color: var(--footer-background);
    margin-bottom: 32px;
    margin-top: 32px;
    font-family: "Roboto Mono", Monaco, courier, monospace;
    color: var(--widget-text);
}

.mysidebar::-webkit-scrollbar-thumb {
    background-color: var(--darker-gray);
}

.lesstop {
    margin-top: 10px;
}

.lessbottom {
    margin-bottom: 10px;
}

.defaultwrapperexplorer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.defaultsidebarexplorer {
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
}

.defaultsidebarexplorer .nav>li {
    display: block !important;
}

.defaultsidebarexplorer .nav>li>a:focus {
    background-color: var(--darker-gray) !important;
}

.defaultsidebarexplorer .nav>li:first-of-type {
    display: flex !important;
}

.defaultsidebarexplorer ul.mysidebar.nav {
    width: 20%;
    top: 100px;
}

.documenttitlecontainerexplorer {
    width: 75%;
    margin: 0 auto;
    margin-left: 440px;
}

.documenttitlecontainerexplorer .anchorlist {
    width: 14%;
}

.defaultcontentexplorer {
    width: 54%;
    margin: 0 auto;
}

.defaultfooterexplorer {
    width: 100%;
    margin: 0 auto;
    display: none;
}

.defaultfooterexplorer span {
    margin-left: 400px;
}

.heroPanelExplorer {
    margin-bottom: 50px;
}

.cardInnerTextExplorer {
    width: 40%;
}

.secondConfirmCardImgExplorer {
    display: none;
}

.thirdPanelExplorer {
    padding-left: 100px;
    padding-right: 100px;
}

.confirmationFooterExplorer {
    height: 50px;
}

.formContainerExplorer {
    margin-left: 150px;
}

#apiList {
    display: none;
    height: 165px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#apiList::-webkit-scrollbar-track {
    background-color: grey;
}

#apiList::-webkit-scrollbar {
    width: 10px;
    background-color: grey;
}

#apiList::-webkit-scrollbar-thumb {
    background-color: #53576e;
}

.apinamecontainer {
    display: flex;
}

.apilistcontainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputcontainer {
    flex: 1;
}

#apiNameInput {
    width: 100%;
}

#methodList {
    visibility: hidden;
}

.methodlinks {
    height: 165px;
    overflow-y: scroll;
}

.methodlinks::-webkit-scrollbar-track {
    background-color: grey;
}

.methodlinks::-webkit-scrollbar {
    width: 10px;
    background-color: grey;
}

.methodlinks::-webkit-scrollbar-thumb {
    background-color: #53576e;
}

.methodLink {
    list-style: none;
}

.methodcategory {
    display: none;
}

div#post-content p img:not(.inlineimage),
img.fancyimage {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

a:focus-visible {
    color: var(--post-link-hover);
}

a:focus-within:not(.anchorjs-link) {
    border: 2px dashed var(--post-link-hover) !important;
}


/* .dark #post-content img {
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.12))
    drop-shadow(0px 3px 16px rgba(255, 255, 255, 0.14));
} */


/* toggle switch  */

.dark {
    background-color: var(--body-background);
    color: var(--body-text);
}

.theme-switch-wrapper .slider.round:before {
    background-image: url(/img/darkmode-sun.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid var(--footer-text);
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.theme-switch-wrapper input:checked+.slider:before {
    background-image: url(/img/darkmode-moon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.18), 0 2px 3px rgba(0, 0, 0, 0.12);
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    float: right;
}

.theme-switch-wrapper .theme-switch {
    display: inline-block;
    height: var(--space8);
    position: relative;
    width: 48px;
    height: 24px;
    text-align: right;
    margin-bottom: 0;
}

.theme-switch-wrapper .theme-switch input {
    display: none;
}

.theme-switch-wrapper .slider {
    border: 1px solid #989eae;
    background-color: var(--body-background);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.theme-switch-wrapper .slider:before {
    bottom: 2px;
    content: "";
    height: 18px;
    left: 3px;
    position: absolute;
    transition: 0.4s;
    width: 18px;
    background: var(--card-background);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    box-shadow: 0 0 2px rgb(0 0 0 / 25%), 0 1px 2px rgb(0 0 0 / 18%), 0 2px 3px rgb(0 0 0 / 12%);
}

.theme-switch-wrapper input:checked+.slider {
    background-color: var(--card-background);
    border: 1px solid var(--card-border);
    box-sizing: border-box;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.25)) drop-shadow(0 1px 2px rgba(0, 0, 0, 0.18)) drop-shadow(0 2px 3px rgba(0, 0, 0, 0.12));
}

.theme-switch-wrapper input:checked+.slider:before {
    transform: translateX(23px);
}

.theme-switch-wrapper .slider.round {
    border-radius: 16px;
}

.theme-switch-wrapper .slider.round:before {
    border-radius: 50%;
}

.toggle-title-dark,
.toggle-title-light {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: var(--footer-text);
    position: absolute;
    left: 120%;
    text-align: left;
    white-space: nowrap;
    display: none;
}

.theme-switch-wrapper input:not(:checked)+.slider .toggle-title-light {
    display: flex;
}

.theme-switch-wrapper input:not(:checked)+.slider .toggle-title-dark {
    display: none;
}

.theme-switch-wrapper input:checked+.slider .toggle-title-dark {
    display: flex;
}

.theme-switch-wrapper input:checked+.slider .toggle-title-light {
    display: none;
}


/* toggle end */

.apiLink {
    cursor: pointer;
    list-style: none;
}

.methodLink {
    cursor: pointer;
}

.alldocumentscontainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}

.alldocumentscategoryname {
    margin-right: 50px;
    width: 30%;
}

.alldocumentsdocumentname {
    font-size: 15px;
}

.listheader {
    cursor: pointer;
}

.alldocumentshr {
    border-top: 1px solid #ddd;
    width: 80%;
}

#account {
    width: 35%;
    background-color: #f2f1f2;
    color: #666;
    -webkit-appearance: none;
    border: 0;
    padding: 5px;
}

input#csds-button {
    border-radius: 15px;
    color: #fff;
    background-color: var(--link-color);
    border: 0;
    height: var(--space8);
    padding: 0 10px 0 10px;
}

#csds-result {
    display: none;
}

.sidebarSVG {
    width: 24px;
}

.mobile-logo {
    display: none;
}

#post-content .free-trial-container .cta-mobile-new {
    gap: 14px;
    display: flex;
    margin: 8px 0;
}

@media (max-width: 767px) {
    .logoHeader {
        width: auto;
    }
    #mainHeader {
        padding: 0 35px;
    }
    .defaultwrapper {
        display: flex;
        min-width: 100%;
        flex-direction: column-reverse;
    }
    #searchHeader,
    button.loginButton {
        display: none;
    }
    img.sitelogo,
    ul.mysidebar.nav,
    #defaultsidebar {
        width: 100%;
    }
    #anchorlist {
        margin-top: 50px;
    }
    .defaultcontent {
        flex: initial;
        width: 100%;
        padding: 0 35px;
    }
    #defaultwrapper #jumpto {
        width: initial;
        display: none !important;
    }
    /* home */
    .header-label {
        width: 100%;
        flex: initial;
    }
    #free-trial,
    #success-stories {
        flex-direction: column;
        align-items: center;
    }
    .centermobile {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
    img.fancyimage {
        width: 100% !important;
    }
    .desktop-logo {
        display: none;
    }
    .mobile-logo {
        display: flex;
    }
}

@media (max-width: 500px) {
    div#loginHeader {
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: 2px;
    }
}

@media (min-width: 1921px) {
    html {
        font-size: 17px;
    }
}