/* Algolia styling */

.searchbox {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 32px!important;
    white-space: nowrap;
    box-sizing: border-box;
    visibility: visible!important
}
.searchbox  {
    display: block;
    width: 100%;
    height: 100%
}
.searchbox__wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative
}
.searchbox__input {
    display: inline-block;
    box-sizing: border-box;
  /*  -webkit-transition: box-shadow .4s ease, background .4s ease;
    transition: box-shadow .4s ease, background .4s ease;*/
    border: 0;
    border-radius: 16px;
    /*box-shadow: inset 0 0 0 1px #ccc;*/
    background: #fff!important;
    padding: 0;
    padding-right: 26px;
    padding-left: 32px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}
.searchbox__input::-webkit-search-cancel-button,
.searchbox__input::-webkit-search-decoration,
.searchbox__input::-webkit-search-results-button,
.searchbox__input::-webkit-search-results-decoration {
    display: none
}
.searchbox__input:hover {
    box-shadow: inset 0 0 0 1px #b3b3b3
}
.searchbox__input:active,
.searchbox__input:focus {
    outline: 0;
    box-shadow: inset 0 0 0 1px #aaa;
    background: #fff
}
.searchbox__input::-webkit-input-placeholder {
    color: #8a909a;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
}
.searchbox__input::-moz-placeholder {
    color: #8a909a;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
}
.searchbox__input:-ms-input-placeholder {
    color: #8a909a;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
}
.searchbox__input::placeholder {
    color: #8a909a;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
}
.searchbox__submit {
    position: absolute;
    top: 0;
    margin: 0;
    border: 0;
    border-radius: 16px 0 0 16px;
    background-color: rgba(69, 142, 225, 0);
    padding: 0;
    width: 32px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: inherit;
    left: 0
}
.searchbox__submit:before {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    vertical-align: middle;
    content: ""
}
.searchbox__submit:active,
.searchbox__submit:hover {
    cursor: pointer
}
.searchbox__submit:focus {
    outline: 0
}
.searchbox__submit svg {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    fill: #6d7e96
}
.searchbox__reset {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: rgba(0, 0, 0, .5)
}
.searchbox__reset.hide {
    display: none
}
.searchbox__reset:focus {
    outline: 0
}
.searchbox__reset svg {
    display: block;
    margin: 4px;
    width: 8px;
    height: 8px
}
.searchbox__input:valid~.searchbox__reset {
    display: block;
    -webkit-animation-name: a;
    animation-name: a;
    -webkit-animation-duration: .15s;
    animation-duration: .15s
}
@-webkit-keyframes a {
    0% {
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}
@keyframes a {
    0% {
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}
-right .ds-dropdown-menu {
    right: 0!important;
    left: inherit!important
}
-right .ds-dropdown-menu:before {
    right: 48px
}
-left .ds-dropdown-menu {
    left: 0!important;
    right: inherit!important
}
-left .ds-dropdown-menu:before {
    left: 48px
}
 .ds-dropdown-menu {
    top: -6px;
    border-radius: 4px;
    margin: 6px 0 0;
    padding: 0;
    text-align: left;
    height: auto;
    position: relative;
    background: transparent;
    border: none;
    z-index: 1;
    max-width: 1280px !important;
    min-width: 1280px !important;
    /*box-shadow: 0 1px 0 0 rgba(0, 0, 0, .2), 0 2px 3px 0 rgba(0, 0, 0, .1)*/
    background-color: #162036;
    /*border: 2px solid rgba(228, 228, 228, 0.6);*/

    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin-top: 10px;
    /*font-size: 11px;*/
    border-radius: 4px;
    box-sizing: border-box;
}
 .ds-dropdown-menu:before {
    display: block;
    position: absolute;
    /*content: "";8?*/
    width: 14px;
    height: 14px;
    background: #fff;
    z-index: 2;
    top: -7px;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 2px
}
 .ds-dropdown-menu .ds-suggestions {
    position: relative;
    z-index: 2;
    margin-top: 8px;
    padding-left: 10.6%;
}
 .ds-dropdown-menu .ds-suggestion {
    cursor: pointer;
    width: 1000px !important;
}

.aa-suggestion-title-separator {
  font-size: 1.5em;
  padding-left: 10px;
  padding-right: 10px;
}
 .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion.suggestion-layout-simple,
 .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content {
    background-color: rgba(69, 142, 225, .05)
}
 .ds-dropdown-menu [class^=ds-dataset-] {
    position: relative;
    /*border: 1px solid #d9d9d9;*/
    background: #fff;
    border-radius: 4px;
    overflow: auto;
    padding: 0 8px 8px;
    margin-right: -15px !important;
}
 .ds-dropdown-menu * {
    box-sizing: border-box
}
 .algolia-docsearch-suggestion {
    position: relative;
    padding: 0 8px;
    background: #fff;
    color: #02060c;
    overflow: hidden
}
 .algolia-docsearch-suggestion--highlight {
    /*color: #174d8c;*/
    /*background: rgba(143, 187, 237, .1);*/
    box-shadow: inset 0 -2px 0 0 rgba(69, 142, 225, .8);
    padding: .1em .05em;
}
 .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--category-header-lvl0 .algolia-docsearch-suggestion--highlight,
 .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--category-header-lvl1 .algolia-docsearch-suggestion--highlight {
    color: inherit;
    background: inherit
}
 .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
    padding: 0 0 1px;
    background: inherit;
    box-shadow: inset 0 -2px 0 0 rgba(69, 142, 225, .8);
    color: inherit
}
 .algolia-docsearch-suggestion--content {
    display: block;
    float: right;
    width: 70%;
    position: relative;
    padding: 5.33333px 0 5.33333px 10.66667px;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 16px;
}
 .algolia-docsearch-suggestion--content:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 1px;
    background: #ddd;
    left: -1px;
    right: 50
}
 .algolia-docsearch-suggestion--category-header {
    position: relative;
    border-bottom: 2px solid #5879DA ;
    display: none;
    margin-top: 8px;
    /*margin-bottom: 24px;*/
    padding: 4px 0;
    font-size: 1.125em;
    color: #333333;
    font-weight: bold;
    font-family: "Roboto Slab","Open Sans",Arial,Helvetica,sans-serif;
    /*width:60%;*/
}
 .algolia-docsearch-suggestion--wrapper {
    width: 40%;
    float: left;
    padding: 8px 0 0;
    /*margin-bottom: 24px;*/
}
 .algolia-docsearch-suggestion--subcategory-column {
    float: left;
    width: 30%;
    display: none;
    padding-left: 0;
    /*text-align: right;*/
    position: relative;
    padding: 5.33333px 0px;
    color: #a4a7ae;
    font-size: 1.1em;
    font-weight: bold;
    word-wrap: break-word;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}
 .algolia-docsearch-suggestion--subcategory-column:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 1px;
    background: #ddd;
    right: 0
}
 .algolia-docsearch-suggestion--subcategory-column .algolia-docsearch-suggestion--highlight {
    background-color: inherit;
    color: inherit
}
 .algolia-docsearch-suggestion--subcategory-inline {
    display: none
}
 .algolia-docsearch-suggestion--title {
    margin-bottom: 4px;
    /*color: #5879DA;*/
    font-size: 1.063em;
    font-weight: 700
}
 .algolia-docsearch-suggestion--text {
    display: block;
    /*line-height: 1.2em;*/
    font-size: 1em;
    color: #63676d
}
 .algolia-docsearch-suggestion--no-results {
    width: 100%;
    padding: 8px 0;
    text-align: center;
    font-size: 1.2em
}
 .algolia-docsearch-suggestion--no-results:before {
    display: none
}
 .algolia-docsearch-suggestion code {
    padding: 1px 5px;
    font-size: 90%;
    border: none;
    color: #222;
    background-color: #ebebeb;
    border-radius: 3px;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace
}
 .algolia-docsearch-suggestion code .algolia-docsearch-suggestion--highlight {
    background: none
}
 .algolia-docsearch-suggestion.algolia-docsearch-suggestion__main .algolia-docsearch-suggestion--category-header,
 .algolia-docsearch-suggestion.algolia-docsearch-suggestion__secondary .algolia-docsearch-suggestion--subcategory-column {
    display: block
}
 .suggestion-layout-simple.algolia-docsearch-suggestion {
    border-bottom: 1px solid #eee;
    padding: 8px;
    margin: 0
}
 .suggestion-layout-simple .algolia-docsearch-suggestion--content {
    width: 100%;
    padding: 0
}
 .suggestion-layout-simple .algolia-docsearch-suggestion--content:before {
    display: none
}
 .suggestion-layout-simple .algolia-docsearch-suggestion--category-header {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    border: none
}
 .suggestion-layout-simple .algolia-docsearch-suggestion--category-header-lvl0,
 .suggestion-layout-simple .algolia-docsearch-suggestion--category-header-lvl1 {
    opacity: .6;
    font-size: .85em
}
 .suggestion-layout-simple .algolia-docsearch-suggestion--category-header-lvl1:before {
    background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 20 38" xmlns="http://www.w3.org/2000/svg"><path d="M1.49 4.31l14 16.126.002-2.624-14 16.074-1.314 1.51 3.017 2.626 1.313-1.508 14-16.075 1.142-1.313-1.14-1.313-14-16.125L3.2.18.18 2.8l1.31 1.51z" fill-rule="evenodd" fill="%231D3657" /></svg>');
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block
}
 .suggestion-layout-simple .algolia-docsearch-suggestion--wrapper {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0
}
 .suggestion-layout-simple .algolia-docsearch-suggestion--duplicate-content,
 .suggestion-layout-simple .algolia-docsearch-suggestion--subcategory-column,
 .suggestion-layout-simple .algolia-docsearch-suggestion--subcategory-inline {
    display: none!important
}
 .suggestion-layout-simple .algolia-docsearch-suggestion--title {
    margin: 0;
    color: #458ee1;
    font-size: .9em;
    font-weight: 400
}
 .suggestion-layout-simple .algolia-docsearch-suggestion--title:before {
    content: "#";
    font-weight: 700;
    color: #458ee1;
    display: inline-block
}
 .suggestion-layout-simple .algolia-docsearch-suggestion--text {
    margin: 4px 0 0;
    display: block;
    line-height: 1.4em;
    padding: 5.33333px 8px;
    background: #f8f8f8;
    font-size: .85em;
    opacity: .8
}
 .suggestion-layout-simple .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
    color: #3f4145;
    font-weight: 700;
    box-shadow: none
}
 .algolia-docsearch-footer {
    width: 110px;
    height: 20px;
    z-index: 3;
    margin-top: 10.66667px;
    float: right;
    font-size: 0;
    line-height: 0
}

/*# sourceMappingURL=docsearch.min.css.map */

body.search-opened #search-container {
display: block;
}

#search-container {
  background-color:rgb(255, 255, 255);
  box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  box-sizing:border-box;
  color:rgb(24, 35, 89);
  display:none;
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
  font-size:14px;
  height:853px;
  left:0px;
  line-height:20px;
  min-height:853px;
  position:absolute !important;
  text-size-adjust:100%;
  top:60px;
  width:1920px;
  z-index:200;
  -webkit-font-smoothing:antialiased;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}


.aa-input-container {
  display: inline-block;
  position: relative;
  float: right;
  width: 100px;
}

.aa-input-search {
  color: white;
  padding: 10px;
  border: none;
  width: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  box-sizing: border-box;
  background-color: transparent;
  margin-top: 2.5%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  float:right;
  margin-right: -121px;
  z-index: 3;
  cursor: pointer;
  margin-top: 14px;
}

.algolia-autocomplete {
  float: right;
}

.aa-input-search:focus{
  width: 240px;
  border-bottom: 1px solid #8a909a;
  padding: 12px 80px 12px 0px;
  cursor: text;
}

.aa-input-icon{
  position: fixed;
  top: 5%;
  right: 90px;
}

  .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
    display: none;
  }

  .aa-input-search::-webkit-input-placeholder {
    color: #fff;
  }

.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 55%;
  right: -120px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #fff;
}


.aa-hint {
  color: #e4e4e4;
}

.search-cancel {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 55%;
  right: -120px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #fff;
  border-radius: 50%;
  display: none;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
  stroke: white;
  cursor: pointer;
  z-index: 5;
}

}

.aa-suggestion {
  padding: 12px;
  border-top: 1px solid rgba(228, 228, 228, 0.6);
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
        }


  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); }
  .aa-suggestion > span:first-child {
    color: #333;
  }

  .aa-suggestion > span:last-child {
    text-transform: uppercase;
    color: #a9a9a9;
  }

.aa-suggestion > span:first-child em, .aa-suggestion > span:last-child em {
  font-weight: 700;
  font-style: normal;
  background-color: rgba(58, 150, 207, 0.1);
  padding: 2px 0 2px 2px;
}

.input-has-value .aa-input-icon {
  opacity: 0; }
.aa-input-close {
  height: 12px;
  width: 12px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4;
  visibility: hidden;
  opacity: 0; }
  .input-has-value .aa-input-close {
    opacity: 1;
    visibility: visible;
    cursor: pointer; }

#search-demo-container {
    float: right;
    max-height: 4em;
    overflow: hidden;
    display:none;
}
#search-icon {
  float: right;
  margin-top: 12px;
  position: relative;
  width: 36px;
  cursor: pointer;
}
#search-demo-container .close-btn {
  color: white;
  cursor: pointer;
  float: left;
  font-size: 1.3em;
  margin: 15px 0 0;
}
#search-input {
  background-color: transparent;
  border-color: transparent;
  color: white;
  float: left;
  font-size: 0.9em;
  margin-left: 0;
  margin-top: 12px;
  width: 15.5em;
}

.search-line {
  background-color: #e6e6e6;
  height: 1px;
  position: absolute;
  right: 10px;
  top: 48px;
  width: 252px;
  display: none;
}
#search-demo-container ul#results-container {
    border-left: none;
    box-:none;
    right: 10px;
    width: 255px;
    background-color: #f8f8f8;
    font-size: 0.666em;
    display:none;
    padding-left:10px;
}

#search-demo-container ul#results-container li{
  width: 95%;
  margin-bottom: 5px;
  font-family: "Open Sans";
}
#search-demo-container ul#results-container li.nolink{
  margin-top: 10px;
  font-family: "Open Sans Semibold";
}
ul#results-container li a {
  background-color: initial;
  color: #808080;
  display: inline-block;
  width: 100%;
  overflow-wrap: break-word;
}
#search-demo-container ul#results-container ul li:hover{
  background-color: white;
  color:#808080;
}
#search-demo-container ul#results-container li:not(:last-child):hover a{
  color:#808080;
}

/*#search-demo-container ul#results-container li:not(:last-child):hover a::after{
  padding-top: 1px;
  content: 'x';
  float:right;
  margin-right: 8px;
  font-size: 0.75em;
  color:#808080;
}*/

#search-demo-container ul#results-container li a:hover{
  text-decoration: none;

}

#search-demo-container ul#results-container li:first-child{
  margin-top:10px;
}
#search-demo-container ul#results-container > li:last-child {
  margin-bottom: 10px;
  padding-right: 10px;
  text-align: right;

}

#search-demo-container ul#results-container > li:last-child a {
  color: #162036;
  font-weight: bold;
  margin-right: -15px;
}
#search-demo-container ul#results-container li:last-child a::after{
  content: '';
}

#search-demo-container ul#results-container li.grey-line {
  border-bottom: 1px solid #808080;
  margin: 10px 0;
  width: 95%;
}

#search-demo-container ul#results-container li ul{
   padding: 0;
    list-style-type: none;
    margin-top:-10px;
}
#search-demo-container ul#results-container li ul li {
  /*float:left;*/
}


.bodygrey {
  background-color: #F2F2F2;
}

.documents {
  margin-top: 67px;
  width: 70%;
  font-size: 3em;
}

.container.documents {
    padding-left: 10%;
    /*padding-bottom: 24%;*/
    vertical-align: top;
}

html body div.container.documents div.title{
    font-size: 1.2em;
    margin-bottom: 10px;
    border-bottom: #33c6f4 solid 2pt;
    display: inline-block;
    padding-bottom: 5px;
    color: #162036;
}
html body div.container.documents div.text{
    margin-bottom: 80px;
    font-size: 0.866em;

    font-family: "Open Sans",Arial, Helvetica, sans-serif;
}
html body div.container.documents div.text a{
    display: block;
    margin-bottom: 15px;
    color:#5879da;
}

.documentbox{
  width: 890px;
  height: 220px;
  background-color: #fff;
  -webkit-box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
  box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
  margin: 0 auto;
  margin-bottom: 18px;
}

.categorytitle{
  /* float:left; */
  font-size: 26px;
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  display: inline-block;
  width: 100px;
  margin-top: 58px;
  margin-left: -152px;
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
  color: #0c1320;
}

.categorysub{
  float: left;
  margin-top: 110px;
  display: inline-block;
  width: 207px;
  margin-left: -41px;
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
  color: #333333;
}

.listbox {
  float:right;
  background-color: #ECF1FF;
  display: block;
  margin-top: -80px;
  margin-right: 18px;
  width: 551px;
  line-height: 3;
  font-size: 14px;
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
  padding: 10px 0 0 0;
}

.categoryimage{
  float:left;
  width: 50px;
  margin-top: 50px;
  margin-left: 40px;
}

.lower{
  margin-top: -120px;
}
