

.bodygrey {
  background-color: #F2F2F2;
}

.documents {
  margin-top: 67px;
  width: 70%;
  font-size: 3em;
}

.container.documents {
    padding-left: 10%;
    /*padding-bottom: 24%;*/
    vertical-align: top;
}

.documentscontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.documentbox{
  height: 340px;
  width: 890px;
  background-color: #fff;
  -webkit-box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
  box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
  margin: 0 auto;
  margin-bottom: 18px;
  display: flex;
}


.documentbox img{
  width: 60px;
  height: 60px;
  margin: 50px 10px 18px 22px;
}

.documentboxdetails {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.documentboxtitle {
  display: flex;
}

.documentboxicon {
  flex: 1;
}

.documentboxtitletext {
  flex: 1;
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
  color: #0c1320;
  font-size: 26px;
  margin-top: 62px;
  margin-right: 16px;
}

.documentboxinfo {
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 16px;
  margin-left: 32px;
  padding-right: 10px;
}

.documentboxlist {
  flex: 2;
  display: flex;
  line-height: 2.8;
  background-color: #ECF1FF;
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
  margin: 18px 18px 18px 10px;
}

.linklist {
  flex: 1;
}


.usecasebox {
  width: 24%;
  background-color: #fff;
  margin-bottom: 20px;
  padding-left: initial;
  padding-right: initial;
}

.usecasebox:hover {
  -webkit-box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px,
  rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
  -moz-box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px,
  rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
  box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px,
  rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
  transition-delay: .1s;
  transform: translate(0, -4px);
  cursor: pointer;
}

.leftbox {
  float: left;
  margin-right: 20px;
}

.rightbox {
  float: left;
  margin-right: 20px;
}

.centerbox {
  margin: 0 auto;
}

.usecasebox img {
  width: 100%;
}

.usecasetext {
  margin-top: 27px;
  margin-left: 38px;
}

.usecasetext .banner-hr {
  float: left;
  background: #ff7113;
  height: 3px;
  width: 38px;
  margin-top: 16px;
  margin-bottom: 16px;
  clear: both;
  border: none;
}

.usecasetitle {
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 1.625em;
  float:left;
}

.usecaseinner {
  display: inline-block;
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 30px;
  float:left;
  clear: both;
  width: 85%;
  color: #333333;
}

.boximage {
  padding-left: initial;
  padding-right: initial;
}

.usecasescontainer {
  margin-left: 12.666667%;
  max-width: 100%;
  width: 100%;
}

.bottomrow {
  margin-bottom: 100px;
}

@media (max-width: 425px) {
  .usecasebox {
    float:right;
    margin-right: 22%;
    width: 81%;
  }
}

.documentlast {
  margin-bottom: 100px;
}

.solutionscontainer {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 78%;
  margin: 0 auto;
}

.solutionsrow {
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.solutionsbox{
  background-color: #fff;
  margin-bottom: 20px;
  font-family: "Open Sans", Helvetica, sans-serif;
  margin: 10px;
  flex: 1;
}

.placeholderbox {
  visibility: hidden;
}

.solutionsbox:hover {
  -webkit-box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px,
  rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
  -moz-box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px,
  rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
  box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px,
  rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
  transition-delay: .1s;
  transform: translate(0, -4px);
  cursor: pointer;
}

.solutionsimg {
  width: 100%;
  height: 160px;
}

.solutionstext{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 25px 35px 10px 40px
}

.solutionstitle {
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 1.625em;
}

.solutionstext .banner-hr {
  background: #ff7113;
  height: 3px;
  width: 38px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: none;
  margin-left: 0;
}

.solutionsinner {
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 30px;
    width: 85%;
    color: #333333;
}

.solutionsbottomrow {
  margin-bottom: 100px;
}

.solutionsrow a{
  display: flex;
  flex: 1;
}

.solutionsrow a:hover {
  text-decoration: none;
}

.solutionsrow a:focus {
  text-decoration: none;
}


@media (max-width: 425px) {

.solutionscontainer {
  width: 100%;
}

.solutionsrow {
  display:block;
}

.solutionstext {
  display: block;
  text-align: center;
}

.solutionstext .banner-hr {
  margin-left: auto;
  margin-right: auto;
}
