.getstarted-title {
    color: var(--navy-mid-gray);
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 0.01em;
}

.getstarted-content {
    color: var(--navy);
    font-weight: bold;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    padding-bottom: 24px;
}


.teaser-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    width: 308px;
    margin-top: 48px;
    margin-left: 40px;
    letter-spacing: 0.01em;

    color: #FFFFFF;

    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.hyperlink {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    padding-top: 12px;
    letter-spacing: 0.01em;
    color: var(--electric-blue);
}

.getting-started-paragraph {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    width: 509px;
    margin-top: 8px;
    display: flex;
    flex: 2;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: var(--navy-gray);
}

#teaser-banner {
    background-image: linear-gradient(180deg, rgba(15, 9, 67, 0.88) 0%, rgba(41, 39, 64, 0.8) 100%), url('img/Img_video_overview.png');
}

.welcome-card-modified {
    flex: 0 47%;
    margin-top: 24px;
    padding: 0px 24px 24px 0px;
    margin-right: 1%;
    background: #FFFFFF;
    margin-bottom: 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

.header-lp4 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;

    letter-spacing: 0.2px;
    color: var(--navy);
}