.getstarted-title {
    color: var(--navy-mid-gray);
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 0.01em;
}

.getstarted-content {
    color: var(--navy);
    font-weight: bold;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    padding-bottom: 24px;
}


.lp-container {

    display: flex;
    margin-top: 64px;
    padding-right: 48px;
    width: 100%;
}

.teaser-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: inline-flex;
    /* or 150% */
    flex: 2;
    margin-top: 48px;
    margin-left: 40px;
    letter-spacing: 0.01em;

    color: #FFFFFF;

    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.hyperlink {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    padding-top: 12px;
    letter-spacing: 0.01em;
    color: var(--electric-blue);
}

.dots-container {
    margin: 0px 4px 0px 0px;
}

.dots-container:hover {
    color: var(--hover-electric-blue);
}

.getting-started-paragraph {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    width: 441px;
    margin-top: 8px;
    display: flex;
    flex: 2;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: var(--navy-gray);
}

.play-icon {
    margin-top: 48px;
    flex: 1;
    width: 48px;
    height: 48px;
}

.getting-started-h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    width: 640px;
    margin-top: 8px;
    display: flex;
    flex: 2;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: var(--navy-gray);
}

#teaser-banner {
    background-image: linear-gradient(180deg, rgba(15, 9, 67, 0.88) 0%, rgba(41, 39, 64, 0.8) 100%), url('img/Img_video_overview.png');
}

.welcome-card-modified {
    flex: 0 47%;
    min-height: 180px;
    margin-top: 24px;
    padding: 0px 24px 0px 0px;
    margin-right: 1%;
    background: #FFFFFF;
    margin-bottom: 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

.welcome-car-modified:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
}

.header-lp4 {
    font-family: Roboto;
    font-size: 20px;
    flex: 0 50%;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;

    letter-spacing: 0.2px;
    color: var(--navy);
}

.header-lp4-external {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;

    letter-spacing: 0.2px;
    color: var(--navy);
}

.external-link-container {
    width: 300px;
    flex: 0 50%;
    display: inline-flex;
    height: 180px;
}

.link-padding {
    margin-bottom: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: var(--electric-blue);
}

.whole-external-link {
    display: flex;
    width: 93%;
    margin-top: 48px;
}