body {
  background-color: #f2f2f2;
}

/* banner home page */

.metabanner{
  background: linear-gradient(rgba(47, 72, 131, 0.75), rgba(47, 72, 131, 0.75)), url("https://s3-eu-west-1.amazonaws.com/ce-sr/Product+Marketing+images/Header_Image.png");
  background-size: cover;
  background-position: center center;
}

.banner-container{
    width: 100%;
    text-align: center;
    height: 452px;
    background-repeat: no-repeat;
}
.banner{
    width:100%;
    background-color: inherit;
}
.banner .text {
  color: #fff;
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
  margin-top: 90px;
}
.banner .text .first-line{
    font-size: 1.066em;
}
.banner .text .second-line{
    font-size:2.167em;
    /*max-width: 400px;*/
}

.textcontainer{
  display: inline-block;
  float:none;
  width:100%;
  margin-bottom: 30px;
  margin-top: 40px;
}

.banner img{
    float:right;
    margin-top: 80px;
}

.home-first-line {
  width: 70%;
  margin: 50px auto;
}
.home-second-line {
  width: 55%;
  margin: 54px auto;
}
html body div.container div div.title{
    font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #162036;
}
html body div.container div.home-first-line div.text, html body div.container div.home-second-line div.text {
  color: #808080;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 0.8em;
  margin-bottom: 10px;
  max-width: 90%;
}
.header.homepage{
   max-width: 400px;
}

a.view-all-products {
  border: 2px solid #6d6d6d;
  border-radius: 50px;
  color: #162036;
  display: table;
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
  font-size: 1.2em;
  margin: 0 auto 50px;
  padding: 7px 28px;
  text-align: center;
  text-decoration: none;
}

a.view-all-products::after{
    content: '';
}

@media (max-width: 990px) {

    .home-first-line {
        margin-bottom:0px;
    }
    .home-second-line {
        width: 70%;
        margin-bottom: 16%;
        margin-top: 0px;
    }

}

.viewbutton{
  background-color: #ff720b;
  color: #fff;
  border: 2px solid #FF720B;
  font-size: 1em;
  float: left;
  margin-top: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 7%;
  padding-right: 7%;
  font-weight: bold;
}

.briefcase{
  display:none;
}

ul > .aa-input-container{
  display:none;
}

.searchhome .aa-input-icon {
  fill: #7f7f7f;
  top: 272px;
  left: 161px;
  z-index: 3;
}

.searchhome .aa-input-search{
  background-color: #fff !important;
  border-color: #fff;
  padding: 12px 0px 12px 35px;
  border-radius: 0;
  width: 936px;
  color: #636a79;
  display: block;
  margin: 0 auto;
  cursor: text;
  transition: none;
}

.searchhome .aa-input-container{
  float: none;
  margin-bottom: 100px;
  display: inherit;
  position: inherit;
  width: 1087px;

}

.searchhome .aa-input-container:focus{
  outline: inherit;
}

.section1 {
  background-color: #f2f2f2;
  height: 628px;
}

.ourplatform {
  font-size: 3.333em;
  font-weight: bold;
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
}

.ourplatformdetails{
  float:left;
  font-size: 1.3em;
  width: 250px;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  line-height: 1.6em;
  margin-top: 10px;
}

.section1 .row {
  float: right;
  width: 320px;
  margin-top: 140px;
  margin-right:10px;
}

img.mockup {
  margin-top: 100px;
  width: 900px;
}

.sectionbot{
  background: linear-gradient(rgba(20, 32, 54, 0.80), rgba(20, 32, 54, 0.80)), url("https://s3-eu-west-1.amazonaws.com/ce-sr/Product+Marketing+images/Develop_your_bot_Image+(1).png");
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 357px;
  margin-top: 80px;
}

.sectionmessaging{
  background: linear-gradient(rgba(255, 113, 19, 0.80), rgba(255, 113, 19, 0.80)), url("https://s3-eu-west-1.amazonaws.com/ce-sr/Product+Marketing+images/Messaging_Image.png");
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 357px;
  margin-top: 80px;
}

.sectionchat{
  background: linear-gradient(rgba(88, 121, 218, 0.80), rgba(88, 121, 218, 0.80)), url("https://s3-eu-west-1.amazonaws.com/ce-sr/Product+Marketing+images/Developing_Image.png");
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 357px;
  margin-top: 80px;
  margin-bottom: 100px;
}

.bottitle{
  float:left;
  font-size: 4.4em;
  margin-top: 80px;
  line-height: 1.2em;
  width:100px;
  font-weight:bold;
  margin-left: 28px;
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
}

.botdetail{
  float: right;
  width: 455px;
  height: 343px;
  margin-right: 140px;
  background-color: #fff;
  color: #0c1320;
  padding: 40px 54px 40px;
  margin-top: 38px;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 1.313em;
  font-weight: 100;
  -webkit-box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
  box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
}

.messagingtitle{
  float:right;
  font-size: 4.4em;
  margin-top: 80px;
  line-height: 1.2em;
  width:470px;
  font-weight:bold;
  margin-left: 28px;
  margin-right: 120px;
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
}

.messagingdetail{
  float: left;
  width: 455px;
  height: 343px;
  margin-right: 100px;
  background-color: #fff;
  color: #0c1320;
  padding: 60px 75px 40px 54px;
  margin-top: 38px;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 1.313em;
  font-weight: 100;
  -webkit-box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
  box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
}

.messagingtext{
  width: 90%;
}

.chattext{
  width: 90%;
}

.chattitle{
  float:left;
  font-size: 4.4em;
  margin-top: 90px;
  line-height: 1.2em;
  width:400px;
  font-weight:bold;
  margin-left: 28px;
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
}

.chatdetail{
  float: right;
  width: 455px;
  height: 343px;
  margin-right: 140px;
  background-color: #fff;
  color: #0c1320;
  padding: 40px 54px 40px;
  margin-top: 38px;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 1.313em;
  font-weight: 100;
  -webkit-box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
  box-shadow: -2px 21px 55px 0px rgba(0, 0, 0, 0.07);
}

.learnmore{
  margin-top: 10px;
  display: block;
  border: 1px solid #0f192b;
  text-align: center;
  border-radius: 4px;
  width: 200px;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
  color: #0f192b;
  font-weight: bold;
}

.learnmore:hover{
  background-color: #0f192b;
  color: #fff;
}

.botdetail .learnmore {
    margin-top: 15px;
  }

.messagingdetail .learnmore {
  margin-top: 71px;
}

.chatdetail .learnmore {
    margin-top: 115px;
}

.navbar-inverse{
  border-color: transparent;
}

a:-webkit-any-link {
  text-decoration: none;
}

.aa-input-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #636a79;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.200em;
}
.aa-input-search::-moz-placeholder { /* Firefox 19+ */
  color: #636a79;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.200em;
}
.aa-input-search:-ms-input-placeholder { /* IE 10+ */
  color: #636a79;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.200em;
}
.aa-input-search:-moz-placeholder { /* Firefox 18- */
  color: #636a79;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.200em;
}

.searchhome .ds-dropdown-menu [class^=ds-dataset-] {
  width: 936px !important;
  margin-left: -335px !important;
}

.searchhome .ds-dropdown-menu:before {
  right: 860px !important;
}

.searchhome .search-cancel {
  display: none;
  right: 720px;
  top: 77.7%;
  stroke: #333333;
}
