a {
    color: var(--post-link);
}

a:focus {
    outline: none !important;
    text-decoration: none !important;
}

a:hover {
    color: var(--post-link-hover);
}

a:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
    outline: -webkit-focus-ring-color dashed 1px;
    border-radius: 4px;
}

.footer {
    display: none;
}

.navbar-inverse {
    display: none;
}


/* this is so the header won't overlap the links */

:target::before {
    content: "";
    display: block;
    height: 120px;
    margin: -120px 0 0;
}

img {
    vertical-align: middle;
    margin: 24px 0;
    max-width: 800px;
}


/*inner page css */


/* h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id],
dt[id] {
  margin-bottom: 4px;
  padding-top: 0;
} */

h2[id] {
    color: var(--title-text);
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 0;
    margin-top: 30px;
}

h3[id] {
    font-family: "Space Grotesk", sans-serif;
    color: var(--title-text);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: var(--space-unit);
}

h4[id] {
    font-family: "Space Grotesk", sans-serif;
    color: var(--title-text);
    font-size: 15px;
    font-weight: 600;
    font-style: inherit;
    margin-top: 15px;
    margin-bottom: var(--space4);
}

h5[id] {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: var(--space4);
}

h4 code.highlighter-rouge {
    color: #fff;
    margin-left: 5px;
}

.h1 {
    color: var(--title-text);
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 52px;
    margin-bottom: var(--space4);
}

.h2 {
    color: var(--title-text);
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 30px;
}

.h3 {
    color: var(--title-text);
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: var(--space4);
    margin-top: 14px;
}

.h4 {
    color: var(--title-text);
    font-family: "Space Grotesk", sans-serif;
    font-size: 0.86em;
    font-weight: 600;
    margin-bottom: var(--space4);
    margin-top: 7px;
}

.post-content table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
    margin-top: 24px;
}

.post-content table tbody tr td ul {
    margin-left: -40px;
}

pre code {
    font-size: 12px !important;
    font-family: "Roboto Mono";
}

.bigtable {
    max-width: initial;
}

.post-content table td:first-child {
    width: unset;
    /*max-width: 150px;*/
    font-weight: bold;
}

.post-content table tbody tr:only-child {
    background-color: #f8f8f8;
}

.post-content table tr td {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--body-text);
    line-height: 1.8;
    max-width: 160px;
    min-height: 50px;
    hyphens: none;
    padding: 16px;
}

.post-content table>thead>tr>th {
    font-weight: 600;
    color: var(--body-text);
    font-size: 12px;
    padding: 16px;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}


/*
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
  border-top: 1px solid #d6d6d6;

}
*/

table>thead>tr>th {
    border-bottom: none;
}

table>tbody>tr:nth-of-type(odd) {
    background-color: var(--table-cell);
}

.designsheet table tr td {
    line-height: 2.4em !important;
    text-align: center;
    font-weight: bold;
    vertical-align: inherit;
    font-size: 12px;
    font-family: "Open Sans";
    color: #666666;
    hyphens: none;
    border-right: solid 1px black;
}

.designsheet table tr th {
    font-family: "Open Sans";
    font-weight: 600;
    color: #4a4a4a;
    font-size: 14px;
    padding: 14px 22px;
    border-bottom: 2.5px solid #5879da;
}

.designsheet img {
    width: 100% !important;
    margin: 0 auto;
}

.designsheetnumber {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50px;
    font-size: 2.5em;
    color: var(--body-background);
    background-color: var(--link-color);
    border: 3px solid var(--link-color-hover);
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

code {
    background-color: #f8f8f8;
    border-radius: 4px;
    color: #77777a;
    padding: 2px 4px;
    white-space: initial;
    width: 89%;
}

p .darken {
    color: var(--widget-text);
}

td code {
    color: #666666;
}

td .darken {
    color: var(--widget-text) !important;
}


/*toc nav bar */

div#toc {
    background-color: #f2f1f2;
    display: none;
    margin-top: 14px;
    /*min-width: 300px;*/
    position: absolute;
    z-index: 1;
}

div#toc ul {
    width: 100%;
    font-size: 11px;
    text-decoration: none;
    color: #5879da;
    list-style-type: none;
    list-style-position: inside;
    max-width: 500px !important;
    margin-top: 12px;
}

div#toc>ul {
    margin-top: -10px;
}

.post-content ul,
ol {
    padding-left: var(--space4) !important;
}

.post-content>*:first-child {
    margin-top: 0;
}

div#toc ul li {
    font-size: 110%;
    list-style: none;
    margin: 8px 0;
    list-style-position: inside;
}

div#toc ul li a {
    color: #5896ed;
    display: block;
    overflow-wrap: break-word;
    padding: 0px;
}

div#toc ul li a:hover {
    text-decoration: none;
    color: black;
}

div#toc>ul>li {
    margin-bottom: 5px;
    margin-top: 0;
    padding: 0;
}

div#toc>ul>li:first-child {
    margin-top: 14px;
}

div#toc>ul>li>a {
    vertical-align: top;
}

div#toc>ul>li>a span {
    display: inline-block;
    height: 12px;
    padding-left: 15px;
    padding-right: 15px;
    word-break: break-all;
}

div#toc ul li a.anchorjs-link {
    display: none;
}

.anchorjs-link:after {
    display: none;
}

div#toc ul li ul li::before {
    content: "";
}

div#toc ul li ul li a {
    display: block;
}

div#toc>ul>li>ul {
    margin-top: 0;
    padding-left: 9px;
}

div#toc ul li ul li ul {
    padding-left: 0px;
}


/*end toc nav bar */


/*left nav bar - new sticky */

ul.mysidebar.nav {
    text-decoration: none;
    position: sticky;
    padding-right: 4px;
    top: 10px;
    min-width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--body-text) var(--navy-lighter-gray);
}

.nav::-webkit-scrollbar {
    width: 8px;
}

.navy::-webkit-scrollbar-track {
    color: var(--card-background);
}

.nav::-webkit-scrollbar-thumb {
    background-color: var(--card-border);
    border-radius: 100px;
}

ul.mysidebar>li.folder ul {
    display: none;
    list-style: none;
    width: 100%;
    line-height: 1.5;
}

ul.mysidebar li.folder.innerfolder.sidebarcategory {
    margin-left: 24px;
}

ul.mysidebar>li.folder ul.folderactive {
    display: block;
}

ul#mysiderbar li {
    display: inline-block;
}

.innerlink {
    color: var(--link-color);
    font-family: "Inter", sans-serif;
}

.mysidebar>li:not(.folder) {
    font-size: 1.1em;
    padding-left: 11px;
}

.pageitem>a {
    color: var(--link-color);
}

.innerpageitem>a {
    color: var(--link-color);
}


/* .topfolder>a>span {
  margin-left: 14px;
} */

.innerfolder>a {
    color: var(--link-color);
}

.pageitem {
    padding-left: 47px !important;
}

.innerpageitem {
    padding-left: 15px !important;
    max-width: 194px;
    overflow-wrap: anywhere;
}

.activeitem {
    /* border-left: 4px solid var(--link-color-hover) !important;
  margin-left: -4px; */
}

li .activeitem a {
    font-weight: bold;
}


/* .activeleaf {
  margin-left: 30px;
  border-left: 4px solid var(--link-color-hover);
  padding-left: 20px !important;
} */


/* 
.activeleafSolo {
  margin-left: var(--space4);
  border-left: 4px solid var(--side-border-color);
  padding-left: 20px !important;
} */

.activeleafSolo a,
.activeleaf a,
a.highlightlink.active {
    font-weight: bold !important;
}

ul.mysidebar.nav .topfolder>a {
    display: flex;
    color: var(--link-color);
    overflow-wrap: break-word;
}

ul.mysidebar.nav a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    padding: 0;
}

ul.mysidebar li ul li {
    margin-right: 0px;
    margin-top: 10px;
}

ul.mysidebar.nav li a.active {
    color: var(--link-color);
    font-weight: 500;
}

.active>a {
    font-weight: 500 !important;
}

.nav>li.active>a {
    background-color: unset;
}

ul.mysidebar.nav li.activepage {
    background-color: inherit;
}

ul.mysidebar.nav li.activepage a {
    color: var(--link-color) !important;
    font-weight: bold;
}

ul.mysidebar.nav li.activepage a:hover {
    color: var(--link-color-hover) !important;
}

.spacebetweenHyperlink {
    justify-content: space-between;
    display: flex !important;
    color: var(--link-color);
    font-weight: bold;
}

.spacebetweenHyperlink:hover {
    color: var(--darker-gray);
}

input#metricsSearch {
    background: var(--body-background);
    border-color: var(--card-border);
    color: var(--body-text);
}

.mysidebar.nav li.folder>a:hover {
    background-color: initial !important;
    color: var(--side-border-color);
}

.defaultsidebarexplorer .mysidebar.nav li.folder>a:focus {
    background-color: var(--link-color-hover) !important;
}

.defaultsidebarexplorer .mysidebar.nav li.folder>a:hover {
    background-color: var(--link-color-hover) !important;
}

ul.mysidebar.nav ul li a {
    border-top: none;
    padding-left: 0px;
    margin-top: var(--space4) !important;
    margin-bottom: var(--space4);
    gap: 8px;
}

ul.mysidebar.nav ul li:first-child a {
    margin-top: 12px !important;
}

ul.mysidebar.nav ul li:last-child a {
    margin-bottom: 0 !important;
}

.innerList {
    display: block;
    margin-left: 24px;
}

div.sidebarTitle {
    display: none;
    color: #162036;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 9px;
    margin-left: 26px;
    width: 240px;
    top: 68px;
    font-family: "Inter", sans-serif;
    visibility: hidden;
    position: absolute;
}

div.sidebarTitle span {
    vertical-align: top;
    font-family: "Inter", sans-serif;
}

div.sidebarTitle-holder {
    font-size: 1.333em;
    font-weight: normal;
    visibility: hidden;
    margin-top: 50px;
    position: relative;
    font-family: "Roboto Slab", "Open Sans", Helvetica, sans-serif;
}

.side-bar {
    margin-top: 60px;
}

.footer-tags {
    display: inline-flex !important;
    padding: 0px 8px 0px 8px;
}


/*CSS for general styling of Chat/Messaging Indicator*/

.indicator {
    color: var(--breadcrumbs-text);
    background: var(--breadcrumbs-background);
    border-radius: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding: 3px 8px;
    align-self: center;
}

.indicator:nth-child(3) {
    margin-left: 10px;
    margin-right: 24px;
}

.breadcrumbs {
    background-color: var(--body-background);
    border-radius: 0;
    padding-bottom: 16px;
    z-index: 10;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "";
}

.breadcrumbs .breadcrumb-item {
    text-decoration: none;
}

.breadcrumbs .breadcrumb-item.clicked::after {
    content: "\f077";
}

.breadcrumbs .breadcrumb-item.no-after::after {
    content: "";
}

.breadcrumbs .breadcrumb-item span.down-arrow {
    display: inline-block;
    padding-right: 1em;
    padding-left: 0em;
    color: var(--link-color);
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    font-family: "FontAwesome";
    width: 10px;
    height: 10px;
}

.breadcrumb>.active {
    cursor: pointer;
}

.fancyimage {
    display: block;
    box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.07);
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-content img.inlineimage {
    display: inline-block;
    box-shadow: none;
}

.post-content .zoomimg {
    transition: transform 0.2s;
}

.post-content .zoomimg:hover {
    transform: scale(1.75);
}

.post-content>p,
.post-content ol,
.post-content ul {
    font-family: "Inter", sans-serif;
    overflow-wrap: break-word;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: var(--body-text);
}

.post-content>p.notice,
.post-content>p.important {
    color: var(--widget-text);
    display: -webkit-box !important;
}

.post-content>p.notice strong,
.post-content>p.important strong {
    color: var(--widget-text);
}

.post-content ol ol {
    list-style-type: upper-latin;
}

.post-content ol ol ol {
    list-style-type: upper-roman;
}

.post-content p strong {
    font-weight: bold;
}

.post-content,
.post-content * {
    overflow-wrap: break-word;
}

.post-content a:not(.welcome-card) {
    text-decoration: underline;
}

.post-content a:hover {
    text-decoration: none;
}

.alert-warning {
    background-color: var(--card-text);
    border-color: var(--card-background);
    color: var(--card-background);
    font-family: "Inter", sans-serif;
}

.alert-warning hr {
    border-top-color: #5879da;
}

.alert-warning h2 {
    font-family: "Inter", sans-serif;
}

.btn-primary.active {
    background-color: #162036;
    border-color: #fff;
}

pre {
    border: none;
    border-radius: 0px;
    padding: 0px 97px var(--space4) 20px;
    order: 10;
}

pre code {
    margin-top: var(--space4);
}


/*change the defaults colors to match yeal design*/


/*.highlight .na {
  color: #d6c30f;
}
.highlight .s {
  color: #1a78ca;
}

.highlight .nt {
  color: #ff00ff;
}*/


/*not active page */

#not-available {
    border: solid #162036 1px;
    padding: 40px 20px;
    font-size: 1.2em;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-family: Roboto Slab;
    top: 45%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
}

.fixed {
    position: fixed;
}

.margin-top-zero {
    margin-top: 0px;
}

.margin-top-68 {
    margin-top: 68px;
    position: initial !important;
}


/* @media (max-width: 1190px) {
  div.sidebarTitle {
    margin-top: 68px;
  }

  div.sidebarTitle-holder {
    display: none !important;
  }

  div.inside-page-content,
  .inside-page-content .h2 {} 

}
*/

.contactusBtn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 1.2em;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.contactusBtn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}


/** VisualPing Styling Begin
   This div contains the iframe and is set to be responsive
   Edit the max-with to suit your needs
   **/

.visualping-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 235px;
    margin: 0 auto;
    margin-left: 2px;
    margin-top: -33px;
    display: none;
}


/**Position of the iframe inside the reponsive div **/

.visualping-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/** hides the ugly borders **/

iframe {
    border: 0;
}

@media (min-width: 767px) {
    ul.mysidebar.nav {
        height: 100vh;
    }
}

@media (max-width: 767px) {

    /* the div containing the iframe is responsive */
    .visualping-container {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
        max-width: 95%;
    }

    .h1,
    h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
    }

    p,
    .p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }
}


/*visualping ends*/

.solutionshr {
    width: 100%;
}

.hide {
    visibility: none;
}

@media (max-width: 767px) {
    ul.mysidebar.nav {
        height: initial;
        width: 100%;
        display: flex !important;
        flex-direction: column;
        padding: 0 35px;
    }

    img {
        max-width: 100%;
    }
}