
.footer {
  display: none;
}

.navbar-inverse {
  display: none;
}

/* this is so the header won't overlap the links */
:target::before {
  content: "";
  display:block;
  height: 120px;
  margin: -120px 0 0;
}


/*inner page css */
h1[id], h2[id], h3[id], h4[id], h5[id], h6[id], dt[id] {
  margin-top: 30px;
  padding-top: 0;
}

h2[id] {
  color: #162036;
  font-family: "Roboto",Arial;
  font-size: 1.0666em;
  margin-bottom: 0;
  margin-top: 30px;
}
h3[id]{
  font-family: "Roboto", Arial;
  color:#4a4a4a;
  font-size: 16px;
  font-weight: 500;
}
h4[id]{
  font-family: "Roboto", Arial;
  color:#5879da;
  font-size: 0.96em;
  font-weight: 600;
  font-style: inherit;
}

h4 code.highlighter-rouge {
    color: #fff;
    margin-left: 5px;
}

.h1 {
  color: #5879da;
  font-family: "Roboto",Arial;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 35px;
  margin-top: 39px;
  border-bottom: solid 1px #dedddd;
}

.h2 {
  color: #172136;
  font-family: "Roboto",Arial;
  font-size: 18px;
  margin-bottom: 30px;

}
.h3 {
  color: #5879da;
  font-family: "Roboto",Arial;
  font-size: 0.9333em;
  margin-bottom: 8px;
  margin-top: 14px;
}
.h4 {
  color: #5879da;
  font-family: "Roboto",Arial;
  font-size: 0.86em;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 7px;
}
.post-content table{
  width: 125%;
}

.post-content table tbody tr td ul {
  margin-left: -40px;
}

pre code {
  font-size: 12px !important;
}

.bigtable {
  max-width: initial;
}

.post-content table td:first-child {
  width:unset;
  /*max-width: 150px;*/
  font-weight: bold;
}
.post-content table  tr  td {
   font-size: 0.8em;
   font-family: "Open Sans";
    color: #666666;
    max-width: 160px;
    height: 50px;
    hyphens: none;
    background-color: rgba(222, 221, 221, 0.2);
    border-right: solid 1px #fff;
    padding: 21px 25.5px 21px 23px;
    vertical-align: initial;
}

.post-content table > thead > tr > th {
  background-color: #5879da;
  font-family: "Roboto";
  font-weight: 200;
  color: #fff;
  font-size: 14px;
  padding: 14px 22px;
  border-right: solid 1px #ffffff;
}

@media screen and (max-width:768px){
  .post-content table{
    max-width: 88%;
  }
}

@media screen and (max-width:425px){
  .post-content table{
    max-width: 90%;
  }
}
/*
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
  border-top: 1px solid #d6d6d6;

}
*/
table > thead > tr > th {
 border-bottom: none;
}


.designsheet table tr td {
  font-size: 0.9em;
  line-height: 2.4em !important;
  text-align: center;
  font-weight: bold;
}

.designsheet table tr th {
  background-color: #162036;
  font-family: "Open Sans";
  font-size: 0.8888em;
  font-weight: bold;
  color: #fff;
}

.designsheet img {
    width: 100% !important;
    margin: 0 auto;
}

.designsheetnumber {
  font-size: 2.5em;
  margin-bottom: 7%;
  padding-top: 1.5%;
  margin-left: 40%;
  border: 3px solid darkorange;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 50px;
  background-color: orange;
  color: #fff;
}

code {
  background-color: #162036;
  border-radius: 4px;
  color: #fff;
  padding: 2px 10px;
  white-space: initial
}

td code {
  color: #666666;
}

/*toc nav bar */
div#toc {
  background-color: #f2f2f2;
  display: none;
  margin-top: 14px;
  /*min-width: 300px;*/

  position: absolute;
  z-index: 1;
}
div#toc ul {
  width:100%;
  font-size: 11px;
  text-decoration: none;
  color: #5879da;
  list-style-type: none;
  list-style-position: inside;
  max-width: 500px !important;
  margin-top: 12px;
}

div#toc > ul {
  margin-top: -10px;
}

div#toc ul li {
  font-size: 110%;
  list-style: none;
  margin: 8px 0;
  list-style-position: inside;

}
div#toc ul li a {
  color: #5896ed;
  display: block;
  overflow-wrap: break-word;
  padding: 0px;
}

div#toc ul li a:hover{
  text-decoration: none;
  color:black;
}
div#toc > ul > li {
  margin-bottom: 5px;
  margin-top: 0;
  padding: 0;
}
div#toc > ul > li:first-child{
  margin-top:14px;
}
div#toc > ul > li > a {
  vertical-align: top;

}
div#toc > ul > li > a span {
  display: inline-block;
  height: 12px;
  padding-left: 15px;
  padding-right: 15px;
  word-break: break-all;
}

div#toc  ul  li  a.anchorjs-link{
  display: none;
}

div#toc ul li ul li::before {
  content: "";
}
div#toc ul li ul li a{
  display: block;
}
div#toc > ul > li > ul {
  margin-top: 0;
  padding-left: 9px;
}
div#toc ul li ul li ul{
   padding-left: 0px;
}


/*end toc nav bar */
/*left nav bar */
ul#mysidebar.nav {
  text-decoration: none;
  margin-top: 0px;
  margin-left: 34px;
  height: 100%;
  position: fixed;
  width: 100%;
  top: 202px;

}


ul#mysidebar > li.folder > a{
  margin-left: 5px;
}

ul#mysidebar > li.folder ul {
  display: none;
  list-style: none;
}
ul#mysidebar > li.folder ul.folderactive{
   display: block;
}

ul#mysiderbar li{
  display: inline-block;

}
#mysidebar > li:not(.folder) {
  font-size: 1.1em;
  padding-left: 11px;
}
ul#mysidebar.nav li a {
  display: inline-block;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #8c909c;
  overflow-wrap:break-word;
}
ul#mysidebar.nav > li > a{
  padding: 2px 10px 0 0;
  font-size: 15px;
}
ul#mysidebar li ul li{
  margin-right: 0px;
}
ul#mysidebar.nav li a.active{
  color: #172136;
  font-weight: bold;
}
ul#mysidebar.nav li.activepage{
  background-color: inherit;
}
ul#mysidebar.nav li.activepage a{
  background-color: inherit;
  font-weight: bold;
  color: #172136;
}
#mysidebar.nav li.folder > a{
 font-size: 15px;
}

ul#mysidebar.nav li ul li {
  padding-left: 17px;
}
 ul#mysidebar.nav ul li a {
  border-top: none;
  padding-left: 0px;

}

div.sidebarTitle {
  display: none;
  color: #162036;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 9px;
  margin-left: 26px;
  width: 240px;
  top: 68px;
  font-family:  "Roboto", "Open Sans", Helvetica, sans-serif;
  visibility: hidden;
  position: absolute;
}

div.sidebarTitle span{
  vertical-align: top;
  font-family:  "Roboto", "Open Sans", Helvetica, sans-serif;
}
div.sidebarTitle-holder {
    font-size: 1.333em;
    font-weight: normal;
    visibility: hidden;
    margin-top: 50px;
    position: relative;
    font-family:  "Roboto Slab", "Open Sans", Helvetica, sans-serif;
}

.side-bar {
  margin-top: 60px;
}

/*CSS for general styling of Chat/Messaging Indicator*/
.indicator{
  color: #FFFFFF;
  background-color: #162036;
  display: inline-block;
  border: 1px #FFFFFF;
  border-radius: 2px;
  font-size: 1em;
  padding: 2px 4px;
  margin-bottom: 10px;
  position: relative;
  font-family: "Open Sans", "Roboto Slab", Arial, Helvetica, sans-serif;
  cursor: default;
  display: none;
}

/*CSS for tooltip of Indicator*/

.indicator .indicatortooltip{
  visibility: hidden;
  width: 120px;
  background-color: #162036;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  left: -349%;  /* positioning the tooltip on the "C"*/
  margin-top: 9px;

}

/*CSS for tooltip arrow*/
.indicator .indicatortooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #162036 transparent;
}

.indicator:hover .indicatortooltip{
  visibility: visible;
}

/*CSS for specific styling of Chat Indicator*/
.chat{
  background-color: #162036;
}

.messaging{
  background-color: #5879DA !important;
}

.messaging > .indicatortooltip{
  background-color: #5879DA !important;
  left: -285% !important;
}

.messaging > .indicatortooltip::after{
  border-color: transparent transparent #5879DA transparent !important;
}

.breadcrumbs {
  display: none;
  background-color: white;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: 9px;
  min-height: 47px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-top: 15px;
  width: 100%;
  z-index: 10;
  position: fixed;
}
.breadcrumb-item + .breadcrumb-item::before{
  content: '';
}

.breadcrumbs .breadcrumb-item{
  text-decoration:none;
}

.breadcrumbs .breadcrumb-item.clicked::after {
    content: "\f077";
}
.breadcrumbs .breadcrumb-item.no-after{
  content: '';
}
.breadcrumbs .breadcrumb-item span.down-arrow{
   display: inline-block;
    padding-right: 1em;
    padding-left: 0em;
    color: #5896ed;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    font-family: "FontAwesome";
    width:10px;
    height: 10px;
}
/*.breadcrumbs .active{
  content: "∧";
}*/

.breadcrumb > .active {
	cursor: pointer;
}

.post-content {
  max-width: 743px;
  /*padding-top: 26px;*/
}

.post-content .zoomimg {
  transition: transform .2s;
}

.post-content .zoomimg:hover {
  transform: scale(1.75);
}

.post-content > p, .post-content ol,.post-content ul {
  font-family: "Roboto",Arial;
  overflow-wrap: break-word;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #4a4a4a !important;
}

.post-content p strong {
  color: #181818;
  font-family: "Open Sans","Roboto",Arial,Helvetica,sans-serif;
  /*font-weight: lighter;*/
}

.post-content,.post-content *{
  overflow-wrap: break-word;
}


pre {
  margin: 20px 0;
  border: none;
  border-radius: 0px;
  padding: 16px 97px 16px 10px;
}
/*change the defaults colors to match yeal design*/


/*.highlight .na {
  color: #d6c30f;
}
.highlight .s {
  color: #1a78ca;
}

.highlight .nt {
  color: #ff00ff;
}*/

/*not active page */
 #not-available {
        border: solid #162036 1px;
        padding: 40px 20px;
        font-size: 1.2em;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        font-family: Roboto Slab;
        top: 45%;
        left: 50%;
        transform: translate3d(-50%,-50%, 0);
        position: absolute;
}

.fixed{
  position: fixed;
}

.margin-top-zero{
  margin-top: 0px;
}

.margin-top-68{
  margin-top: 68px;
  position: initial !important;
}
@media (min-width: 1114px)
{
  ul#mysidebar {
  margin-left: 9px;
  top: 160px;
  width: 230px;
  height: 100%;
  margin-left: 0px;
}

.inside-page-content {
  margin-left: 0;
  padding-left: 0;
}


}

@media (max-width: 1190px){
    div.sidebarTitle{
      margin-top: 68px;
    }
    div.sidebarTitle-holder{
     display: none !important;
    }
    div.inside-page-content, .inside-page-content .h2{

    }


}

@media (max-width: 992px){
  div.inside-page-content{
    margin-top: 30px;
  }
  div.inside-page-content {

    margin-left: 12px;
  }
  .post-content table tr td{
    max-width: 200px;
  }
  div.sidebarTitle{
        position: initial;
      }
  div#toc {
      margin-top: 6px;
      position: fixed;
      width: 100%;
      left: 0px;
  }
  div#toc ul{
    padding-left:10px;
  }
}

@media (max-width: 414px)
{
  div.sidebarTitle {
      margin-top: 84px;
  }
}

.contactusBtn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 1.2em;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.contactusBtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/** VisualPing Styling Begin
   This div contains the iframe and is set to be responsive
   Edit the max-with to suit your needs
   **/
   .visualping-container {
     position: relative;
     width: 100%;
     overflow: hidden;
     max-width: 235px;
     margin: 0 auto;
     margin-left: 2px;
     margin-top: -33px;
     display: none;
   }

   /**Position of the iframe inside the reponsive div **/
   .visualping-container iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
   }

   /** hides the ugly borders **/
   iframe {
     border: 0;
   }


   @media only screen and (max-width: 767px) {

     /* the div containing the iframe is responsive */
     .visualping-container {
       -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
       box-sizing: inherit;
       max-width: 95%;
     }
   }
/*visualping ends*/

.solutionshr {
  width: 100%;
}

.hide {
  visibility: none;
}
