@font-face {
    font-family: "Open Sans Semibold";
    src: url("../fonts/OpenSans-Semibold.eot?") format("eot"),
    url("../fonts/OpenSans-Semibold.woff") format("woff"),
    url("../fonts/OpenSans-Semibold.ttf") format("truetype"),
    url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*colors */
.find{
  background-color: yellow;
  display: inline-block;
}
.mark{
    background: yellow;
    color: black;
    position: relative;
}

.orange{
    color: #ff720b;
}
.orange-line{
    width:50px;
    height: 2pt;
    background-color: #ff720b;
}

.centralized{
    margin: 0 auto;
    clear: both;
    text-align: center;
}

.header {
    font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    margin-top: 35px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: #162036;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
.container {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 1280px;
  position: relative;
}

/*left nav bar */
#mysidebar.nav li a {
    background-color: white;
}

/*top nav */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: inherit;
    color: #ff720b;
}

/* Algolia styling */

.aa-input-container {
  display: inline-block;
  position: relative;
  float: right;
}

.aa-input-search {
  color: white;
  padding: 12px 28px 12px 12px;
  border-color: transparent;
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: .2s;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  box-sizing: border-box;
  background-color: transparent;
  margin-top: 2.5%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

  .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
    display: none;
  }

  .aa-input-search:focus {
    outline: 0;
    border-color: #3a96cf;
  }

.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4;
}

.aa-hint {
  color: #e4e4e4;
}

.aa-dropdown-menu {
  background-color: #162036;
  border: 2px solid rgba(228, 228, 228, 0.6);
  border-top-width: 1px;
  font-family: "Montserrat", sans-serif;
  width: 300px;
  margin-top: 10px;
  font-size: 11px;
  border-radius: 4px;
  box-sizing: border-box;
}
.algolia-autocomplete .ds-dropdown-menu {

}
.aa-suggestion {
  padding: 12px;
  border-top: 1px solid rgba(228, 228, 228, 0.6);
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
        }


  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); }
  .aa-suggestion > span:first-child {
    color: #333;
  }

  .aa-suggestion > span:last-child {
    text-transform: uppercase;
    color: #a9a9a9;
  }

.aa-suggestion > span:first-child em, .aa-suggestion > span:last-child em {
  font-weight: 700;
  font-style: normal;
  background-color: rgba(58, 150, 207, 0.1);
  padding: 2px 0 2px 2px;
}

.input-has-value .aa-input-icon {
  opacity: 0; }
.aa-input-close {
  height: 12px;
  width: 12px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4;
  visibility: hidden;
  opacity: 0; }
  .input-has-value .aa-input-close {
    opacity: 1;
    visibility: visible;
    cursor: pointer; }

#search-demo-container {
    float: right;
    max-height: 4em;
    overflow: hidden;
    display:none;
}
#search-icon {
  float: right;
  margin-top: 12px;
  position: relative;
  width: 36px;
  cursor: pointer;
}
#search-demo-container .close-btn {
  color: white;
  cursor: pointer;
  float: left;
  font-size: 1.3em;
  margin: 15px 0 0;
}
#search-input {
  background-color: transparent;
  border-color: transparent;
  color: white;
  float: left;
  font-size: 0.9em;
  margin-left: 0;
  margin-top: 12px;
  width: 15.5em;
}

.search-line {
  background-color: #e6e6e6;
  height: 1px;
  position: absolute;
  right: 10px;
  top: 48px;
  width: 252px;
  display: none;
}
#search-demo-container ul#results-container {
    border-left: none;
    box-shadow:none;
    right: 10px;
    width: 255px;
    background-color: #f8f8f8;
    font-size: 0.666em;
    display:none;
    padding-left:10px;
}

#search-demo-container ul#results-container li{
  width: 95%;
  margin-bottom: 5px;
  font-family: "Open Sans";
}
#search-demo-container ul#results-container li.nolink{
  margin-top: 10px;
  font-family: "Open Sans Semibold";
}
ul#results-container li a {
  background-color: initial;
  color: #808080;
  display: inline-block;
  width: 100%;
  overflow-wrap: break-word;
}
#search-demo-container ul#results-container ul li:hover{
  background-color: white;
  color:#808080;
}
#search-demo-container ul#results-container li:not(:last-child):hover a{
  color:#808080;
}

/*#search-demo-container ul#results-container li:not(:last-child):hover a::after{
  padding-top: 1px;
  content: 'x';
  float:right;
  margin-right: 8px;
  font-size: 0.75em;
  color:#808080;
}*/

#search-demo-container ul#results-container li a:hover{
  text-decoration: none;

}

#search-demo-container ul#results-container li:first-child{
  margin-top:10px;
}
#search-demo-container ul#results-container > li:last-child {
  margin-bottom: 10px;
  padding-right: 10px;
  text-align: right;

}

#search-demo-container ul#results-container > li:last-child a {
  color: #162036;
  font-weight: bold;
  margin-right: -15px;
}
#search-demo-container ul#results-container li:last-child a::after{
  content: '';
}

#search-demo-container ul#results-container li.grey-line {
  border-bottom: 1px solid #808080;
  margin: 10px 0;
  width: 95%;
}

#search-demo-container ul#results-container li ul{
   padding: 0;
    list-style-type: none;
    margin-top:-10px;
}
#search-demo-container ul#results-container li ul li {
  /*float:left;*/
}
*:focus {
    outline: none;
}
.collapse {
  height: auto;
  width: auto;
}

.collapse.height {

  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.collapse.width {

  width: 0;
  overflow: hidden;
  -webkit-transition: width  0.35s ease;
  -moz-transition: width  0.35s ease;
  -o-transition: width  0.35s ease;
  transition: width  0.35s ease;
}

.collapse.in.width {
  width: 242px;
}
.collapse.out.width {
  width: 0px;
}

.collapse.in.height {
  height: auto;
}

.footer {
  color: #6d6d6d;
  display: table;
  font-family: "Open Sans Semibold",Arial,Helvetica,sans-serif;
  font-size: 13px;
  text-align: center;
}
.inside-page-content footer{
  display: none;
}
.mobile-search-container{
  display: none;
}
@media (max-width: 1114px)
{
  footer {
    padding-bottom: 15px;

}
}

@media (max-width: 767px) {
    footer {
        position: initial;
        margin: 0;
    }
      .footerPlaceHolder {
        display:none;
      }
    .post-content footer:first-child{
      display: none;
    }
    .mobile-search-container {
      background-color: #162036;
      float: right;
      margin-top: 11px;
      position: fixed;
      right: 46px;
      width: auto;
      height:42px;
      display: block;


    }
    .mobile-search-container.under-line{
      border-bottom: solid 1px #e6e6e6;
    }
    #search-input-mobile {
      background-color: transparent;
      border-color: transparent;
      color: white;
      float: right;
      font-size: 0.9em;
      margin-top: 7px;
      width: 0;

      border:none;
    }
    #search-icon-mobile {
        float: right;
        width: 37px;
    }

    .mobile-search-container .close-btn {
      color: white;
      float: right;
      margin-right: 10px;
      margin-top: 7px;
      width: auto;
      display: none;
      cursor: pointer;
    }
    #search-demo-container{
      display: none !important;
    }
}

.button {
  color: #5576dd !important;
  border-radius: 5px;
  text-align: center;
  padding: 6px 45px;
  display: inline-block !important;
  font-size: 1.2em;
  font-family: "Open Sans", "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: 600;
  border: 2px solid #5576dd;
  margin-top: 15px;
  position: relative;
}

.button:hover{
  color: #ffffff !important;
  background: #162036 !important;
  transition: background .25s;
  border: 2px solid #ffffff;
}
