* {
  margin: 0;
  text-rendering: optimizeLegibility;
}

*:focus {
  outline: none;
}

html {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #f6f6f8;
  margin: 0;
  padding-top: 0;
}

@supports (display: grid) {
  #registerWrapper {
    display: grid;
    grid-template-rows: 0.5fr 5fr;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: #f6f6f8;
  }

  #registerHeader {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    background-image: linear-gradient(to right, #151f36, #5779da);
  }

  #registerContent {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  #registerFooter {
    grid-column: 1 /span 3;
    grid-row: 3 /span 1;
    background-color: #e5e5e5;
  }
}

#registerHeader img {
  width: 190px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 32px;
}

#registerContent {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#registerTitle {
  font-size: 40px;
  color: #ff720b;
  margin-top: 45px;
}

#registerSub {
  font-size: 21px;
  font-weight: 300;
  color: #162036;
  margin-top: 16px;
}

#formContainer {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

#registerForm {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
  flex: 1;
  text-align: left;
}

#registerForm input {
  border: solid 1px #d6d6d6;
  background-color: #ffffff;
  height: 22px;
  margin-bottom: 16px;
  padding: 7px 10px;
  font-size: 14px;
}

#region {
  border: solid 1px #d6d6d6;
  background-color: #ffffff;
  height: 40px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  color: #666666;
  text-indent: 5px;
  -webkit-appearance: initial;
  -webkit-padding-start: 9px;
}

select {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.mandatory:before {
  content: "*";
  color: red;
}

#passwordReq {
  font-size: 14px;
  color: #666666;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  color: #666666;
}
input::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  color: #666666;
}

input:-ms-input-placeholder { /* IE 10+ */
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  color: #666666;
}

input:-moz-placeholder { /* Firefox 18- */
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  color: #666666;
}

#formContainer hr {
  border: none;
  border-left: 1px solid #d6d6d6;
  width: 1px;
}


#captchaContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 35px;
}

#byClicking {
  width: 50%;
  margin-top: 25px;
  display: flex;
  text-align: left;
}

#byClicking input {
  margin-right: 10px;
  margin-top: 10px;
}

#byClicking span {
}

#byClicking span a {
  text-decoration: none;
}

#registerContainer {
  display: flex;
}

#registerButton, #registerButtonTest  {
  border-radius: 5px;
  background-color: #ff720b;
  margin-top: 45px;
  height: 50px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.5;
}

.activeButton {
  opacity: 1 !important;
}

#registerButton span {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

#loader {
  display: none;
  align-self: flex-end;
  margin-bottom: 7px;
  margin-left: 20px;
}

#checkboxContainer {
  display: flex;
  align-items: center;
}

#checkboxContainer input {
  margin-bottom: 0;
  margin-right: 5px;
}

#checkboxContainer span {
}


.conditionButton {
  display: none;
  text-align: left;
  color: red;
  align-self: baseline;
  margin-top: 5px;
  font-style: italic;
  font-size: 15px;
}

.success {
  color: #5779da;
}

/* Media queries begin, don't panic! */

@media screen and (max-width: 1400px) {

  #byClicking {
    width: 65%;
  }
}

@media screen and (max-width: 824px) {
  #formContainer {
    flex-direction: column;
  }

  #formContainer hr {
    height: 40px;
    width: 95%;
    margin-top: 40px;
    border-top: 1px solid #d6d6d6;
    border-left: none;
  }

  #captchaContainer {
    padding-left: 0;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 450px) {
  #registerContent {
    align-items: center;
  }

  #registerTitle {
    width: 60%;
  }

  #registerSub {
    width: 50%;
  }

  #registerForm {
    margin-right: 0;
  }

  #captchaContainer {
    align-items: center;
  }

  #byClicking {
    width: 70%;
  }

}
