* {
  margin: 0;
  text-rendering: optimizeLegibility;
}

*:focus {
  outline: none;
}

html {
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #f6f6f8;
  margin: 0;
  padding-top: 0;
}

@supports (display: grid) {
  #registerWrapper {
    display: grid;
    grid-template-rows: 0.5fr 5fr;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: #f6f6f8;
  }

  #registerHeader {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    background-image: linear-gradient(to right, #151f36, #5779da);
  }

  #registerContent {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  #registerFooter {
    grid-column: 1 /span 3;
    grid-row: 3 /span 1;
    background-color: #e5e5e5;
  }
}

#registerHeader img {
  width: 10%;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 32px;
}

#registerContent {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#registerTitle {
  font-family: RobotoSlab;
  font-size: 40px;
  font-weight: 300;
  color: #ff720b;
  margin-top: 45px;
}

#registerSub {
  font-family: RobotoSlab;
  font-size: 21px;
  font-weight: 300;
  color: #162036;
  margin-top: 16px;
}

#formContainer {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

#registerForm {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
  flex: 1;
  text-align: left;
}

#registerForm input {
  border: solid 1px #d6d6d6;
  background-color: #ffffff;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px 14px;
  font-size: 18px;
}

#country {
  border: solid 1px #d6d6d6;
  background-color: #ffffff;
  height: 62px;
  margin-bottom: 20px;
  padding: 10px 14px;
  font-size: 18px;
  font-family: OpenSans;
  font-weight: normal;
  font-style: italic;
  color: #666666;
}

select {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.mandatory:before {
  content: "*";
  color: red;
}

#passwordReq {
  font-family: OpenSans;
  font-size: 14px;
  color: #666666;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: OpenSans;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  color: #666666;
}
input::-moz-placeholder { /* Firefox 19+ */
  font-family: OpenSans;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  color: #666666;
}

input:-ms-input-placeholder { /* IE 10+ */
  font-family: OpenSans;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  color: #666666;
}

input:-moz-placeholder { /* Firefox 18- */
  font-family: OpenSans;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  color: #666666;
}

#formContainer hr {
  border: none;
  border-left: 1px solid #d6d6d6;
  height: 65vh;
  width: 1px;
}


#captchaContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 35px;
}

#byClicking {
  width: 50%;
  margin-top: 25px;
  display: flex;
  text-align: left;
}

#byClicking input {
  margin-right: 10px;
  margin-top: 10px;
}

#registerButton {
  border-radius: 5px;
  background-color: #ff720b;
  margin-top: 45px;
  height: 40px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#registerButton span {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
