.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  border: none !important;
}

.algolia-autocomplete .ds-dropdown-menu {
  max-width: unset !important;
  min-width: unset !important;
  width: 101.5%;
  top: 89% !important;
  margin-right: 0 !important;
  height: 80vh !important;
  overflow-y: scroll;
  background: white;
}


.overlayvisible {
  opacity: 0.5;
  -webkit-transition: opacity .10s ease-in-out;
  transition: opacity .10s ease-in-out;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
  font-size: 15px !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #6f6f6f;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  font-size: 16px !important;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  color: #5879da !important;;
  width: 60% !important;
  text-align: left !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--wrapper {
  display: flex;
  flex-direction: column;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  font-size: 20px !important;
  border-bottom: unset;
  margin-top: none;
  width: 9%;
  border-bottom: 1px solid #4a4a4a !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column:before {
  background-color: #fff !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content:before {
  background-color: #fff !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  background: rgba(0, 119, 255, 0.1) !important;
  font-weight: bold;
  color: inherit;
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
  color: #6f6f6f;
}

.algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--subcategory-column:after {
  content: none !important;
}
