.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  border: none !important;
}

.algolia-autocomplete .ds-dropdown-menu {
  max-width: unset !important;
  min-width: unset !important;
  width: 105%;
  top: 186% !important;
  margin-right: -5px !important;
}


.overlayvisible {
  opacity: 0.5;
  -webkit-transition: opacity .10s ease-in-out;
  transition: opacity .10s ease-in-out;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
  font-size: 15px !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #6f6f6f;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  font-size: 16px !important;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  color: #5879da !important;;
  width: 13% !important;
  text-align: left !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--wrapper {
  display: flex;
  flex-direction: column;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  font-size: 20px !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column:before {
  background-color: #fff !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content:before {
  background-color: #fff !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  border-bottom: unset;
  margin-top: none;
}
