.aa-dropdown-menu {
  max-width: unset !important;
  min-width: unset !important;
  top: 99% !important;
  margin-right: 0 !important;
  height: 80vh !important;
  overflow-y: scroll;
  background: white;
  width: 101.4%;
  left: -18px !important;
  padding-left: 20px;
  padding-right: 40px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.2), 0 2px 3px 0 rgba(0,0,0,.1);
  border-radius: 4px;
}

.aa-dataset-dev {
  margin-bottom: 20px;
}

.searchtitlecontainer {
  margin-top: 10px;
  width: 90%;
  padding: 10px;
}

.searchtitlecontainer:hover {
  background-color: #f2f1f2;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.aa-cursor {
  background-color: #f2f1f2;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.searchtitle {
  font-size: 18px;
  font-family: "Roboto";
}

span.documentContainer {
  color: #A5B4C4;
  font-size: 12px;
}

span.searchcontentcontainer {
  font-family: "Roboto",Arial;
  overflow-wrap: break-word;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #4a4a4a!important;
}

.ais-Highlight {
  font-style: normal;
  font-weight: 600;
  color: #3257ec;
}
