.welcome-card {
    flex: 0 47%;
    padding: 24px;
    margin-right: 1%;
    min-height: 180px;
    /* Primary/White */
    background: #FFFFFF;
    /* J/Navy Lighter Gray */
    margin-bottom: 16px;
    border: 1px solid var(--navy-lighter-gray);
    box-sizing: border-box;
    border-radius: 8px;
}

.welcome-card:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
}

.header-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    width: 670px;
    flex: 2;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: var(--navy-gray);
}

.success-stories-header {
    font-size: 24px;
    max-width: 418px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
    color: #ffffff;
    letter-spacing: 0.008em;
}

.container-image {
    margin: 0 0 16px 0;
}

.card-container {
    display: flex;
    margin-top: 64px;
    padding-right: 48px;
    width: 100%;
    flex-wrap: wrap;
}

img.card-container {
    margin-top: 24px;
    margin-bottom: 16px;
}

.welcome-title {
    color: var(--navy);
    font-weight: bold;
    margin: 0;
    max-width: 424px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;

}

.welcome-title.parent:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
}

.welcome-content {
    color: var(--navy-gray)
}

#success-stories {
    background-image: linear-gradient(180deg, rgba(15, 9, 67, 0.88) 0%, rgba(41, 39, 64, 0.8) 100%), url('img/welcomebanner.png');
    background-repeat: no-repeat;
    background-position: center;
}

#free-trial {
    background: var(--navy);
    flex: 0 95%;
    display: flex;
    margin-top: 40px;
    padding: 40px 0 40px 40px;
    border-radius: 8px;
}

#free-trial-button-welcome {
    flex: 1;
    display: flex;
    align-items: center;
    padding-right: 24px;
    justify-content: flex-end;
}

.free-trial-container {
    display: flex;
    padding-right: 48px;
    width: 100%;
    flex-wrap: wrap;
}

#free-trial-content-container {
    flex: 3;
}

.create-button {
    border-radius: 25px;
    text-align: center;
    padding: 12px;

    font-weight: bold;
    color: white;
    border: 1px solid white;
    background-color: inherit;
}

.create-button:hover {
    background: rgba(255, 255, 255, 0.16);
}

.free-trial-header {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.free-trial-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    padding-right: 24px;
    letter-spacing: 0.01em;
    color: white;
}