.welcome-card {
  width: 47%;
  flex-grow: 1;
  padding: var(--space8);
  min-height: 172px;
  /* Primary/White */
  background: var(--card-background);
  /* J/Navy Lighter Gray */
  margin-bottom: 0;
  border: 1px solid var(--card-border);
  box-sizing: border-box;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.welcome-card:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
}

.header-label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  color: var(--body-text);
}

.success-stories-header {
  font-size: 24px;
  max-width: 418px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  line-height: 40px;
  color: var(--cta-text);
  letter-spacing: 0.008em;
}

.container-image {
  margin: 0 0 var(--space4) 0;
}

.card-container {
  display: flex;
  margin-top: var(--space8);
  width: 100%;
  flex-wrap: wrap;
  gap: 32px;
}

img.card-container {
  margin-top: 24px;
  margin-bottom: var(--space4);
}

.welcome-title {
  color: var(--card-text);
  font-weight: bold;
  margin: 0;
  max-width: 424px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  margin-top: 0;
}

.welcome-title.parent:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
}

.welcome-content {
  color: var(--body-text);
  margin-bottom: 0;
}

#success-stories {
  background-image: linear-gradient(
      180deg,
      rgba(15, 9, 67, 0.88) 0%,
      rgba(41, 39, 64, 0.8) 100%
    ),
    url("img/welcomebanner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#free-trial {
  background: var(--cta-background);
  width: 100%;
  display: flex;
  margin-top: var(--space8);
  padding: var(--space8);
  border-radius: 0;
}

#free-trial-button-welcome {
  flex: 1;
  display: flex;
  align-items: center;
  padding-right: 24px;
  justify-content: flex-end;
}

.free-trial-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#free-trial-content-container {
  flex: 3;
}

.create-button {
  border-radius: 25px;
  text-align: center;
  padding: 12px;

  font-weight: bold;
  color: var(--cta-text);
  border: 1px solid var(--cta-text);
  background-color: inherit;
}

.create-button:hover {
  background: rgba(255, 255, 255, 0.16);
}

.free-trial-header {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: var(--button-text);
}

.free-trial-label {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding-right: 24px;
  letter-spacing: 0.01em;
  color: var(--cta-text);
  display: flex;
  align-items: center;
}

div#success-stories p.free-trial-label img.dots-container {
  margin: 0 10px 0 0;
}
