body {
  background: #090c43 !important;
  overflow: auto;
}

.container {
  padding: 10px;
  overflow: hidden;
  display: block !important;
}

#lp_account {
  height: 44px;
  width: 286px;
  border-radius: 8px;
  padding: 0 16px;
  border: 1px solid white;
  color: white;
  background-color: inherit;
}

#lp_account::placeholder {
  color: #818299;
}

#lp_username {
  background: url("/img/group-15.png") no-repeat scroll 8px 11px;
  /*width: 291px;*/
  height: 40px;
  border-radius: 20px;
  padding-left: 30px;
  /*background-color: #f9f9f9;*/
}

.form-control:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.liveperson-logo {
  display: none;
}

.greeting-bot-header {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  display: none;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.008em;
  color: #ffffff;
}

.lp-tips-container {
  display: none;
}

#lp_btn_login {
  width: auto;
  height: 44px;
  border-radius: 22px;
  border: none;
  padding: 0 24px;
  background-color: #0053f4;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  margin-left: 24px;
  line-height: normal;

  text-align: center;
  color: #ffffff;
  outline: none;
}

#lp_form #AccountNo {
  margin-left: 56px;
  width: 65px;
  height: 15px;
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #4a4a4a;
}

.Username {
  width: 55px;
  height: 15px;
  font-family: Space Grotesk, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #4a4a4a;
}

.Update {
  width: 52px;
  height: 13px;
  font-family: SFUIText;
  font-size: 11px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  text-align: center;
  color: #ffffff;
}

#bottom-divider {
  width: 800px;
  height: 11.6px;
  opacity: 0.1;
  background-color: #000000;
  z-index: 2;
  position: relative;
}

#account_setup {
  margin-top: -30px;
  height: 94.6px;
  border-radius: 24px;
  background-image: linear-gradient(314deg, #9153f3, #36bff0, #32c6f4);
}

#collapseSetup {
  /*width: 600px;*/
  border-radius: 24px;
  background-image: linear-gradient(349deg, #9153f3, #36bff0, #32c6f4);
}

.spotlight-content-container {
  display: none;
}

#lp_lnk_setup {
  margin-top: 50px;
  width: 170px;
  height: 11px;
  font-family: Space Grotesk, sans-serif;
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.45px;
  text-align: center;
  color: #ffffff;
  z-index: 0;
  position: absolute;
}

#lp-form {
  /*width: 400px;*/
  height: 362px;
  box-shadow: 0 5px 10px 0 rgba(131, 146, 167, 0.2);
  background-color: #ffffff;
  margin-top: -20px;
  z-index: 2;
  position: relative;
  padding: 50px;
}

#environment {
  width: 65px;
  height: 15px;
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
}

#username {
  width: 55px;
  height: 15px;
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #4a4a4a;
}

#lp-info {
  height: 362px;
  box-shadow: 0 5px 10px 0 rgba(131, 146, 167, 0.2);
  background-color: #ffffff;
  margin-top: -20px;
  margin-left: -10px;
  z-index: 2;
  position: absolute;
}

#lp-info #ORG_LP_LOGO_Orange_RGB {
  /*width: 189.6px;*/
  height: 30px;
  background-color: #aaaaae;
}

#lp-info #window-icon {
  /*width: 81px;*/
  height: 60px;
  object-fit: contain;
  margin-top: 40px;
  padding-left: 150px;
  padding-right: 50px;
}

#lp-info #window-preview {
  margin-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

#This-is-where-you-ar {
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  height: 64px;
  font-family: Inter;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
}

#powered-by {
  /*margin-top: 20px;*/
  margin-right: 40px;
  margin-left: 85px;
}

#web-message-ex-top {
  /*width: 800px;*/
  height: 94.6px;
  border-radius: 24px;
  background-color: #32c6f4;
}

#web-message-ex {
  margin-top: 20px;
  /*margin-left: 10px;*/
  width: 450px;
  height: 41px;
  object-fit: contain;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-align: left;
}

#info-form {
  width: 800px;
}

.modal-body {
  /*padding-top: 30px;*/
}

#close-button {
  padding-right: 7px;
}

#Account-Setup {
  width: 119px;
  height: 24px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}

#The-following-config {
  width: 429px;
  height: 48px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #ffffff;
  text-align: left;
  margin-bottom: 5px;
}

.Authentication-Endpo {
  height: 15px;
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  /*text-align: left;*/
  /*margin: 10px 120px 10px -60px;*/
  margin-right: 30px;
}

.Rectangle {
  /*margin-left: 20px;*/
  /*width: 220px;*/
  height: 30px;
  opacity: 0.5;
  border-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 5px;
}

.vw-lpgithub {
  /*width: 190px;*/
  height: 15px;
  font-family: Space Grotesk, sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
  padding-left: 5px;
  /*padding-top: 5px;*/
}

.JS-method-name {
  width: 92px;
  height: 15px;
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  margin-right: 68px;
}

.LPJsMethodName {
  width: 84px;
  height: 15px;
  font-family: Inter;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
  padding-left: 5px;
  padding-top: 5px;
}

.Token-Endpoint {
  width: 85px;
  height: 15px;
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  text-align: left;
  margin-right: 76px;
}

.vw-idplivepe {
  /*width: 195px;*/
  height: 15px;
  font-family: Inter;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
  padding-left: 5px;
  padding-top: 5px;
}

.JS-context {
  width: 58px;
  height: 15px;
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  margin-right: 102px;
}

.LPJsContext {
  width: 57px;
  height: 15px;
  font-family: Inter;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
  text-align: center;
  padding-left: 5px;
  padding-top: 5px;
}

.JWT {
  width: 131px;
  height: 15px;
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  margin-right: 78px;
  /*margin-left: -165px;*/
}

#pub-key {
  height: 45px;
  font-family: Inter;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
  text-align: left;
  border-radius: 4px;
  background-color: #ffffff;
  word-wrap: break-word;
  padding: 5px;
}

#Rectangle-pub {
  opacity: 0.5;
  border-radius: 4px;
  background-color: #ffffff;
  height: 150px;
}

.copy {
  width: 33px;
  height: 10px;
  opacity: 0.5;
  font-family: Inter, sans-serif;
  font-size: 8px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.18px;
  text-align: center;
  color: #ffffff;
}

#modal-close {
  width: 170px;
  height: 11px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.45px;
  text-align: right;
  color: #ffffff;
  z-index: 0;
  position: fixed;
}

section .feature {
  color: rgb(231, 201, 0);
}

footer {
  position: static;
  bottom: 5%;
  color: #fff;
  font-size: 0.8em;
}

footer {
  right: 5%;
}

footer .credit {
  padding: 0.5em;
}

a {
  color: #fff;
}

.lp-tips-container {
  display: inline-block !important;
  width: 30%;
  height: 20%;
  margin-left: 40px;
  margin-top: 180px;
}

.lp-tips-content {
  /* width: 328px;
    height: 24px; */
  font-weight: normal !important;
  font-size: 16px;
  line-height: 28px;

  font-family: Inter;
  color: #ffffff;
  margin-bottom: 16px;
}

.liveperson-logo {
  display: block !important;
  margin: 32px 0 0 32px;
}

.lp-tips-header {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;

  font-family: Inter;
  color: #ffffff;
  margin-bottom: 16px;
}

.form-box {
  display: inline-block !important;
  position: absolute;
  left: 45%;
  margin-left: -170px;
}

.greeting-bot-header {
  font-family: Inter;
  display: block !important;
  width: 430px;
  margin: 0 auto 62px auto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.008em;
  color: #ffffff;
}

.row {
  display: inline-flex;
}

/*@media only screen and (max-width: 768px) {*/
/*section {*/
/*font-size: 2em;*/
/*}*/
/*footer {*/
/*opacity: 0.5;*/
/*}*/
/*}*/
