<footer>
        <div class="container inner-footer">
            <div class="row">
                <ul>
                    <li  class="col-lg-2 col-md-2 col-sm-12 col-xs-12 logo"><img src="images/footer_logo_white.png" id="footer_logo_white" /></li>
                    <li  class="col-lg-1 col-md-1 col-sm-4 col-xs-6"><a href='{{ site.Copyright }}' target="_blank" >Copyright</a></li>
                    <li  class="col-lg-1 col-md-1 col-sm-4 col-xs-6"><a href='{{ site.Disclaimer }}' target="_blank" >Disclaimer</a></li>
                    <li class="col-lg-1 col-md-1 col-sm-4 col-xs-6"><a href='{{ site.PrivacyPolicy }}' target="_blank" >Privacy Policy</a></li>
                    <li class="col-lg-1 col-md-1 col-sm-4 col-xs-6"><a href='{{ site.TermsofUse }}' target="_blank" >Terms of Use</a></li>
                    <li class="col-lg-2 col-md-1 col-sm-4 col-xs-6"><a href='{{ site.APITermsofUse }}' target="_blank" >API Terms of Use</a></li>
                    <li class="col-lg-4 col-md-4 col-sm-4 col-xs-6 last"><div>&copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved.</div></li>
                </ul>
            </div>
        </div>

        <script>
  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/86551/script.js');
        </script>
</footer>
<!-- this hidden footer for kepping the place of the fixed footer in the page-->
<footer class="footerPlaceHolder" style="visibility: hidden; bottom:0px;display:none">
        <div class="container inner-footer">
            <div class="row">
                <ul>
                    <li  class="col-lg-2 col-md-2 col-sm-12 col-xs-12 logo"><img src="images/footer_logo_white.png" id="footer_logo_white" /></li>
                    <li  class="col-lg-1 col-md-1 col-sm-4 col-xs-6">Copyright</li>
                    <li  class="col-lg-1 col-md-1 col-sm-4 col-xs-6">Disclaimer</li>
                    <li class="col-lg-1 col-md-1 col-sm-4 col-xs-6">Privacy Policy</li>
                    <li class="col-lg-1 col-md-1 col-sm-4 col-xs-6">LiveEngage Terms of Use</li>
                    <li class="col-lg-2 col-md-1 col-sm-4 col-xs-6">API Terms of Use</li>
                    <li class="col-lg-4 col-md-4 col-sm-4 col-xs-6 last"><div>&copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved.</div></li>
                </ul>
            </div>
        </div>

</footer>
