<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">-->
<!--<meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">-->
{% if (page.documentname != null) %}
<title>{{ page.documentname }} - {{ page.pagename }} | {{ site.site_title }}</title>
{% else %}
<title> {{ page.pagename }} | {{ site.site_title }}</title>
{% endif %}
<link rel="stylesheet" href="{{ "css/syntax.css" }}">
<link rel="stylesheet" href="{{ "css/default.min.css" }}">
<link rel="stylesheet" href="{{ "css/404.css" }}">
<link rel="stylesheet" href="{{ "css/hamburgers.css" }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="{{ "css/modern-business.css" }}">
<link rel="stylesheet" href="{{ "css/theme-black.css" }}">
<link rel="stylesheet" href="{{ "css/breadcrumb-style.css" }}">
<link rel="stylesheet" href="{{ "css/home.css" }}">
<link rel="stylesheet" href="{{ "css/lavish-bootstrap.min.css" }}">
<link rel="stylesheet" href="{{ "css/pace-theme-flat-top.css" }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,400,500,600,700,300" >
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,400,500,600,700,300" >
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,400,400italic,700,700italic,300,600" >

<script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script  src="{{ "js/jquery.linkunderanim.min.js" }}"></script>
<script  src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.8.3/jquery.mark.js" ></script>
<script  src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js"></script>
<script  src="{{ "js/jquery-scrolltofixed-min.js" }}"></script>
<script  src="{{ "js/additionalscripts.js" }}"></script>
<script src="{{ "node_modules/jquery-highlight/jquery.highlight.js" }}"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14.0.0/dist/smooth-scroll.polyfills.min.js"></script>
<script src="{{ "js/pace.min.js" }}"></script>
<link rel="shortcut icon" href="{{ "images/favicon.ico"  }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">
<!-- Hotjar Tracking Code for developers.liveperson.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1377445,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
