
<div id='{{include.name}}'></div>
<h4>JSON Output</h4>
<button id='{{include.name}}copy' onClick=" document.getElementById('{{include.name}}output').select(); document.execCommand('copy');">Copy to Clipboard</button>
<span id='{{include.name}}valid_indicator'></span>
<textarea id='{{include.name}}output' style='width: 100%; height: 100px; font-family: monospace;' class='form-control'></textarea>
<h4>JSON Schema</h4>
You can find the json schema definition of this message here: <a href="{{ include.schemaFile }}">{{ include.schemaFile }}</a>

<script src="assets/js/jsoneditor.js"></script>
<script>
  var {{include.name}};

  $.getJSON( "{{ include.schemaFile }}" , function( data ) {
    const fullpath = "{{ include.schemaFile }}";
    data.baseUrl = fullpath.substring(0, fullpath.lastIndexOf("/"));
    // JSONEditor.defaults.editors.object.options.collapsed = true;
    {{include.name}} = new JSONEditor(document.getElementById('{{include.name}}'),{
      ajax: true,
      schema: data,
      {% if include.startval  %}
      startval: {{ include.startval }},
      {% endif %}
      no_additional_properties: false,
      disable_edit_json: true,
      display_required_only: true,
      // form_name_root : "structure",
      keep_oneof_values: false,
      theme: 'bootstrap3',

      {% if include.properties != true %}
      disable_properties: true,
      {% endif %}

      iconlib: "fontawesome4"
    });


    {{include.name}}.on('change',function() {
      if ('{{ include.readonly }}') {
        '{{ include.readonly }}'.split(" ").forEach(function(ro){
              {{include.name}}.getEditor(ro).disable()
        });
      }
      if ('{{ include.readonly_oneOf }}') {
        '{{ include.readonly_oneOf }}'.split(" ").forEach(function(ro){
            {{include.name}}.getEditor(ro).switcher.disabled = true
        });
      }
      // Get an array of errors from the validator
      var errors = {{include.name}}.validate();
      var indicator = document.getElementById('{{include.name}}valid_indicator');

      // Not valid
      if(errors.length) {
        indicator.style.color = 'red';
        indicator.textContent = "not valid";
        document.getElementById('{{include.name}}copy').disabled = true;
        document.getElementById('{{include.name}}output').value = JSON.stringify(errors,null,2);
      }
      // Valid
      else {
        indicator.style.color = 'green';
        indicator.textContent = "valid";
        document.getElementById('{{include.name}}copy').disabled = false;
        document.getElementById('{{include.name}}output').value = JSON.stringify({{include.name}}.getValue());
      }
    });
  });

</script>
