
  <nav class="breadcrumbs breadhidden hidden-sm-down">

    {% if page.categoryname %}
    <a href="/" class="breadcrumb-item">Developer Center</a>
    <span class="breadcrumb-item">{{ page.categoryname }}</span>
    {% endif %}
    {% if page.documentname %}
     <span class="breadcrumb-item">{{ page.documentname }}</span>
    {% endif %}
    {% if page.subfoldername %}
     <span class="breadcrumb-item">{{ page.subfoldername }}</span>
    {% endif %}
    <span class="breadcrumb-item no-after">{{ page.pagename }}</span>

  </nav>
