<div>
  <label for="accountnumber">Account Number</label>
  <input type="text" id="accountnumber" name="account_number">
</div>
<div class="methodcontainer">
  <div class="apinamecontainer">
    <div class="apilistcontainer">
      <button id="apiName" name="headApiName">Choose an API</button>
      <ul id="apiList">
        {% for category in site.data.documentsupdated %}
          {% for document in category.documents %}
          {% if document.basedomain %}
          <li data-api-link="{{document.basedomain}}" class="apiLink">{{document.documentname}}</li>
          {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
    <div class="inputcontainer">
      <input id="apiNameInput" type="text" />
    </div>
</div>
  <div>
    <button id="methodName" name="headMethodName">Choose a method</button>
  </div>
</div>
