<div>
  <label for="name">Account Number</label>
  <input type="text" id="name" name="user_name">
</div>
<div>
  <button id="apiName" name="headApiName">Choose an API</button>
  <ul id="apiList">
    {% for category in site.data.documentsupdated %}
      {% for document in category.documents %}
      <li data-link="{{document.documentname}}" class="apiLink">{{document.documentname}}</li>
      {% endfor %}
    {% endfor %}
  </ul>
  <input id="apiNameInput" type="text" />
</div>
<div>
  <button id="methodName" name="headMethodName">Choose a method</button>
</div>
