<div class="sidebartop"><a href="https://developers.liveperson.com/"><img class="sitelogo" src="img/desktop.png" /></a>
<div class="sidebarbuttons">
  <a target="_blank" href="https://authentication.liveperson.net/login.html" class="loginText">
  <div class="loginButton">Login</div>
  </a>
    <a target="_blank" href="http://register.liveperson.com/developer/signup" class="trialText">
  <div class="trialButton">Create Free Trial Account</div>
  </a>
</div>
</div>

<ul id="mysidebar" class="mysidebar nav fixed sidebarmobileclosed documentslist" >
  <li class="homeitem folder topfolder active">
    <div class="sidebarimage">
      <img src="img/getting-started.png" />
    </div>
    <a  onclick="linkclick(event, this)" class="innerlink" href="/index.html">WELCOME</a>
  </li>
{% for category in site.data.documentsupdated %}
  {% if forloop.last == true %}
  <hr class="sidebarhr lessbottom" />
  <li class="folder topfolder lowerimage">
    <img src="img/{{ category.image }}.svg" />
    <a class="highlightlink" href="">{{ category.categoryname }}</a>
    <ul>
      {% for document in category.documents %}
      {% if document.pages %}
      <li class="folder innerfolder sidebarcategory">
        <a class="highlightlink" href=""><button class="sidebarbutton"><span></span><span></span></button><span> {{ document.documentname }}</span></a>
        <ul>
          {% for page in document.pages %}
          {% if page.subpages %}
          <li class="folder innerfolder subfolder">
            <a href=""><button class="sidebarbutton"><span></span><span></span></button><span>{{ page.pagename }}</span></a>
            <ul>
              {% for subpage in page.subpages %}
              <li class="innerpageitem">
                <a  onclick="linkclick(event,this)" class="innerlink"  href="/{{ document.documentname | append: '/' | append: page.pagename | append: '/' |append: subpage.subpagename | slugify }}.html">{{ subpage.subpagename }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
            {% else %}
            <li class="pageitem">
              <a  onclick="linkclick(event, this)" class="innerlink"  href="/{{ document.documentname | append: '/' | append: page.pagename | slugify }}.html">{{ page.pagename }}</a>
            </li>
          {% endif %}
          {% endfor %}
        </ul>
      </li>
      {% else %}
    <li class="folder innerfolder sidebarcategory sololink">
      <a  onclick="linkclick(event, this)" class="innerlink"  href="/{{ document.documentname | slugify }}.html">{{ document.documentname }}</a>
    </li>
    {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li class="folder topfolder lowerimage">
    <img src="img/{{ category.image }}.svg" />
    <a class="highlightlink" href="">{{ category.categoryname }}</a>
    <ul>
      {% for document in category.documents %}
      {% if document.pages %}
      <li class="folder innerfolder sidebarcategory">
        <a class="highlightlink" href=""><button class="sidebarbutton"><span></span><span></span></button><span> {{ document.documentname }}</span></a>
        <ul>
          {% for page in document.pages %}
          {% if page.subpages %}
          <li class="folder innerfolder subfolder">
            <a class="highlightlink" href=""><button class="sidebarbutton"><span></span><span></span></button><span>{{ page.pagename }}</span></a>
            <ul>
              {% for subpage in page.subpages %}
              <li class="innerpageitem">
                <a  onclick="linkclick(event, this)" class="innerlink"  href="/{{ document.documentname | append: '/' | append: page.pagename | append: '/' |append: subpage.subpagename | slugify }}.html">{{ subpage.subpagename }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
            {% else %}
          <li class="pageitem">
            <a  onclick="linkclick(event, this)" class="innerlink"  href="/{{ document.documentname | append: '/' | append: page.pagename | slugify }}.html">{{ page.pagename }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li class="folder innerfolder sidebarcategory sololink">
        <a onclick="linkclick(event, this)" class="innerlink "  href="/{{ document.documentname | slugify }}.html">{{ document.documentname }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </li>
{% endif %}
{% endfor %}
    <hr class="sidebarhr lesstop" />
    <div class="sidebarbuttoncontainer">
      <li class="folder topfolder ">
        <img src="img/support-icon.png" />
        <a target="_blank" class="bottombuttons" href="http://knowledge.liveperson.com">Knowledge Center</a>
      </li>
  </div>
</ul>
