<div class="sidebartop"><img class="sitelogo" src="img/desktop.png" />
<div class="sidebarbuttons">
  <div class="documentsbutton"><img class="documentsbuttonimage" src="img/documents.png" /><a class="underline lined" onclick='sidebarbuttonclick(event)' href="">Documents</a></div>
  <div id="solutionsbutton" class="solutionsbutton"><img class="solutionsbuttonimage" src="img/solutions.png" /><a class="solutionsunderline" onclick='solutionsbuttonclick(event)' href="">Use Cases</a></div>
</div>
</div>

<ul id="mysidebar" class="mysidebar nav fixed sidebarmobileclosed documentslist" >
  <li class="homeitem folder topfolder">
    <div class="sidebarimage">
      <img src="img/getting-started.png" />
    </div>
    <a onclick='linkclick(this)' href="/index.html">Getting Started</a>
    <!--<ul>
      {% for category in site.data.gettingstarted %}
        <li class="folder innerfolder sidebarcategory">
          <a href="">{{ category.categoryname }}</a>
        <ul>
          {% for document in category.documents %}
          <li class="pageitem">
            <a onclick='linkclick(this)' class="innerlink" id="innerlink" href="/getting-started-with-liveengage-apis-{{ document.documentname | slugify }}.html">{{ document.documentname }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>-->
  </li>
  {% for category in site.data.documents %}
  <li class="folder topfolder">
    <img src="img/{{ category.image }}.png" />
    <a href="">{{ category.categoryname }}</a>
    <ul>
      {% for document in category.documents %}
      <li class="folder innerfolder sidebarcategory">
        <a href=""><button><span></span><span></span></button><span> {{ document.documentname }}</span></a>
        <ul>
          {% for page in document.pages %}
          {% if page.subpages %}
          <li class="folder innerfolder subfolder">
            <a href=""><button class="sidebarbutton"><span></span><span></span></button><span>{{ page.pagename }}</span></a>
            <ul>
              {% for subpage in page.subpages %}
              <li class="innerpageitem">
                <a onclick='linkclick(this)' class="innerlink" id="innerlink" href="/{{ document.documentname | append: '/' | append: page.pagename | append: '/' |append: subpage.subpagename | slugify }}.html">{{ subpage.subpagename }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
            {% else %}
          <li class="pageitem">
            <a onclick='linkclick(this)' class="innerlink" id="innerlink" href="/{{ document.documentname | append: '/' | append: page.pagename | slugify }}.html">{{ page.pagename }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </li>
    {% endfor %}
    <hr class="sidebarhr" />
</ul>

<ul id="mysidebarsolutions" class="mysidebar nav fixed sidebarmobileclosed solutionslist">
{% for solution in site.data.solutions %}
<li class="folder topfolder">
  <a href="">{{ solution.solutionname }}</a>
  <ul>
    {% for document in solution.documents %}
    <li class="pageitem">
      <a onclick='linkclick(this)' class="innerlink" id="innerlink" href="/{{ solution.solutionname | append: '/' | append: document.documentname | slugify }}.html">{{ document.documentname }}</a>
    </li>
    {% endfor %}
  </ul>
</li>
  {% endfor %}
</ul>
