<div class="container products">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="title">Channels</div>
                <div class="sub-title">

                </div>
                <div class="text">
                    <ul class="list-unstyled">
                        {% include links-loop.html level1="Products" level2="Channels" %}
                    </ul>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <div class="title">Bots</div>
                <div class="sub-title">

                </div>
                <div class="text">

                 <ul class="list-unstyled">
                     {% include links-loop.html level1="Products" level2="Bots" %}
                 </ul>
                </div>
            </div>
            <div class="clearfix visible-sm"></div>
            <!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="title"></div>
                <div class="sub-title">

                </div>
                <div class="text">

                 <ul class="list-unstyled">
                     {% include links-loop.html level1="Products" level2="Agent Efficiency" %}
                 </ul>
                </div>
            </div>!-->
            <div class="clearfix  visible-md visible-lg"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="title">Rich Media</div>
                <div class="sub-title">

                </div>
                <div class="text">
                 <ul class="list-unstyled">
                     {% include links-loop.html level1="Products" level2="Rich Media" %}
                 </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="title">Data</div>
                <div class="sub-title">

                </div>
                <div class="text">
                 <ul class="list-unstyled">
                     {% include links-loop.html level1="Products" level2="Data" %}
                 </ul>
                </div>
            </div>

            <!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="title"></div>
                <div class="sub-title">

                </div>
                <div class="text">
                 <ul class="list-unstyled">
                      {% include links-loop.html level1="Products" level2="Admin" %}
                 </ul>
                </div>
            </div>!-->
        </div>

    </div>
     {% include footer.html %}
