<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ "css/confirmation.css" }}">
{% include registerHead.html %}
</head>
<body>
  <div id="confirmationWrapper">
    <div id="confirmationHeader"><img id="confirmationLogo" src="img/liveengage-logo.svg" /></div>
    <div id="heroPanel">
      <span id="confirmationTitle">{{ page.pagename }}</span>
      <span id="confirmationSub">{{ page.subtitle }}:</span>
      <span id="accountNumber">Account number: <b>[123456]</b></span>
      <span id="userID">User ID/Email: <b>[mail@email.com]</b></span>
      <div id="loginButton"><span class="inner-button"><a class="login-button-text" href="https://authentication.liveperson.net/login.html">Login</a></span></div>
    </div>
    <div id="secondPanel">
      <span id="secondTitle">Start messaging your customers quickly and easily with our most popular solutions</span>
      <div id="firstCardRow">
        <div class="confirmCard">
          <div class="cardContent">
            <img class="cardImage" src="img/icon-web.svg">
            <div class="cardText">
              <span class="cardTitle">Web Messaging</span>
              <span class="cardInnerText">Quickly expand the functionality of your website with native messaging.</span>
            </div>
          </div>
          <div class="cardLinks"><a href="https://knowledge.liveperson.com/getting-started-quick-start-guides-messaging-quick-start.html">Get started <b>></b></a></div>
        </div>
        <div class="confirmCard">
          <div class="cardContent">
            <img class="cardImage" src="img/icon-mobile.svg">
            <div class="cardText">
              <span class="cardTitle">Mobile Messaging</span>
              <span class="cardInnerText">Engage your customers where they are.</span>
            </div>
          </div>
          <div style="margin-bottom: -10px;"class="cardLinks"><a href="https://knowledge.liveperson.com/getting-started-quick-start-guides-twilio-sms-quick-start.html">Get started with SMS <b>></b></a></div>
          <div class="cardLinks"><a href="https://knowledge.liveperson.com/getting-started-quick-start-guides-facebook-messenger-quick-start.html">Get started with Facebook Messenger <b>></b></a></div>
        </div>
        <div class="confirmCard">
          <div class="cardContent">
            <img class="cardImage" src="img/icon-bot.svg">
            <div class="cardText">
              <span class="cardTitle">Conversation builder</span>
              <span style="padding-right: 25px;" class="cardInnerText">Build your own AI-powered chatbots using a simple point-and-click interface.</span>
            </div>
          </div>
          <div class="cardLinks"><a href="https://knowledge.liveperson.com/getting-started-quick-start-guides-bots-quick-start.html">Get started <b>></b></a></div>
        </div>
      </div>
      <span id="secondTitle">Want to do more with LiveEngage?</span>
      <div id="secondCardRow">
        <div class="secondConfirmCard">
          <img class="secondConfirmCardImg" src="img/icon-kc.svg">
          <div class="cardText">
            <span class="cardTitle">Knowledge Center</span>
            <span class="cardInnerText">Learn about the full capabilities of Liveengage. <a href="https://knowledge.liveperson.com/">Go there <b>></b></a></span>
          </div>
        </div>
        <div class="secondConfirmCard">
          <img class="secondConfirmCardImg" src="img/icon-dev.svg">
          <div class="cardText">
            <span class="cardTitle">Technical Resources</span>
            <span class="cardInnerText">Learn about LiveEngage APIs, SDKs, and tools. <a href="https://developers.liveperson.com/">Go there <b>></b></a></span>
          </div>
        </div>
    </div>
  </div>
    <div id="thirdPanel">
      <div id="thirdTitle">Free Trial Account FAQ</div>
        <div class="subjectRow">
          <div class="answerColumn">
            <div class="answerRow">
              <div class="answerTitle">What are the capabilities and limitations of trial accounts?</div>
              <div class="answerContent">Trial accounts utilize the same services as paid accounts but are not intended for commercial use. They provide support for web messaging, SMS messaging, Facebook Messenger, Conversation Builder and LivePerson Functions but are limited to a maximum of 2 users/agents, 1000 conversations per month, expire after 45-days, and bots can only be deployed with web messaging. You can upgrade a trial account to a paid account at anytime. If you need more time with LiveEngage but are not yet ready to upgrade, you can also create a new trial account.</div>
          </div>
          <div class="answerRow">
            <div class="answerTitle">How can I upgrade my free trial account?</div>
            <div class="answerContent">If your needs expand or you want to accomplish something that isn’t available on your trial account, you can upgrade at any time. To do so, visit liveperson.com and click on the conversation bubble on the bottom right to start a conversation with our sales team.  <br><br>Alternatively, you can talk with us using the Connection Area/Contact LivePerson tab <img class="inlineImage" src="img/tab-contact-lp.png" /> inside of LiveEngage. We'll help you to choose and upgrade to the right LiveEngage package for your business.</div>
        </div>
      </div>
    </div>
  </div>
<div id="confirmationFooter">
  <div id="footerText">
    <span class="footerbottomspan">&copy; 2019 LivePerson Inc. All rights reserved.</span>
    <div>
    <a href="https://www.liveperson.com/policies/copyright">Copyright</a>
    <a href="https://www.liveperson.com/policies/privacy">Privacy Policy</a>
    <a href="https://www.liveperson.com/policies/terms-of-use">Terms of Use</a>
    <a href="https://www.liveperson.com/policies/gdpr-data-privacy/">GDPR</a>
  </div>
  </div>
</div>
</div>
</body>
</html>
