<!DOCTYPE html>
<head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ "css/search.css" }}">
     <link rel="stylesheet" type="text/css" href="css/inner-page.min.css">
     <meta name="description" content="LivePerson for Developers. Build on LiveEngage with our powerful digital toolbox">
     <meta name="keywords" content="APIs, SDKs, Mobile development, LiveEngage, Agent workspace, Tag, JSON examples, Click to message, Click to chat, Chat window, Skills, Agent Groups, iOS, Android, Mobile devices, Integrations, Live chat, Agent widget, Reporting, Analytics">
     <meta name="author" content="LivePerson Inc.">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
</head>
<body>
<div class="defaultwrapper" id="defaultwrapper">
  <div class="defaultheader" id="defaultheader">
    <div class="mobileheader">
      <button class="hamburger hamburger--slider" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div class="mobilelogo"><img src="img/desktop.png" /></div>
      <div class="placeholder"></div>
    </div>
    <div class="searchimage">
    <img src="img/searchicon.png" />
  </div>
    <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Search documentation" name="search" autocomplete="on" />
  </div>
  <div id="defaultsidebar" class="defaultsidebar">
    {% include sidebar.html %}
  </div>
  {% if page.pagename %}
  <div class="documenttitlecontainer" id="documenttitlecontainer">
    {% include nav-breadcrumbs.html %}
  <div class="documenttitle">
    <div class="titlecontainer">
      <div class='h1'>{{ page.pagename }}</div>
      {% if page.indicator != null and page.indicator == "both" or page.indicator == "chat" %}
      <div class="indicator chat">Chat</div>
      {% endif %}
      {% if page.indicator != null and page.indicator == "both" or page.indicator == "messaging" %}
      <div class="indicator messaging">Messaging</div>
      {% endif %}
    </div>
    <div class="suggestbutton"><a href="{{ page.path | replace: 'pages' , 'https://github.com/LivePersonInc/developers-community/edit/master/pages' }}" target="_blank"><i class="far fa-edit"></i><span>Suggest changes</span></a></div>
  </div>
  <hr class="pagehr" />
  <div id="anchorlist" class="anchorlist">
    <a class="anchormain" href=""><span>Jump to</span><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    <ul></ul>
  </div>
  </div>

  {% endif %}
  <div id="defaultcontent" class="defaultcontent">
    {{ content | extlinks }}
  </div>
  <div id="defaultfooter" class="defaultfooter">
    <span>LivePerson Inc 2019 | <a href="https://www.liveperson.com/policies/copyright">Copyright Control</a> | <a href="https://www.liveperson.com/policies/apitou">API Terms of Use</a>
    </span>
  </div>
<!-- /.container -->
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
const search = docsearch({
apiKey: 'e386ebed16c8f70de3c914b3ace55ae6',
indexName: 'liveperson',
inputSelector: '.aa-input-search',
debug: false,
algoliaOptions: {
  hitsPerPage: 50
},
autocompleteOptions: {
  openOnFocus: true,
  templates: {
     //'suggestion' templating function used to render a single suggestion
     suggestion: function(suggestion) {
       if (suggestion._highlightResult.content && suggestion._highlightResult.title) {
         return '<span>' + '<a  onclick="linkclick(event, this)" class="searchlink" href="' + suggestion.permalink +'">' + suggestion._highlightResult.title.value + '</a> </span>' + '<br />' + '<span>' + '<a onclick="linkclick(event, this)" class="searchlinktext" href="' + suggestion.permalink +'">' +  suggestion._highlightResult.content.value + '</a> </span>';
       };
     }
 }
}
});

search.autocomplete.on({
  'autocomplete:shown': function() {
    var content = document.getElementById('defaultcontent');
    var sidebar = document.getElementById('defaultsidebar');
    var footer = document.getElementById('defaultfooter');
    content.classList.add('overlayvisible');
    sidebar.classList.add('overlayvisible');
    footer.classList.add('overlayvisible');
},
  'autocomplete:closed': function () {
    var content = document.getElementById('defaultcontent');
    var sidebar = document.getElementById('defaultsidebar');
    var footer = document.getElementById('defaultfooter');
    content.classList.remove('overlayvisible');
    sidebar.classList.remove('overlayvisible');
    footer.classList.remove('overlayvisible');
},
  'autocomplete:empty': function () {
    var content = document.getElementById('defaultcontent');
    var sidebar = document.getElementById('defaultsidebar');
    var footer = document.getElementById('defaultfooter');
    content.classList.add('overlayvisible');
    sidebar.classList.add('overlayvisible');
    footer.classList.add('overlayvisible');
},
  'autocomplete:updated': function () {
    if (this.value != '') {
    var input = document.getElementById('aa-search-input');
    var filter = input.value.toUpperCase();
    localStorage.setItem('filter', filter);
    }else {
      var content = document.getElementById('defaultcontent');
      var sidebar = document.getElementById('defaultsidebar');
      var footer = document.getElementById('defaultfooter');
      content.classList.remove('overlayvisible');
      sidebar.classList.remove('overlayvisible');
      footer.classList.remove('overlayvisible');
}}});
</script>
{% include tag.html %}
</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>
