<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    <link rel="stylesheet" href="css/categorylanding.css">
    <link rel="stylesheet" href="css/documentsnav.css">
    <meta name="description" content="LivePerson for Developers. Build on LiveEngage with our powerful digital toolbox">
    <meta name="keywords" content="APIs, SDKs, Mobile development, LiveEngage, Agent workspace, Tag, JSON examples, Click to message, Click to chat, Chat window, Skills, Agent Groups, iOS, Android, Mobile devices, Integrations, Live chat, Agent widget, Reporting, Analytics">
    <meta name="author" content="LivePerson Inc.">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />


</head>

<body class="bodygrey">
    {% include topnav.html %}
    <!--Page Content-->

    <div class="centralized header documents"> Documents</div>
        <hr class="banner-hr">
    <div class="documentscontainer">
      <div class="documentbox">
        <div class="documentboxdetails">
          <div class="documentboxtitle">
            <img class="documentboximage" src="images/Guides.png">
            <span class="documentboxtitletext">Guides</span>
          </div>
          <div class="documentboxinfo">Get info & other guides that are cross functional</div>
        </div>
        <div class="documentboxlist">
          <ul class="linklist">
            <li class="linklistitem"><a href="https://developers.liveperson.com/guides-gettingstarted.html">Retrieve API Keys</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/agent-domain-domain-api.html">Retrieve API Domains</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/guides-agent-workspace-widget.html">Add Agent Widgets</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/guides-customizedchat.html">Customized Chat Windows</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/engagment-attributes-overview.html">Engagement Attributes</a></li>
          </ul>
          <ul class="linklist">
            <li class="linklistitem"><a href="https://developers.liveperson.com/guides-authentication-introduction.html">Authentication</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/push-service-overview.html">Push Notification Service (iOS and Android)</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/structured-content-templates.html">Structured Content</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/guides-conversation-metadata-guide.html">Conversation Metadata Guide</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/guides-retry-policy.html">Retry Policy and KeepAlive Best Practices</a></li>
          </ul>
        </div>
      </div>
      <div class="documentbox">
        <div class="documentboxdetails">
          <div class="documentboxtitle">
            <img class="documentboximage" src="images/Consumer Experience.png">
            <span class="documentboxtitletext" style="margin-top:45px;">Consumer Experience</span>
          </div>
          <div class="documentboxinfo">Configure all aspects of your consumer experience for Messaging or Chat.</div>
        </div>
        <div class="documentboxlist">
          <ul class="linklist">
            <li class="linklistitem"><a href="https://developers.liveperson.com/consumer-experience-ios-sdk-overview.html">In-App Messaging SDK - iOS</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/android-overview.html">In-App Messaging SDK - Android</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/consumer-experience-voice-video-ios.html">Voice & Video SDK - iOS (BETA)</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/consumer-experience-voice-video-android.html">Voice & Video SDK - Android (BETA)</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/consumer-int-overview.html">Messaging Window API</a></li>
          </ul>
          <ul class="linklist">
            <li class="linklistitem"><a href="https://developers.liveperson.com/consumer-experience-javascript-chat-getting-started.html">JavaScript Chat SDK</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/consumer-experience-server-chat-getting-started.html">Server Chat API</a></li>
          </ul>
        </div>
      </div>
      <div class="documentbox">
        <div class="documentboxdetails">
          <div class="documentboxtitle">
            <img class="documentboximage" src="images/Agent Interactions.png">
            <span class="documentboxtitletext" style="margin-top:45px;">Agent Interactions</span>
          </div>
          <div class="documentboxinfo">Build bots as agents or empower human agents with various tools.</div>
        </div>
        <div class="documentboxlist">
          <ul class="linklist">
            <li class="linklistitem"><a href="https://developers.liveperson.com/messaging-agent-sdk-overview.html">Messaging Agent SDK</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/chat-agent-getting-started.html">Chat Agent API</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/agent-workspace-sdk-overview.html">Agent Workspace Widget SDK</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/login-getting-started.html">Login Service API</a></li>
        </div>
      </div>
      <div class="documentbox">
        <div class="documentboxdetails">
          <div class="documentboxtitle">
            <img class="documentboximage" src="images/Data.png">
            <span class="documentboxtitletext">Data</span>
          </div>
          <div class="documentboxinfo">Detailed APIs enable you to integrate your data or build your own dashboards.</div>
        </div>
        <div class="documentboxlist">
          <ul class="linklist">
            <li class="linklistitem"><a href="https://developers.liveperson.com/data-data-access-overview.html">Data Access API (BETA)</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/data-messaging-agent-metrics-overview.html">Agent Metrics API</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/data-messaging-interactions-overview.html">Messaging Interactions API</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/data-messaging-interactions-overview.html">Messaging Operations API</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/data-operational-realtime-overview.html">Operational Realtime API</a></li>
          </ul>
          <ul class="linklist">
            <li class="linklistitem"><a href="https://developers.liveperson.com/data-engagement-history-overview.html">Engagement History API</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/consumer-experience-messaging-history-overview.html">Consumer Engagement History API</a></li>
          </ul>
        </div>
      </div>
      <div class="documentbox">
        <div class="documentboxdetails">
          <div class="documentboxtitle">
            <img class="documentboximage" src="images/Real Time Interactions.png">
            <span class="documentboxtitletext" style="margin-top:45px;">Real Time Interactions</span>
          </div>
          <div class="documentboxinfo">Use these guides to build tools that run in real time on chat or messaging.</div>
        </div>
        <div class="documentboxlist">
          <ul class="linklist">
            <li class="linklistitem"><a href="https://developers.liveperson.com/rt-interactions-app-engagement-overview.html">App Engagement API</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/rt-interactions-visit-information-overview.html">Visit Information API</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/rt-interactions-ivr-engagement-overview.html">IVR Engagement API</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/rt-interactions-window-sdk-overview.html">Engagement Window Widget SDK</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/rt-interactions-validate-engagement-overview.html">Validate Engagement API</a></li>
          </ul>
          <ul class="linklist">
            <li class="linklistitem"><a href="https://developers.liveperson.com/rt-interactions-engagement-attributes-overview.html">Engagement Attributes API</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/trigger-overview.html">Engagement Trigger API</a></li>
          </ul>
        </div>
      </div>
      <div class="documentbox">
        <div class="documentboxdetails">
          <div class="documentboxtitle">
            <img class="documentboximage" src="images/Account Configuration.png">
            <span class="documentboxtitletext" style="margin-top:45px;">Account Configuration</span>
          </div>
          <div class="documentboxinfo">Automatically control and update content in your LiveEngage account.</div>
        </div>
        <div class="documentboxlist">
          <ul class="linklist">
            <li class="linklistitem"><a href="https://developers.liveperson.com/account-configuration-unified-automatic-messages-overview.html">Unified Automatic Messages API</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/account-configuration-predefined-content-overview.html">Predefined Content API</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/account-configuration-categories-introduction.html">Predefined Categories API</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/lp-tag-tag-events-overview.html">LE-Tag</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/account-configuration-automatic-messages-overview.html">Automatic Messages API</a></li>
          </ul>
        </div>
      </div>
      <div class="documentbox">
        <div class="documentboxdetails">
          <div class="documentboxtitle">
            <img class="documentboximage" src="images/Admin.png">
            <span class="documentboxtitletext">Admin</span>
          </div>
          <div class="documentboxinfo">Automatically control and update the configuration of your LiveEngage account.</div>
        </div>
        <div class="documentboxlist">
          <ul class="linklist">
            <li class="linklistitem"><a href="https://developers.liveperson.com/administration-users-overview.html">Users API</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/administration-lobs-overview.html">LOBs API</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/overview.html">Skills API</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/administration-agent-groups-overview.html">Agent Groups API</a></li>
            <li class="linklistitem"><a href="https://developers.liveperson.com/administration-profiles-overview.html">Profiles API</a></li>
          </ul>
        </div>
      </div>
    </div>
{% include footer.html %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
const search = docsearch({
apiKey: 'e386ebed16c8f70de3c914b3ace55ae6',
indexName: 'liveperson',
inputSelector: '.aa-input-search',
debug: false,
algoliaOptions: {
 hitsPerPage: 100
},
autocompleteOptions: {
 openOnFocus: true
}
});
</script>

<script type="text/javascript">
var inputElement = document.getElementById("aa-search-input");
inputElement.setAttribute("oninput", "onInput(this)");
function onInput(el) {
   setTimeout(function () {
       if (el && el.value) {
           $("body").addClass("search-opened");
           $(".search-cancel").css("display","block");
           $(".aa-input-icon").css("display", "none");
       } else {
           $("body").removeClass("search-opened");
           $(".search-cancel").css("display", "none");
           $(".aa-input-icon").css("display","block");
       }
   }, 0);

};

   $(".search-cancel").click(function() {
     setTimeout(function() {
	       search.autocomplete.autocomplete.setVal('');
        search.autocomplete.focus();
     }, 10);
     $("body").removeClass("search-opened");
     $(".search-cancel").css("display","none");
     $(".aa-input-icon").css("display","block");
   });
</script>
</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>
