<!DOCTYPE html>

<head>
    {% include head.html %}
    <link rel="stylesheet" href="css/categorylanding.css">


</head>

<body>
    {% include topnav.html %}
    <!--Page Content-->

    <div class="centralized header documents"> Documents</div>
        <hr class="banner-hr">
        <div class="documentbox">
          <div class="categorybox">
            <img src="images/Guides.png" class="categoryimage"> </img>
            <span class="categorytitle">Guides</span><span class="categorysub">These documents include general guidlines and overviews</span>
          </div>
          <div class="listbox row">
            <div class="col-md-6">
            <ul>
              <li>Retrive API Keys</li>
              <li>Retrieve API Domains</li>
              <li>Add Agent Widgets</li>
              <li>Customized Chat Windows</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li>Engagement Attributes</li>
              <li>Authentication</li>
              <li style="line-height: 1.8;">Push Notification Service (iOS and Android)</li>
            </ul>
          </div>
          </div>
        </div>
        <div class="documentbox">
          <div class="categorybox">
            <img src="images/Consumer Experience.png" class="categoryimage"> </img>
            <span class="categorytitle" style="margin-top: 40px;line-height: 1.2;">Consumer Experience</span><span class="categorysub">Use these documents to configure all aspects of your Consumer's experience with Messaging or Chat</span>
          </div>
          <div class="listbox row lower" style="margin-top: -90px;">
            <div class="col-md-6">
            <ul>
              <li style="line-height: 1.8;">In-App Messaging SDK - iOS</li>
              <li style="line-height: 1.8;">In-App Messaging SDK - Android</li>
              <li style="line-height: 1.8;">Voice & Video SDK - iOS (BETA)</li>
              <li style="line-height: 1.8;">Voice & Video SDK - Android (BETA)</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li>Messaging Window API</li>
              <li>Javascript Chat SDK</li>
              <li>Server Chat API</li>
            </ul>
          </div>
          </div>
        </div>
        <div class="documentbox">
          <div class="categorybox">
            <img src="images/Agent Interactions.png" class="categoryimage"> </img>
            <span class="categorytitle" style="margin-top: 45px;line-height:1.2;">Agent Interactions</span><span class="categorysub">Use this document as a guide for building Customer Facing Bots</span>
          </div>
          <div class="listbox row lower" style="margin-top: -95px;">
            <div class="col-md-6">
            <ul>
              <li>Messaging Agent SDK</li>
              <li>Chat Agent API</li>
              <li style="line-height: 1.8;">Agent Workspace Widget SDK</li>
              <li>Login Service API</li>
            </ul>
          </div>
          </div>
          </div>
        </div>
        <div class="documentbox">
          <div class="categorybox">
            <img src="images/Data.png" class="categoryimage"> </img>
            <span class="categorytitle">Data</span><span class="categorysub">Use this document as a guide for building Customer Facing Bots</span>
          </div>
          <div class="listbox row lower" style="margin-top: -80px;">
            <div class="col-md-6">
            <ul>
              <li>Data Access API (BETA)</li>
              <li>Agent Metrics API</li>
              <li>Messaging Interactions API</li>
              <li>Messaging Operations API</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li>Operational Realtime API</li>
              <li>Engagement History API</li>
            </ul>
          </div>
          </div>
        </div>
        <div class="documentbox">
          <div class="categorybox">
            <img src="images/Real Time Interactions.png" class="categoryimage"> </img>
            <span class="categorytitle" style="margin-top: 45px;line-height:1.2;width: 130px;">Real Time Interactions</span><span class="categorysub">Use this document as a guide for building Customer Facing Bots</span>
          </div>
          <div class="listbox row lower" style="margin-top: -95px;">
            <div class="col-md-6">
            <ul>
              <li>App Engagement API</li>
              <li>Visit Information API</li>
              <li>IVR Engagment API</li>
              <li style="line-height: 1.8;">Engagement Window Widget SDK</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li>Validate Engagement API</li>
              <li>Engagment Attributes API</li>
              <li>Engagement Trigger API</li>
            </ul>
          </div>
          </div>
        </div>
        <div class="documentbox">
          <div class="categorybox">
            <img src="images/Account Configuration.png" class="categoryimage"> </img>
            <span class="categorytitle" style="margin-top: 45px;line-height:1.2">Account Configuration</span><span class="categorysub">Use this document as a guide for building Customer Facing Bots</span>
          </div>
          <div class="listbox row lower" style="margin-top: -90px">
            <div class="col-md-6">
            <ul>
              <li>Automatic Messages API</li>
              <li>Predefined Content API</li>
              <li>Predefined Categories API</li>
              <li>LE-Tag</li>
            </ul>
          </div>
          </div>
          </div>
        </div>
        <div class="documentbox" style="height: 197px">
          <div class="categorybox">
            <img src="images/Admin.png" class="categoryimage"> </img>
            <span class="categorytitle">Admin</span><span class="categorysub">Use this document as a guide for building Customer Facing Bots</span>
          </div>
          <div class="listbox row lower" style="margin-top: -80px;">
            <div class="col-md-6">
            <ul>
              <li>Users API</li>
              <li>Skills API</li>
              <li>Agent Groups API</li>
            </ul>
          </div>
          </div>
        </div>


</body>
<!--{% if site.google_analytics %} {% include google_analytics.html %} {% endif %}-->

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-96175782-1', 'auto');
ga('send', 'pageview');

</script>

</html>
