<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    <link rel="stylesheet" href="css/categorylanding.css">
    <link rel="stylesheet" href="css/documentsnav.css">


</head>

<body class="bodygrey">
    {% include topnav.html %}
    <!--Page Content-->

    <div class="centralized header documents"> Documents</div>
        <hr class="banner-hr">
        <div class="documentbox">
          <div class="categorybox">
            <img src="images/Guides.png" class="categoryimage"> </img>
            <span class="categorytitle">Guides</span><span class="categorysub">Get started info & other guides that are cross functional.</span>
          </div>
          <div class="listbox row">
            <div class="col-md-6">
            <ul>
              <li><a href="guides-gettingstarted.html" target="_blank">Retrive API Keys</a></li>
              <li><a href="agent-domain-domain-api.html" target="_blank">Retrieve API Domains</a></li>
              <li><a href="guides-agent-workspace-widget.html" target="_blank">Add Agent Widgets</a></li>
              <li><a href="guides-customizedchat.html" target="_blank">Customized Chat Windows</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li><a href="engagment-attributes-overview.html" target="_blank">Engagement Attributes</a></li>
              <li><a href="guides-authentication-introduction.html" target="_blank">Authentication</a></li>
              <li style="line-height: 1.8;"><a href="push-service-overview.html" target="_blank">Push Notification Service (iOS and Android)</a></li>
            </ul>
          </div>
          </div>
        </div>
        <div class="documentbox">
          <div class="categorybox">
            <img src="images/Consumer Experience.png" class="categoryimage"> </img>
            <span class="categorytitle" style="margin-top: 40px;line-height: 1.2;">Consumer Experience</span><span class="categorysub">Configure all aspects of your consumer experience for Messaging or Chat.</span>
          </div>
          <div class="listbox row lower" style="margin-top: -90px;">
            <div class="col-md-6">
            <ul>
              <li><a href="consumer-experience-ios-sdk-overview.html" target="_blank">In-App Messaging SDK - iOS</a></li>
              <li style="line-height: 1.8;"><a href="android-overview.html" target="_blank">In-App Messaging SDK - Android</a></li>
              <li style="line-height: 1.8;"><a href="consumer-experience-voice-video-ios.html" target="_blank">Voice & Video SDK - iOS (BETA)</a></li>
              <li style="line-height: 1.8;"><a href="consumer-experience-voice-video-android.html" target="_blank">Voice & Video SDK - Android (BETA)</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li><a href="consumer-int-overview.html" target="_blank">Messaging Window API</a></li>
              <li><a href="consumer-experience-javascript-chat-getting-started.html" target="_blank">Javascript Chat SDK</a></li>
              <li><a href="consumer-experience-server-chat-getting-started.html" target="_blank">Server Chat API</a></li>
            </ul>
          </div>
          </div>
        </div>
        <div class="documentbox">
          <div class="categorybox">
            <img src="images/Agent Interactions.png" class="categoryimage"> </img>
            <span class="categorytitle" style="margin-top: 45px;line-height:1.2;">Agent Interactions</span><span class="categorysub">Build bots as agents or empower human agents with various tools.</span>
          </div>
          <div class="listbox row lower" style="margin-top: -95px;">
            <div class="col-md-6">
            <ul>
              <li><a href="messaging-agent-sdk-overview.html" target="_blank">Messaging Agent SDK</a></li>
              <li><a href="chat-agent-getting-started.html" target="_blank">Chat Agent API</a></li>
              <li style="line-height: 1.8;"><a href="agent-workspace-sdk-overview.html" target="_blank">Agent Workspace Widget SDK</a></li>
              <li><a href="login-getting-started.html" target="_blank">Login Service API</a></li>
            </ul>
          </div>
          </div>
          </div>
        </div>
        <div class="documentbox">
          <div class="categorybox">
            <img src="images/Data.png" class="categoryimage"> </img>
            <span class="categorytitle">Data</span><span class="categorysub">Detailed APIs enable you to integrate your data or build your own dashboards.</span>
          </div>
          <div class="listbox row lower" style="margin-top: -80px;">
            <div class="col-md-6">
            <ul>
              <li><a href="data-data-access-overview.html" target="_blank">Data Access API (BETA)</a></li>
              <li><a href="data-messaging-agent-metrics-overview.html" target="_blank">Agent Metrics API</a></li>
              <li><a href="data-messaging-interactions-overview.html" target="_blank">Messaging Interactions API</a></li>
              <li><a href="data-messaging-operations-overview.html" target="_blank">Messaging Operations API</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li><a href="data-operational-realtime-overview.html" target="_blank">Operational Realtime API</a></li>
              <li><a href="data-engagement-history-overview.html" target="_blank">Engagement History API</a></li>
            </ul>
          </div>
          </div>
        </div>
        <div class="documentbox">
          <div class="categorybox">
            <img src="images/Real Time Interactions.png" class="categoryimage"> </img>
            <span class="categorytitle" style="margin-top: 45px;line-height:1.2;width: 130px;">Real Time Interactions</span><span class="categorysub">Use these guides to build tools that run in real time on your chat or messaging programs.</span>
          </div>
          <div class="listbox row lower" style="margin-top: -95px;">
            <div class="col-md-6">
            <ul>
              <li><a href="rt-interactions-app-engagement-overview.html" target="_blank">App Engagement API</a></li>
              <li><a href="rt-interactions-visit-information-overview.html" target="_blank">Visit Information API</a></li>
              <li><a href="rt-interactions-ivr-engagement-overview.html" target="_blank">IVR Engagment API</a></li>
              <li style="line-height: 1.8;"><a href="rt-interactions-window-sdk-overview.html" target="_blank">Engagement Window Widget SDK</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li><a href="rt-interactions-validate-engagement-overview.html" target="_blank">Validate Engagement API</a></li>
              <li><a href="http://localhost:4000/rt-interactions-engagement-attributes-overview.html" target="_blank">Engagment Attributes API</a></li>
              <li><a href="trigger-overview.html" target="_blank">Engagement Trigger API</a></li>
            </ul>
          </div>
          </div>
        </div>
        <div class="documentbox">
          <div class="categorybox">
            <img src="images/Account Configuration.png" class="categoryimage"> </img>
            <span class="categorytitle" style="margin-top: 45px;line-height:1.2">Account Configuration</span><span class="categorysub">Automatically control and update content in your LiveEngage account.</span>
          </div>
          <div class="listbox row lower" style="margin-top: -90px">
            <div class="col-md-6">
            <ul>
              <li><a href="account-configuration-automatic-messages-overview.html" target="_blank">Automatic Messages API</a></li>
              <li><a href="account-configuration-predefined-content-overview.html" target="_blank">Predefined Content API</a></li>
              <li><a href="lp-tag-tag-events-overview.html" target="_blank">LE-Tag</a></li>
              <li><a href="account-configuration-categories-introduction.html" target="_blank">Predefined Categories API</a></li>
            </ul>
          </div>
          </div>
          </div>
        </div>
        <div class="documentbox" style="height: 197px">
          <div class="categorybox">
            <img src="images/Admin.png" class="categoryimage"> </img>
            <span class="categorytitle">Admin</span><span class="categorysub">Automatically control and update the configuration of your LiveEngage account.</span>
          </div>
          <div class="listbox row lower" style="margin-top: -80px;">
            <div class="col-md-6">
            <ul>
              <li><a href="administration-users-overview.html" target="_blank">Users API</a></li>
              <li><a href="overview.html" target="_blank">Skills API</a></li>
              <li><a href="administration-agent-groups-overview.html" target="_blank">Agent Groups API</a></li>
            </ul>
          </div>
          </div>
        </div>


</body>
<!--{% if site.google_analytics %} {% include google_analytics.html %} {% endif %}-->

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-96175782-1', 'auto');
ga('send', 'pageview');

</script>

</html>
