<!DOCTYPE html>
<html>
   <head>
      {% include head.html %}
      <link rel="stylesheet" href="css/events.css">
   </head>
   <body>
      {% include topnav.html %}
      <!-- Page Content -->
      <!-- Page Content -->
      <div class="banner-container">
         <div class="container">
            <!-- Content Row -->
            <div class="row banner">
               <div class="events">
                  <img src="images/banner_draft2.png" alt="events banner">
               </div>
               <div class="img-responsive-mobile">
                  <img src="images/cover_image.png" alt="events mobile banner">
               </div>
               <!-- /.row -->
            </div>
         </div>
      </div>
      <div class="centralized header homepage">  Your ideas. Our APIs. Berlin / June 2017.</div>
      <div class="orange-line centralized"></div>
      <br>
      <div class="header homepage berlin">LivePerson is happy to announce our first Hackathon which will take place in conjunction with the<br><a href="https://www.chatbotsummit.com/" target="blank">Berlin ChatBot Summit</a>.
         <br>
         <br>
         <b>Start</b>: Tuesday June 27th 10am<br>
         <b>End</b>: Wednesday June 28th 10am
         <br>
         <br>
         <b>Location</b>: Central Berlin
         <br>
         <br>
         By utilizing LivePerson APIs, SDKs and the LiveEngage platform, you will build bot and AI solutions to empower contact center agents.
         <br>
         <br>
         More information and prizes will be announced soon!
         <br>
         <br>
         <b>Early registration is open for LivePerson customers only</b>. Any team of 3 or more developers from your innovation or other team is welcome to join us and compete against Berlin's top start ups!
      </div>
      <br>
      <br>
      <a class="typeform-share button" href="https://edenk.typeform.com/to/MP3qDX" data-mode="popup" style="display:block;text-decoration:none;background-color:#162036;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin-left:auto;margin-right:auto;margin-bottom:10px;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-hide-headers=true data-hide-footer=true target="_blank">Register </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
      <br>
      <br>
      <br>
      {% include footer.html %}
   </body>
   {% if site.google_analytics %} {% include google_analytics.html %} {% endif %}
</html>
