<!DOCTYPE html>
<head>
    {% include head.html %}

     <link rel="stylesheet" type="text/css" href="css/notfound.css">
     <meta name="description" content="LivePerson for Developers. Build on LiveEngage with our powerful digital toolbox">
     <meta name="keywords" content="APIs, SDKs, Mobile development, LiveEngage, Agent workspace, Tag, JSON examples, Click to message, Click to chat, Chat window, Skills, Agent Groups, iOS, Android, Mobile devices, Integrations, Live chat, Agent widget, Reporting, Analytics">
     <meta name="author" content="LivePerson Inc.">

</head>
<body>
  <div class="notfoundtitle">404</div>
  <div class="notfoundbody">
    <p>
      <strong>Sorry!</strong> The page you requested was not found.
    </p>
  </div>
  <div class="notfoundlink"><a href="www.developers.liveperson.com">Return to safety!</a></div>
