---
layout: default
---

<div class="post-content">

{% if page.title %}
<div class="documenttitlecontainer">
  {% if page.title != "Getting Started" %}
    {% include nav-breadcrumbs.html %}
  {% endif %}
  <div class="documenttitle">
    <div class='h1'>{{ page.title}}</div>
  </div>
  <hr class="pagehr" />
  <div id="anchorlist" class="anchorlist folder">
    <a href=""><span>Jump to</span><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    <ul></ul>
  </div>
  </div>

  {% endif %}

  {{content}}

    <div class="tags">
        {% if page.tags != null %}
        <b>Tags: </b>
        {% assign projectTags = site.data.tags.allowed-tags %}
        {% for tag in page.tags %}
        {% if projectTags contains tag %}
        <a href="{{ "tag_" | append: tag | append: ".html" }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

    {% if site.disqus %}
{% include disqus.html %}
    {% endif %}

</div>

<!--
    {{site.data.alerts.hr_shaded}}
-->
