<!DOCTYPE html>

<head>
  <title>Register for a LivePerson Free Trial</title>
  <meta name="description"
    content="LivePerson for Developers. Build on the Conversational Cloud with our powerful digital toolbox.">
  <meta name="keywords"
    content="API, SDK, mobile, LiveEngage, agent workspace, Tag, JSON examples, Click to message, Click to chat, Chat window, Skills, Agent Groups, iOS, Android, Mobile devices, Integrations, Live chat, Agent widget, Reporting, Analytics">
  <meta name="author" content="LivePerson Inc.">

  <link rel="shortcut icon" href="{{ "images/favicon.ico"  }}">
  <link rel="stylesheet" href="{{ "css/register.css" }}">
  <link rel="stylesheet" href="{{ "css/confirmation.css" }}">
  <link rel="stylesheet" type="text/css"
    href="https://cdn.rawgit.com/rikmms/progress-bar-4-axios/0a3acf92/dist/nprogress.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,400,500,600,700,300">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,400,500,600,700,300">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,400,400italic,700,700italic,300,600">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://player.vimeo.com/api/player.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14.0.0/dist/smooth-scroll.polyfills.min.js">
  </script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.rawgit.com/rikmms/progress-bar-4-axios/0a3acf92/dist/index.js"></script>
  <script src="{{ "js/additionalscripts.js" }}"></script>
  <script src="{{ "js/register.js" }}"></script>
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () {
        (h.hj.q = h.hj.q || []).push(arguments)
      };
      h._hjSettings = {
        hjid: 1377445,
        hjsv: 6
      };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script');
      r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
  <script type="text/javascript" id="" src="//info.liveperson.com/js/forms2/js/forms2.js"></script>
  <script type="text/javascript"
    src="//lp-site-engagements.s3.amazonaws.com/mkto-custom.min.js?cacheBust={{ site.time | date_to_xmlschema }}">
    </script>
</head>

<body>
  <div id="registerWrapper">
    <div id="registerHeader"><img id="registerLogo" src="img/liveperson_logo.svg" /></div>
    <div id="registerContent">
      <a href="https://0vldkw5cca.execute-api.us-east-2.amazonaws.com/ProdStage" rel="nofollow" style="display: none"
        aria-hidden="true"></a>
      <span id="registerTitle">Welcome to LivePerson</span>
      <span id="registerSub">Sign-up for your free 45-day trial now</span>

      <div id="formContainer">
        <form id="registerForm">
          <input class="mandatory" type="text" id="firstName" placeholder="First Name" />
          <input class="mandatory" type="text" id="lastName" placeholder="Last Name" />
          <select id="region" name="country" class="form-control">
            <option value="" disabled selected>Region</option>
            <option value="z1">The Americas</option>
            <option value="z2">Europe, Middle East, and Africa</option>
            <option value="z3">Asia Pacific</option>
          </select>
          <input class="mandatory" type="text" id="emailAddress" placeholder="Business Email Address" />
          <input class="mandatory passwordField" type="password" id="createPassword" placeholder="Create Password" />
          <input class="mandatory passwordField" type="password" id="confirmPassword" placeholder="Confirm Password" />
          <div id="checkboxContainer"><input type="checkbox" onclick="showPassword()"><span>Show Password</span></div>
          <span id="passwordReq"><b>Password requirements</b>: Minimum of 8 characters, at least one uppercase letter,
            one number, and one special character: ~!@#$%^&*()&lt;&gt;,.;:/?=</span>
        </form>
        <hr class="formDivider" />
        <div id="captchaContainer">
          <div class="g-recaptcha" data-sitekey="6Ld569AUAAAAAJ8bKdSR4QCf5Z09zOBYLXprOlWa" data-callback="enableBtn"
            data-expired-callback="disableBtn"></div>
          <div id="byClicking"><input type="checkbox"><span> By clicking "Start Free Trial", I agree to the <a
                href="https://www.liveperson.com/policies/apitou">API Terms of Use</a> and <a
                href="https://www.liveperson.com/policies/privacy">Privacy Policy</a></span></div>

          <div id="registerContainer">
            <div id="registerButton"><span>Start Free Trial</span></div><img id="loader" src="img/oval.svg">
          </div>
          <div id="registerContainerTest" style="display:none">
            <div id="registerButtonTest"><span>Test Me!</span></div><img id="loader" src="img/oval.svg">
          </div>

          <span class="conditionButton" id="invalidEmail">Please enter a valid email address!</span>
          <span class="conditionButton" id="invalidEmailWithPlus">Please enter an email address without a "+"
            character!</span>
          <span class="conditionButton" id="passwordErrorMatch">Your password and confirmation password don't
            match!</span>
          <span class="conditionButton" id="passwordTooShort">Please enter a password at least 8 characters long</span>
          <span class="conditionButton" id="passwordErrorStrength">Your password does meet the password
            requirements</span>
          <span class="conditionButton" id="passwordUppercaseNeeded">Your password must include at least one uppercase
            letter</span>
          <span class="conditionButton" id="passwordNumberNeeded">Your password must include at least one number</span>
          <span class="conditionButton" id="passwordSpecialCharacterNeeded">Your password must include at least one
            special character: ~!@#$%^&*()&lt;&gt;,.;:/?=</span>
          <span class="conditionButton" id="allFields">Please fill out all the fields.</span>
          <span class="conditionButton" id="agreeMessage">Please agree to the terms & conditions by clicking the button
            above.</span>
          <span class="conditionButton success" id="successMessage">Looking good! Creating your account now, just a
            moment.</span>
          <span class="conditionButton failure" id="requestError">Sorry, we were unable to create your account. Please
            try again.</span>
          <span class="conditionButton useBusinessEmail" id="useBusinessEmail">Please register with a business email
            address.</span>
        </div>
      </div>

    </div>
  </div>

  <div id="videoWrapper"
    style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgb(20, 20, 40); color: white; display: none;">
    <div style="position: absolute; top: 0; right: 0; left: 0; height: 160px; padding: 40px; box-sizing: border-box;">
      <div style="font-size: 18pt; font-weight: 800;">
        Setting up your account...
      </div>
      <div style="font-size: 14pt; font-weight: 300; max-width: 600px; padding-top: 10px;">
        Learn more about the features and capabilities of the LivePerson Conversational Cloud in this short video.
      </div>
    </div>
    <div style="position: absolute; top: 160px; right: 0; left: 0; height: 58vw; max-height: calc(100vh - 200px);">
      <div id="vid-container" style="padding:15% 0 0 0; position:absolute; top: 0; right: 0; bottom: 0; left: 0;">
        <iframe src="https://player.vimeo.com/video/398468660?autoplay=0&amp;app_id=122963" frameborder="0"
          allow="autoplay; fullscreen" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="FTUE"></iframe></div>
    </div>
  </div>


  <div id="confirmationWrapper" style="display: none;">
    <div id="confirmationHeader"><img id="confirmationLogo" src="img/liveengage-logo.svg" /></div>
    <div id="heroPanel">
      <span id="confirmationTitle">Welcome to LivePerson</span>
      <span id="confirmationSub">Here's everything you need to get going with the LivePerson Conversational
        Cloud!</span>
      <span id="accountNumber">Account number: <b id="accountIdOutput">[123456]</b></span>
      <span id="userID">User ID/Email: <b id="emailOutput">[mail@email.com]</b></span>
      <div id="loginButton"><span class="inner-button"><a target="_blank" class="login-button-text"
            href="https://authentication.liveperson.net/login.html">Login</a></span></div>
    </div>
    <div id="secondPanel">
      <span id="secondTitle">Start messaging your customers quickly and easily with our most popular solutions</span>
      <div id="firstCardRow">
        <div class="confirmCard">
          <div class="cardContent">
            <img class="cardImage" src="img/icon-web.svg">
            <div class="cardText">
              <span class="cardTitle">Web Messaging</span>
              <span class="cardInnerText">Quickly expand the functionality of your website with native messaging.</span>
            </div>
          </div>
          <div class="cardLinks"><a
              href="https://knowledge.liveperson.com/getting-started-quick-start-guides-messaging-quick-start.html">Get
              started <b>></b></a></div>
        </div>
        <div class="confirmCard">
          <div class="cardContent">
            <img class="cardImage" src="img/icon-mobile.svg">
            <div class="cardText">
              <span class="cardTitle">Mobile Messaging</span>
              <span class="cardInnerText">Engage your customers where they are.</span>
            </div>
          </div>
          <div style="margin-bottom: -10px;" class="cardLinks"><a
              href="https://knowledge.liveperson.com/getting-started-quick-start-guides-twilio-sms-quick-start.html">Get
              started with SMS <b>></b></a></div>
          <div class="cardLinks"><a
              href="https://knowledge.liveperson.com/getting-started-quick-start-guides-facebook-messenger-quick-start.html">Get
              started with Facebook Messenger <b>></b></a></div>
        </div>
        <div class="confirmCard">
          <div class="cardContent">
            <img class="cardImage" src="img/icon-bot.svg">
            <div class="cardText">
              <span class="cardTitle">Conversation builder</span>
              <span style="padding-right: 25px;" class="cardInnerText">Build your own AI-powered chatbots using a simple
                point-and-click interface.</span>
            </div>
          </div>
          <div class="cardLinks"><a
              href="https://knowledge.liveperson.com/getting-started-quick-start-guides-bots-quick-start.html">Get
              started <b>></b></a></div>
        </div>
      </div>
      <span id="secondTitle">Want to do more with LiveEngage?</span>
      <div id="secondCardRow">
        <div class="secondConfirmCard">
          <img class="secondConfirmCardImg" src="img/icon-kc.svg">
          <div class="cardText">
            <span class="cardTitle">Knowledge Center</span>
            <span class="cardInnerText">Learn about the full capabilities of Liveengage. <a
                href="https://knowledge.liveperson.com/">Go there <b>></b></a></span>
          </div>
        </div>
        <div class="secondConfirmCard">
          <img class="secondConfirmCardImg" src="img/icon-dev.svg">
          <div class="cardText">
            <span class="cardTitle">Technical Resources</span>
            <span class="cardInnerText">Learn about LiveEngage APIs, SDKs, and tools. <a
                href="https://developers.liveperson.com/">Go there <b>></b></a></span>
          </div>
        </div>
      </div>
    </div>
    <div id="thirdPanel">
      <div id="thirdTitle">Free Trial Account FAQ</div>
      <div class="subjectRow">
        <div class="answerColumn">
          <div class="answerRow">
            <div class="answerTitle">What are the capabilities and limitations of trial accounts?</div>
            <div class="answerContent">Trial accounts utilize the same services as paid accounts but are not intended
              for commercial use. They provide support for web messaging, SMS messaging, Facebook Messenger,
              Conversation Builder and LivePerson Functions but are limited to a maximum of 2 users/agents, 1000
              conversations per month, expire after 45-days, and bots can only be deployed with web messaging. You can
              upgrade a trial account to a paid account at anytime. If you need more time with LiveEngage but are not
              yet ready to upgrade, you can also create a new trial account.</div>
          </div>
          <div class="answerRow">
            <div class="answerTitle">How can I upgrade my free trial account?</div>
            <div class="answerContent">If your needs expand or you want to accomplish something that isn't available on
              your trial account, you can upgrade at any time. To do so, visit <a
                href="www.liveperson.com">liveperson.com</a> and click on the conversation bubble on the bottom right to
              start a conversation with our sales team. <br><br>Alternatively, you can talk with us using the Connection
              Area/Contact LivePerson tab <img class="inlineImage" src="img/tab-contact-lp.png" /> inside of LiveEngage.
              We'll help you to choose and upgrade to the right LiveEngage package for your business.</div>
          </div>
        </div>
      </div>
    </div>
    <div id="confirmationFooter">
      <div id="footerText">
        <span class="footerbottomspan">&copy; 2019 LivePerson Inc. All rights reserved.</span>
        <div>
          <a href="https://www.liveperson.com/policies/copyright">Copyright</a>
          <a href="https://www.liveperson.com/policies/privacy">Privacy Policy</a>
          <a href="https://www.liveperson.com/policies/terms-of-use">Terms of Use</a>
          <a href="https://www.liveperson.com/policies/gdpr-data-privacy/">GDPR</a>
        </div>
      </div>
    </div>
  </div>

</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}

</html>