<!DOCTYPE html>
<head>
{% include registerHead.html %}
</head>
<body>
<div id="registerWrapper">
  <div id="registerHeader"><img id="registerLogo" src="img/liveengage-logo.svg" /></div>
  <div id="registerContent">
    <span id="registerTitle">{{ page.pagename }}</span>
    <span id="registerSub">{{ page.subtitle }}</span>
    <div id="formContainer">
      <form id="registerForm">
        <input class="mandatory" type="text" id="firstName" placeholder="First Name" />
        <input class="mandatory" type="text" id="lastName" placeholder="Last Name" />
        <select id="region" name="country" class="form-control">
            <option value="" disabled selected>Region</option>
            <option value="z1">The Americas</option>
            <option value="z2">Europe, Middle East, and Africa</option>
            <option value="z3">Asia Pacific</option>
        </select>
        <input class="mandatory" type="text" id="emailAddress" placeholder="Email Address" />
        <input class="mandatory passwordField" type="password" id="createPassword" placeholder="Create Password" />
        <input class="mandatory passwordField" type="password" id="confirmPassword" placeholder="Confirm Password" />
        <div id="checkboxContainer"><input type="checkbox" onclick="showPassword()"><span>Show Password</span></div>
        <span id="passwordReq"><b>Password requirements</b>:Minimum of 8 characters, at least one uppercase letter, one number,and one special character ~!@#$%^&*()<>,.;:/?=</span>
      </form>
      <hr class="formDivider" />
      <div id="captchaContainer">
        <div class="g-recaptcha" data-sitekey="6LfEsasUAAAAAPq4iL8Ayn_9QX7DVy-E7xOG2QeF" data-callback="enableBtn" data-expired-callback="disableBtn"></div>
        <div id="byClicking"><input type="radio"><span> By clicking "Start Free Trial", I agree to the <a href="https://www.liveperson.com/policies/partner-terms-and-conditions">Developer Terms of Use</a>, <a href="https://www.liveperson.com/policies/apitou">API Terms of Use</a>, and <a href="https://www.liveperson.com/policies/privacy">Privacy Policy</a></span></div>
        <div id="registerContainer"><div id="registerButton"><span>Start Free Trial</span></div><img id="loader" src="img/oval.svg"></div>
        <span class="conditionButton" id="invalidEmail">Please enter a valid email address!</span>
        <span class="conditionButton" id="passwordErrorMatch">Your password and confirmation password don't match!</span>
        <span class="conditionButton" id="passwordTooShort">Please enter a password at least 8 characters long</span>
        <span class="conditionButton" id="passwordErrorStrength">Your password does meet the password requirements</span>
        <span class="conditionButton" id="allFields">Please fill out all the fields.</span>
        <span class="conditionButton" id="agreeButton">Please agree to the terms & conditions by clicking the button above.</span>
        <span class="conditionButton success" id="successMessage">Looking good! Creating your account now, just a moment.</span>
      </div>
  </div>
  </div>
</div>
</body>
</html>
